<dx-validation-group #creditNoteGroup>
  <div class="salary-grid-wrapper" style="padding: 0 10px">
    <div class="grid-container">
      <dx-data-grid
        #itemsGridRef
        [dataSource]="creditFormData.NOTE_DETAIL"
        [showBorders]="true"
        [showColumnLines]="true"
        [columnAutoWidth]="false"
        [wordWrapEnabled]="false"
        [rowAlternationEnabled]="true"
        [headerFilter]="{ visible: true }"
        [allowColumnReordering]="true"
        [showColumnHeaders]="true"
        [allowColumnResizing]="true"
        [height]="'70vh'"
        [columnResizingMode]="'nextColumn'"
        [headerFilter]="{ visible: true }"
        [scrolling]="{ mode: 'virtual' }"
        rowAlternationInterval="2"
        [selection]="{ mode: 'single' }"
        [editing]="{
          mode: 'cell',
          allowUpdating: true,
          allowDeleting: true,
          allowAdding: true,
          useIcons: true,
        }"
        (onEditorPreparing)="onEditorPreparing($event)"
        (onRowRemoving)="onRowRemoving($event)"
      >
        <dxo-load-panel [showPane]="false"></dxo-load-panel>
        <dxo-filter-builder [allowHierarchicalFields]="true">
        </dxo-filter-builder>
        <dxo-toolbar>
          <div
            class="stacked-toolbar-group"
            style="display: flex; flex-direction: column; gap: 2px"
          ></div>
          <dxi-item location="before" locateInMenu="auto">
            <div
              class="stacked-toolbar-group"
              style="display: flex; flex-direction: column; gap: 5px"
            >
              <div style="display: flex; align-items: baseline; gap: 5px">
                <dx-text-box
                  [(value)]="docNo"
                  label="Doc No"
                  labelMode="floating"
                  [width]="200"
                  [readOnly]="true"
                ></dx-text-box>

                <div style="width: 405px">
                  <dx-select-box
                    *ngIf="showSubType"
                    [dataSource]="subTypeList"
                    displayExpr="SUB_TYPE_NAME"
                    valueExpr="SUB_TYPE_ID"
                    label="Select Subtype"
                    labelMode="floating"
                    placeholder="Select Subtype"
                    [width]="'100%'"
                    (onValueChanged)="onSubTypeChange($event)"
                  >
                  </dx-select-box>
                </div>
              </div>

              <div style="display: flex; align-items: baseline; gap: 5px">
                <dx-select-box
                  #distributorRef
                  [(value)]="selectedDistributorId"
                  [dataSource]="distributorList"
                  displayExpr="DESCRIPTION"
                  valueExpr="ID"
                  [width]="405"
                  [searchEnabled]="true"
                  label="Customer"
                  labelMode="floating"
                  (onKeyDown)="onCustomerKeyDown($event, 'Dealer')"
                  (onValueChanged)="onDistributorSelected($event)"
                ></dx-select-box>
                <dx-select-box
                  [value]="creditFormData.INVOICE_NO"
                  [items]="pendingInvoices"
                  displayExpr="INVOICE_NO"
                  valueExpr="INVOICE_NO"
                  label="Select Invoice"
                  labelMode="floating"
                  placeholder="Select Invoice No."
                  [width]="200"
                  (onFocusIn)="openInvoicePopup()"
                ></dx-select-box>
              </div>
            </div>
          </dxi-item>

          <dxi-item location="after" locateInMenu="auto">
            <div class="stacked-toolbar-group"></div>
          </dxi-item>
          <dxi-item location="after" locateInMenu="auto">
            <div
              class="stacked-toolbar-group"
              style="
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: flex-end;
              "
            >
              <!-- Row 1: Date Field -->
              <dx-text-box
                [(value)]="creditFormData.TRANS_DATE"
                label="Date"
                labelMode="floating"
                [width]="200"
                displayFormat="dd-MM-yyyy"
              ></dx-text-box>

              <!-- Row 2: Due Amount + Plus Button -->
              <div style="display: flex; align-items: center; gap: 5px">
                <dx-number-box
                  #dueAmountRef
                  label="Due Amount"
                  labelMode="floating"
                  [(value)]="creditFormData.DUE_AMOUNT"
                  [format]="{ type: 'fixedPoint', precision: 2 }"
                  [width]="200"
                  [showSpinButtons]="true"
                  [inputAttr]="{ style: 'text-align: right;' }"
                  style="margin-top: 4px"
                  (onKeyDown)="onDueAmountKeyDown($event)"
                  [readOnly]="true"
                ></dx-number-box>

                <dx-button
                  type="default"
                  stylingMode="contained"
                  hint="Add Row"
                  style="margin-top: 4px"
                  (onClick)="addNewManualRow()"
                >
                  <div
                    *dxTemplate="let data of 'content'"
                    class="add-btn-content"
                  >
                    <span
                      class="iconify"
                      data-icon="formkit:add"
                      data-width="20"
                      data-height="20"
                    ></span>

                    <span class="add-text">Add Row</span>
                  </div></dx-button
                >
              </div>
            </div>
          </dxi-item>
        </dxo-toolbar>
        <dxi-column
          dataField="SL_NO"
          caption="Sl No"
          width="80"
          [allowEditing]="false"
        ></dxi-column>
        <dxi-column
          dataField="ledgerCode"
          caption="Ledger Code"
          [editorType]="'dxSelectBox'"
          [lookup]="{
            dataSource: ledgerList,
            valueExpr: 'HEAD_CODE',
            displayExpr: 'HEAD_CODE',
            searchEnabled: true,
          }"
        ></dxi-column>

        <dxi-column
          dataField="ledgerName"
          caption="Ledger Name"
          [editorType]="'dxSelectBox'"
          [lookup]="{
            dataSource: ledgerList,
            valueExpr: 'HEAD_NAME',
            displayExpr: 'HEAD_NAME',
            searchEnabled: true,
          }"
        ></dxi-column>

        <dxi-column
          dataField="particulars"
          caption="Particulars"
          [editorOptions]="{ maxLength: 250 }"
        >
          <dxi-validation-rule
            type="stringLength"
            [max]="250"
            message="Max 250 characters allowed"
          ></dxi-validation-rule>
        </dxi-column>
        <!-- <dxi-column
          dataField="HSN_CODE"
          caption="HSN Code"
          dataType="string"
        ></dxi-column> -->
        <dxi-column
          dataField="Amount"
          caption="Amount"
          dataType="number"
          [format]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-column>
        <!-- <dxi-column
          dataField="GST_PERC"
          [caption]="vatTitle + '%'"
          dataType="number"
        >
        </dxi-column> -->
        <dxi-column
          dataField="GST_PERC"
          [caption]="vatTitle + '%'"
          alignment="right"
          [calculateDisplayValue]="getGstDisplayValue"
          [format]="{ type: 'fixedPoint', precision: 0 }"
          [lookup]="{
            dataSource: VatClass,
            valueExpr: 'ID',
            displayExpr: 'DESCRIPTION',
          }"
        >
        </dxi-column>

        <dxi-column dataField="GST_ID" [visible]="false"></dxi-column>

        <!-- <dxi-column
          dataField="CGST"
          caption="CGST"
          dataType="number"
          [visible]="showCGST"
          [allowEditing]="false"
        ></dxi-column>

        <dxi-column
          dataField="SGST"
          caption="SGST"
          dataType="number"
          [visible]="showSGST"
          [allowEditing]="false"
        ></dxi-column> -->
        <dxi-column
          dataField="gstAmount"
          [caption]="vatTitle + ' Amount'"
          dataType="number"
          [format]="{ type: 'fixedPoint', precision: 2 }"
          [calculateCellValue]="calculateTaxAmount"
        >
        </dxi-column>
        <dxi-column
          dataField="TOTAL"
          caption="Total"
          dataType="number"
          [visible]="true"
          [allowEditing]="false"
          [format]="{ type: 'fixedPoint', precision: 2 }"
          [calculateCellValue]="calculateTotalAmount"
        ></dxi-column>
        <dxi-column type="buttons">
          <dxi-button name="delete" width="80"></dxi-button>
        </dxi-column>

        <dxo-summary>
          <dxi-total-item
            column="Amount"
            summaryType="sum"
            valueFormat="#,##0.00"
            displayFormat="Total: {0}"
            alignment="right"
          >
          </dxi-total-item>

          <dxi-total-item
            column="gstAmount"
            summaryType="sum"
            valueFormat="#,##0.00"
            displayFormat="Total: {0}"
            alignment="right"
          >
          </dxi-total-item>
          <dxi-total-item
            column="TOTAL"
            summaryType="sum"
            valueFormat="#,##0.00"
            displayFormat="Total: {0}"
            alignment="right"
          >
          </dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
      <!-- Narration Box Below the Grid -->
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 5px;
        "
      >
        <!--  LEFT SIDE: Vehicle Number + Narration -->
        <div style="display: flex; gap: 10px; width: 750px">
          <!-- Narration -->
          <dx-text-box
            label="Narration"
            labelMode="floating"
            [(value)]="creditFormData.NARRATION"
            [width]="400"
          ></dx-text-box>

          <!-- Vehicle Number -->
          <dx-text-box
            label="Vehicle Number"
            labelMode="floating"
            [(value)]="creditFormData.VEHICLE_NO"
            [width]="200"
          ></dx-text-box>
        </div>

        <!--  RIGHT SIDE: Round Off + Net Amount -->
        <div style="display: flex; align-items: center; gap: 15px">
          <div class="approve-container" *ngIf="canApprove">
            <dx-check-box
              text="Round Off"
              [(value)]="creditFormData.ROUND_OFF"
              (onValueChanged)="onRoundOffChange()"
            ></dx-check-box>
          </div>
          <dx-text-box
            [value]="netAmountString"
            label="Net Amount"
            labelMode="floating"
            [width]="200"
            [readOnly]="true"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [inputAttr]="{ style: 'text-align: right;' }"
          ></dx-text-box>
        </div>
        <dx-check-box
          text="Approve"
          [(value)]="creditFormData.IS_APPROVED"
          style="margin-top: 18px"
        ></dx-check-box>
      </div>

      <div style="margin-top: 15px; padding: 0 0 0 5px"></div>
    </div>
  </div>
</dx-validation-group>

<div class="form-popup-buttons-container">
  <div class="popup-footer">
    <!-- <div>
      <dx-check-box
        text="Approve"
        [(value)]="creditFormData.IS_APPROVED"
        style="margin-left: 20px"
      ></dx-check-box>
    </div> -->
    <dx-button
      text="Cancel"
      (onClick)="cancel()"
      stylingMode="outlined"
      type="normal"
    ></dx-button>
    <dx-button
      #saveButtonRef
      id="saveBtn"
      [text]="
        isSaving
          ? creditFormData.IS_APPROVED
            ? 'Committing…'
            : 'Saving…'
          : creditFormData.IS_APPROVED
            ? 'Save'
            : 'Save'
      "
      [disabled]="isSaving"
      (onClick)="saveCreditNote()"
      stylingMode="contained"
      type="default"
    ></dx-button>
  </div>
</div>

<dx-popup
  [(visible)]="invoicePopupVisible"
  [width]="600"
  [height]="400"
  title="Select Invoice"
>
  <dx-data-grid
    [dataSource]="pendingInvoices"
    [showBorders]="true"
    [showColumnLines]="true"
    [height]="'40vh'"
    [hoverStateEnabled]="true"
    [selection]="{ mode: 'single' }"
    (onRowClick)="selectInvoice($event)"
  >
    <dxo-editing mode="popup"></dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="standard"></dxo-scrolling>
    <dxo-filter-row
      [visible]="isFilterRowVisible"
      [applyFilter]="auto"
    ></dxo-filter-row>
    <dxo-toolbar> </dxo-toolbar>
    <dxi-column dataField="INVOICE_NO" caption="Invoice No"></dxi-column>
    <dxi-column dataField="ITEM_NAME" caption="Item"></dxi-column>
    <dxi-column dataField="DATE" caption="Date"></dxi-column>
    <dxi-column dataField="NET_AMOUNT" caption="Net Amount"></dxi-column>
    <dxi-column dataField="BALANCE_AMOUNT" caption="Balance"></dxi-column>
  </dx-data-grid>
</dx-popup>
