<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'75vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true
      }"
      class="grid theme-dependent"
      [dataSource]="filteredTrOutList"
      [showBorders]="true"
      [showColumnLines]="true"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [filterRow]="{ visible: false }"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      (onToolbarPreparing)="onToolbarPreparing($event)"
      (onEditingStart)="onEditTransferOut($event)"
      (onCellPrepared)="onCellPrepared($event)"
      (onRowRemoving)="onDeleteTrOuT($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      ></dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Transfer Out</div>
        </dxi-item>

        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [visible]="canAdd"
          [options]="addButtonOptions"
        ></dxi-item>
      </dxo-toolbar>
      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="180"
        >
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>
      <dxi-column
        dataField="ISSUE_NO"
        caption="Transfer No."
        [allowEditing]="false"
        width="120"
      ></dxi-column>
      <dxi-column
        dataField="TRANSFER_DATE"
        caption="Transfer Date"
        [allowEditing]="false"
        dataType="date"
        width="120"
        [format]="{ type: 'custom', formatter: formatDate }"
      >
      </dxi-column>

      <dxi-column
        dataField="STORE_NAME"
        caption="Destination Store"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="NET_AMOUNT"
        caption="Net amount"
        [allowEditing]="false"
        format="#,##0.00"
        width="120"
      ></dxi-column>
      <dxi-column
        dataField="NARRATION"
        caption="Narration"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        caption="Status"
        dataField="STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false
        }"
      >
      </dxi-column>

      <dxi-column type="buttons"></dxi-column>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  [(visible)]="showCustomDatePopup"
  [showTitle]="true"
  title="Select Dates"
  [width]="350"
  [height]="170"
  [dragEnabled]="false"
>
  <div>
    <div class="date-range-container">
      <dx-date-box
        [(value)]="customStartDate"
        type="date"
        width="300"
        placeholder="From Date"
      >
      </dx-date-box>

      <dx-date-box
        [(value)]="customEndDate"
        type="date"
        placeholder="To Date"
        width="300"
      >
      </dx-date-box>
    </div>

    <div class="button-container">
      <dx-button
        text="Apply"
        type="default"
        (onClick)="applyCustomDateFilter()"
      ></dx-button>
    </div>
  </div>
</dx-popup>

<dx-popup
  [(visible)]="isAddTransferOut"
  [width]="'75vw'"
  [height]="'85vh'"
  title="Transfer Out"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isAddTransferOut">
    <app-transfer-out-inventory-add
      (popupClosed)="handleClose()"
    ></app-transfer-out-inventory-add>
  </ng-container>
</dx-popup>

<dx-popup
  [(visible)]="isEditTransferOut"
  [width]="'75vw'"
  [height]="'90vh'"
  title="Transfer Out"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isEditTransferOut">
    <app-transfer-out-inventory-add
      [isEditing]="true"
      [EditingResponseData]="selectedTrOut"
      [isReadOnlyMode]="isReadOnlyTrOut"
      (popupClosed)="handleClose()"
    ></app-transfer-out-inventory-add>
  </ng-container>
</dx-popup>
