.form-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.form-item {
  flex: 0 0 auto;
}

.applybtn {
  margin-left: auto;
}
::ng-deep .dx-datagrid-export-button .dx-icon.dx-icon-custom-export {
  background-image: url("/assets/icons/solar--export-bold.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  font-size: 0 !important;
  color: var(--icon-color) !important;
}
.export-btn .grid .dx-button-mode-text {
  margin-top: 5px;
}
