// ::ng-deep .dx-datagrid .dx-toolbar {
//   min-height: 80px !important; /* Expand height */
//   align-items: flex-start !important; /* Top-align content */
// }

// ::ng-deep .custom-toolbar-stack {
//   display: flex;
//   flex-direction: column;
//   gap: 6px;
// }

// ::ng-deep .grid-header {
//   font-size: 18px;
//   font-weight: 600;
// }
// .toolbar-margin-top {
//   margin-top: 30px; /* or any value you prefer */
// }

.date-range-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;
}

.date-row {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
}

