<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="StateDataSource"
    (onRowRemoving)="onRowRemoving($event)"
    [width]="'100%'"
    [height]="'82vh'"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [showColumnHeaders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    [showColumnLines]="true"
    [scrolling]="{ mode: 'virtual' }"
    (onEditingStart)="onEditingRow($event)"
    (onExporting)="onExporting($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-filter-row
      [visible]="isFilterRowVisible"
      [applyFilter]="auto"
    ></dxo-filter-row>
    <dxo-header-filter [visible]="isFilterOpened">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <dxo-filter-builder [allowHierarchicalFields]="true"> </dxo-filter-builder>

    <dxo-filter-row
      [visible]="isFilterRowVisible"
      [applyFilter]="auto"
    ></dxo-filter-row>

    <dxo-export [enabled]="true" [formats]="['xlsx']"> </dxo-export>

    <dxo-editing
      mode="popup"
      [allowUpdating]="canEdit"
      [allowDeleting]="canDelete"
    >
      <dxo-form [colCount]="1"> </dxo-form>
    </dxo-editing>

    <dxo-toolbar>
      <dxi-item location="before">
        <div
          class="grid-header"
          style="
            font-weight: 600;
            font-size: 20px;
            margin-left: 12px;
            padding: -3px;
            margin-right: 3px;
          "
        >
          State
        </div>
      </dxi-item>
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="searchButtonOptions"
      ></dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="refreshButtonOptions"
      ></dxi-item>
      <dxi-item location="after">
        <div class="toolbar-divider"></div>
      </dxi-item>
      <dxi-item
        name="exportButton"
        location="after"
        cssClass="export-btn"
      ></dxi-item>
      <!-- Divider -->

      <dxi-item
        [visible]="canAdd"
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="STATE_CODE" caption="State Codes"></dxi-column>
    <dxi-column dataField="STATE_NAME" caption="State Name">
      <dxi-validation-rule type="required" message="State is required">
        <dxi-validation-rule type="required" message="State is required">
        </dxi-validation-rule>
      </dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="COUNTRY_ID" caption="Country Name">
      <dxo-lookup
        [dataSource]="CountryDropdownData"
        displayExpr="COUNTRY_NAME"
        valueExpr="ID"
      >
        <dxi-validation-rule type="required" message="Country is required">
          <dxi-validation-rule type="required" message="Country is required">
          </dxi-validation-rule>
        </dxi-validation-rule>
      </dxo-lookup>
    </dxi-column>
  </dx-data-grid>

  <form-popup
    [(visible)]="isAddStatePopupOpened"
    (save)="onClickSaveState()"
    titleText="New State"
    [showApprove]="false"
    (visibleChange)="!$event && CloseEditForm()"
  >
    <div ngIf="isAddStatePopupOpened">
      <app-state-form></app-state-form>
    </div>
  </form-popup>

  <dx-popup
    [(visible)]="isEditPopupOpened"
    title="Edit State"
    [height]="300"
    [width]="500"
    (onHiding)="CloseEditForm()"
  >
    <div>
      <app-state-edit
        (formClosed)="CloseEditForm()"
        [selectState]="selectedState"
        [stateDataList]="stateArray"
      >
      </app-state-edit>
    </div>
  </dx-popup>
</div>
