<div class="view-wrappers">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <!-- DevExtreme Loading Indicator -->
  </div>
  <div>
    <dx-data-grid
      #dataGrid
      noDataText=" "
      [width]="'100%'"
      [height]="originalGridHeight"
      class="grid theme-dependent"
      [dataSource]="itemStoresList"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      [editing]="{
        mode: 'cell',
        allowUpdating: true,
      }"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
      }"
      keyExpr="ID"
      (onSelectionChanged)="onSelectionChanged($event)"
      [(selectedRowKeys)]="selectedRowKeys"
      (onRowClick)="onRowClick($event)"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-scrolling
        mode="standard"
        columnRenderingMode="virtual"
      ></dxo-scrolling>
      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
      ></dxo-search-panel>
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
      ></dxo-search-panel>
      <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true">
      </dxo-editing>
      <dxo-toolbar>
        <dxi-item location="before">
          <div
            style="
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 10px;
            "
          >
            <!-- 🔹 Heading -->
            <!-- <div class="grid-header">{{ heading }}</div> -->

            <!-- 🔹 Main Row -->
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 20px;
                width: 100%;
              "
            >
              <!-- ================= LEFT SIDE ================= -->
              <div
                style="
                  display: flex;
                  align-items: flex-start;
                  gap: 20px;
                  flex-wrap: wrap;
                "
              >
                <!-- From & To Date -->
                <div style="display: flex; flex-direction: column; gap: 10px">
                  <div style="display: flex; align-items: center; gap: 5px">
                    <label style="width: 90px">From Date:</label>
                    <dx-date-box
                      [(value)]="fromDate"
                      [type]="'date'"
                      displayFormat="yyyy-MM-dd"
                      placeholder="Select from date"
                      [min]="minDate"
                      width="150"
                      (onValueChanged)="checkDateSelection($event)"
                    >
                    </dx-date-box>
                  </div>

                  <div style="display: flex; align-items: center; gap: 5px">
                    <label style="width: 90px">To Date:</label>
                    <dx-date-box
                      [(value)]="toDate"
                      [type]="'date'"
                      displayFormat="yyyy-MM-dd"
                      placeholder="Select to date"
                      width="150"
                      [min]="fromDate"
                      (onValueChanged)="checkDateSelection($event)"
                      ><dx-validator>
                        <dxi-validation-rule
                          type="custom"
                          [validationCallback]="validateToDate"
                          message="To Date must be greater than From Date"
                        >
                        </dxi-validation-rule> </dx-validator
                    ></dx-date-box>
                  </div>
                  <div style="display: flex; align-items: center; gap: 5px">
                    <label style="width: 90px">Narration:</label>

                    <dx-text-box
                      [(value)]="narration"
                      placeholder="Enter Remarks"
                      width="150"
                      class="mt-2"
                    ></dx-text-box>
                  </div>
                </div>

                <!-- Time -->
                <div style="display: flex; flex-direction: column; gap: 15px">
                  <dx-switch
                    [(value)]="isHappyHoursEnabledvalue"
                    (onValueChanged)="onHappyHoursChanged($event)"
                  ></dx-switch>
                  <dx-date-box
                    [(value)]="fromTime"
                    type="time"
                    displayFormat="HH:mm"
                    pickerType="rollers"
                    placeholder="From Time"
                    width="90"
                    [disabled]="!isHappyHoursEnabledvalue"
                    (onValueChanged)="onFromTimeChanged($event)"
                  ></dx-date-box>

                  <dx-date-box
                    [(value)]="toTime"
                    type="time"
                    displayFormat="HH:mm"
                    pickerType="rollers"
                    placeholder="To Time"
                    width="90"
                    [disabled]="!isHappyHoursEnabledvalue"
                    (onValueChanged)="onToTimeChanged($event)"
                  ></dx-date-box>
                </div>

                <!-- Days + Store -->
                <div style="display: flex; flex-direction: column; gap: 10px">
                  <dx-tag-box
                    [items]="daysOfWeek"
                    [(value)]="selectedDays"
                    displayExpr="text"
                    valueExpr="value"
                    placeholder="Select Days"
                    [showSelectionControls]="true"
                    [multiline]="false"
                    [width]="300"
                    [searchEnabled]="true"
                    (onValueChanged)="onSelectionChangedDAYS($event)"
                  ></dx-tag-box>

                  <dx-tag-box
                    [items]="store"
                    [(value)]="selectedStoreId"
                    displayExpr="STORE_NAME"
                    valueExpr="ID"
                    placeholder="Select Store"
                    [showSelectionControls]="true"
                    [multiline]="false"
                    [width]="300"
                    [searchEnabled]="true"
                    (onValueChanged)="onDropdownValueChanged($event)"
                  ></dx-tag-box>
                  <dx-select-box
                    *ngIf="is_promotion_level"
                    [(value)]="price_level"
                    [items]="priceLevels"
                    displayExpr="text"
                    valueExpr="value"
                    placeholder="Price level"
                    [searchEnabled]="true"
                    (onValueChanged)="onPriceLevel($event)"
                  ></dx-select-box>
                </div>
              </div>

              <!-- ================= RIGHT SIDE (BUTTONS) ================= -->
              <div style="display: flex; flex-direction: column; gap: 5px">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 5px;
                  "
                >
                  <!-- <dx-button
                    text="Cancel"
                    hint="Cancel"
                    stylingMode="outlined"
                    type="normal"
                    width="100"
                    (onClick)="Cancel()"
                  ></dx-button> -->

                  <dx-button
                    icon="formula"
                    text="Promotion"
                    hint="Set Promotion"
                    stylingMode="contained"
                    type="default"
                    (onClick)="setPromotion(dataGrid.selectedRowKeys)"
                  ></dx-button>
                </div>
                <div class="d-flex">
                  <!-- <dx-check-box
                    *ngIf="canApprove"
                    [(value)]="approveValue"
                    text="Approve"
                    style="margin: 10px"
                  ></dx-check-box> -->
                  <dx-button
                    text="Save"
                    hint="Save"
                    stylingMode="contained"
                    type="default"
                    width="100"
                    (onClick)="savePromotion()"
                  ></dx-button>
                </div>
              </div>
            </div>
          </div>
        </dxi-item>
      </dxo-toolbar>
      <dxi-column
        dataField="BARCODE"
        caption="Barcode"
        [width]="150"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="DESCRIPTION"
        caption="Description"
        [width]="200"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="DEPT_NAME"
        caption="Department"
        [width]="150"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        alignment="left"
        dataField="CAT_NAME"
        caption="Category"
        [width]="200"
        [allowEditing]="false"
      ></dxi-column>

      <dxi-column
        alignment="right"
        dataField="COST"
        caption="Cost"
        [width]="100"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        alignment="right"
        dataField="SALE_PRICE"
        caption="Price"
        [width]="100"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        alignment="right"
        dataField="PROMOTION_PRICE"
        caption="Promotion Price"
        [width]="150"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2 }"
        [visible]="selectedOption !== 'schemaLevelPromotion'"
      ></dxi-column>
      <dxi-column
        alignment="left"
        dataField="PROMOTION_NAME"
        caption="Schema"
        [width]="200"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        alignment="left"
        dataField="PROMOTION_SCHEMA_ID"
        caption="Schema ID"
        [width]="100"
        [visible]="false"
        [allowEditing]="false"
      ></dxi-column>
    </dx-data-grid>
  </div>
</div>
<div *ngIf="filteredItemStoresList?.length > 0" class="filtered-grid-container">
  <dx-data-grid
    #filteredGrid
    [width]="'100%'"
    [height]="'250px'"
    class="grid theme-dependent"
    [dataSource]="selectedItems"
    [showBorders]="true"
    [columnAutoWidth]="false"
    [wordWrapEnabled]="false"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    keyExpr="ID"
    [editing]="{
      mode: 'cell',
      allowUpdating: true,
    }"
    [selectedRowKeys]="selectedRowForNewList"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-scrolling
      mode="standard"
      columnRenderingMode="virtual"
    ></dxo-scrolling>

    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Items To Get</div>
      </dxi-item>
      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
    </dxo-toolbar>
    <dxi-column
      dataField="BARCODE"
      caption="Barcode"
      [width]="150"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="DESCRIPTION"
      caption="Description"
      [width]="200"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="DEPT_NAME"
      caption="Department"
      [width]="150"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="CAT_NAME"
      caption="Category"
      [width]="150"
      [allowEditing]="false"
    ></dxi-column>

    <dxi-column
      dataField="COST"
      caption="Cost"
      [width]="100"
      [allowEditing]="false"
      [format]="{ type: 'fixedPoint', precision: 2 }"
    ></dxi-column>
    <dxi-column
      dataField="SALE_PRICE"
      caption="Price"
      [width]="100"
      [allowEditing]="false"
      alignment="right"
      [format]="{ type: 'fixedPoint', precision: 2 }"
    ></dxi-column>
    <dxi-column
      dataField="PROMOTION_PRICE"
      caption="Promotion Price"
      [width]="150"
      [allowEditing]="false"
      [format]="{ type: 'fixedPoint', precision: 2 }"
    ></dxi-column>
    <dxi-column
      dataField="PROMOTION_NAME"
      caption="Schema"
      [width]="200"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="PROMOTION_SCHEMA_ID"
      caption="Schema ID"
      [width]="100"
      [visible]="false"
      [allowEditing]="false"
    ></dxi-column>
  </dx-data-grid>
</div>

<!-- Popup For Setting Promotion -->
<dx-popup
  [(visible)]="isVisible"
  [width]="'850'"
  [height]="'500px'"
  title="Set Promotion"
  [showCloseButton]="true"
>
  <div *dxTemplate="let data of 'content'" class="popup-content">
    <dx-radio-group
      [(value)]="selectedMode"
      [items]="[
        { text: 'Price Level Promotion', value: 'price' },
        { text: 'Schema Level Promotion', value: 'schema' },
      ]"
      displayExpr="text"
      valueExpr="value"
      layout="horizontal"
      (onValueChanged)="onModeChange($event)"
    >
    </dx-radio-group>
    <div class="promo-form" [class.disabled]="selectedMode !== 'price'">
      <div class="form-row">
        <label>Promotion</label>
        <dx-text-box
          [(value)]="promotionName"
          [disabled]="selectedMode !== 'price'"
          ><dx-validator>
            <dxi-validation-rule
              type="required"
              message="This field is required"
            ></dxi-validation-rule> </dx-validator
        ></dx-text-box>
      </div>

      <div class="form-row">
        <label>Set Sale Price To</label>
        <dx-select-box
          [(value)]="firstDropdownValue"
          [items]="firstDropdownOptions"
          displayExpr="label"
          valueExpr="value"
          [disabled]="selectedMode !== 'price'"
          [searchEnabled]="true"
        ></dx-select-box>
      </div>

      <div class="form-row">
        <label>Adjustment Type</label>

        <div class="inline-group">
          <dx-select-box
            [(value)]="operationValue"
            [items]="operationOptions"
            width="80"
            displayExpr="label"
            valueExpr="value"
            [disabled]="selectedMode !== 'price'"
            [searchEnabled]="true"
          ></dx-select-box>

          <dx-text-box
            [(value)]="operationInputValue"
            placeholder="Enter value"
            [disabled]="selectedMode !== 'price'"
          ></dx-text-box>
        </div>
      </div>

      <div class="form-row">
        <label>Result Rounding</label>
        <dx-select-box
          [(value)]="roundingValue"
          [items]="roundingOptions"
          displayExpr="text"
          valueExpr="value"
          [disabled]="selectedMode !== 'price'"
          [searchEnabled]="true"
        ></dx-select-box>
      </div>
    </div>
    <div
      class="tab-content mt-3 ms-3"
      [class.disabled]="selectedMode !== 'schema'"
    >
      <div class="form-row">
        <label>Select Schema</label>
        <dx-select-box
          [(value)]="selectedSchemaId"
          [items]="promotionSchema"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          placeholder="Choose Schema"
          width="300"
          [searchEnabled]="true"
          [disabled]="selectedMode !== 'schema'"
          (onValueChanged)="onSchemaChanged($event)"
        ></dx-select-box>
      </div>
    </div>

    <div class="action-buttons">
      <dx-button
        text="Apply"
        stylingMode="contained"
        type="default"
        (onClick)="applyPromotion()"
      ></dx-button>
    </div>
  </div>
</dx-popup>

<!-- Popup For Selecting Items To Get -->
<dx-popup
  [(visible)]="popupForItemsToGet"
  [width]="'850'"
  [height]="'500px'"
  title="Select Items"
  [showCloseButton]="true"
>
  <dx-data-grid
    #filteredGrid
    [width]="'100%'"
    [height]="'350'"
    class="grid theme-dependent"
    [dataSource]="filteredItemStoresList"
    [showBorders]="true"
    [columnAutoWidth]="false"
    [wordWrapEnabled]="false"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    keyExpr="ID"
    [editing]="{
      mode: 'cell',
      allowUpdating: true,
    }"
    [selection]="{
      mode: 'multiple',
      showCheckBoxesMode: 'always',
    }"
    (onSelectionChanged)="onSelectionChangedforNewItem($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-scrolling
      mode="standard"
      columnRenderingMode="virtual"
    ></dxo-scrolling>

    <dxo-header-filter
      [visible]="true"
      [allowSearch]="true"
    ></dxo-header-filter>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Items To Get</div>
      </dxi-item>
      <dxi-item location="after">
        <dx-button
          icon="add"
          hint="Add Items"
          stylingMode="contained"
          type="normal"
          [width]="40"
          (onClick)="AddSelectedItems()"
        >
        </dx-button>
      </dxi-item>
    </dxo-toolbar>

    <dxi-column
      dataField="BARCODE"
      caption="Barcode"
      [width]="150"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="DESCRIPTION"
      caption="Description"
      [width]="200"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="DEPT_NAME"
      caption="Department"
      [width]="200"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="CAT_NAME"
      caption="Category"
      [width]="200"
      [allowEditing]="false"
    ></dxi-column>

    <dxi-column
      dataField="COST"
      caption="Cost"
      [width]="100"
      [allowEditing]="false"
      [format]="{ type: 'fixedPoint', precision: 2 }"
    ></dxi-column>
    <dxi-column
      dataField="SALE_PRICE"
      caption="Price"
      [width]="100"
      [allowEditing]="false"
      alignment="right"
      [format]="{ type: 'fixedPoint', precision: 2 }"
    ></dxi-column>
    <dxi-column
      dataField="PROMOTION_PRICE"
      caption="Promotion Price"
      [width]="100"
      [allowEditing]="false"
      [format]="{ type: 'fixedPoint', precision: 2 }"
    ></dxi-column>
    <dxi-column
      dataField="PROMOTION_NAME"
      caption="Schema"
      [width]="200"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      dataField="PROMOTION_SCHEMA_ID"
      caption="Schema ID"
      [width]="200"
      [visible]="false"
      [allowEditing]="false"
    ></dxi-column>
  </dx-data-grid>
</dx-popup>
