.form-container {
  display: flex;
  flex-direction: column;
   gap: 0.5rem; 
  padding: 1rem;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   gap: 0.5rem; 
  align-items: flex-start;
}

.period-row {
  display: flex;
  gap: 0.5rem; /* spacing between fields */
  align-items: flex-start;
}

.period-row > * {
  flex-shrink: 0; /* prevent resizing below the width attribute */
}

.fixed-footer {
  display: flex;
  justify-content: flex-end; /* push buttons to right */
  gap: 0.5rem; /* space between buttons */
  padding: 1rem; /* optional: breathing room */
}

.total-expense {
  display: flex;
  justify-content: flex-end; /* moves number box to the right */
  padding-right: 1rem; /* optional: small spacing from form edge */
}



.section-title {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
}


.calendar-btn {
  margin-top: 10px; /* adjust as needed */
}

.calendar-btn .dx-icon {
  font-size: 1.5rem; /* increase icon size */
}
