CREATE PROCEDURE SP_GetPurchaseOrderDataset AS BEGIN SET NOCOUNT ON; SELECT H.PO_NO, H.PO_DATE, H.SHIP_TO, H.CONTACT_NAME, H.CONTACT_MOBILE, C.DESCRIPTION AS CURRENCY_ID, H.DELIVERY_DATE, H.GROSS_AMOUNT AS HEADER_TAXABLE, H.TAX_AMOUNT AS HEADER_TAX, H.NET_AMOUNT AS HEADER_TOTAL, S.SUPP_NAME, S.CITY AS SUPP_CITY, S.VAT_REGNO AS SUPP_VAT, ST.VAT_REGNO AS STORE_VAT, I.ITEM_CODE, D.ITEM_DESC, D.QUANTITY, D.PRICE, D.AMOUNT AS DETAIL_TAXABLE, D.TAX_PERCENT, D.TAX_AMOUNT AS DETAIL_TAX, D.TOTAL_AMOUNT AS DETAIL_TOTAL FROM TB_PO_HEADER H LEFT JOIN TB_SUPPLIER S ON H.SUPP_ID = S.ID LEFT JOIN TB_STORES ST ON H.STORE_ID = ST.ID LEFT JOIN TB_PO_DETAIL D ON H.ID = D.PO_ID LEFT JOIN TB_ITEMS I ON D.ITEM_ID = I.ID LEFT JOIN TB_CURRENCY C ON H.CURRENCY_ID = C.ID; END
