<dx-validation-group #journalVoucherGroup>
  <div
    class="invoice-wrapper"
    style="
      height: 85vh;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
    "
  >
    <div
      class="stacked-toolbar-group"
      style="
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 6px;
        margin-left: 20px;
        margin-right: 20px;
      "
    >
      <!-- ROW 1 -->
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-top: 15px;
        "
      >
        <!-- Left -->
        <div style="display: flex; gap: 10px">
          <dx-date-box
            label="Date"
            type="date"
            labelMode="floating"
            [(value)]="invoiceFormData.TRANS_DATE"
            [width]="200"
            [displayFormat]="'dd-MM-yyyy'"
            [readOnly]="true"
          >
          </dx-date-box>

          <dx-text-box
            label="Doc No. *"
            labelMode="floating"
            [(value)]="invoiceFormData.DOC_NO"
            [width]="200"
            [readOnly]="true"
          >
          </dx-text-box>
        </div>

        <!-- Right -->
        <div style="display: flex; align-items: flex-end; gap: 8px">
          <dx-select-box
            [dataSource]="customerList"
            [(value)]="invoiceFormData.CUSTOMER_ID"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [width]="300"
            label="Customer"
            labelMode="floating"
            [readOnly]="isEditing"
            (onValueChanged)="onCustomerChanged($event)"
          >
          </dx-select-box>

          <dx-button
            icon="plus"
            stylingMode="contained"
            type="default"
            [visible]="!isReadOnlyMode"
            (onClick)="onAddRow()"
          >
          </dx-button>
        </div>
      </div>

      <!-- ROW 2 -->
      <div
        style="display: flex; justify-content: space-between; margin-top: 10px"
      >
        <!-- Left -->
        <div style="display: flex; gap: 10px">
          <dx-text-box
            label="Reference No."
            labelMode="floating"
            [(value)]="invoiceFormData.REF_NO"
            [width]="200"
            [readOnly]="isReadOnlyMode"
          >
          </dx-text-box>

          <dx-select-box
            [dataSource]="filteredStoreList"
            [(value)]="invoiceFormData.STORE_ID"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [width]="200"
            label="Store"
            labelMode="floating"
            [readOnly]="isEditing"
            (onValueChanged)="onStoreChanged($event)"
          >
          </dx-select-box>
        </div>

        <!-- Right -->
        <div style="display: flex; align-items: flex-end; gap: 8px">
          <dx-text-box
            [(value)]="invoiceFormData.SALESMAN"
            [width]="300"
            label="Salesman"
            labelMode="floating"
            [readOnly]="true"
          >
          </dx-text-box>
          <dx-button
            [width]="180"
            class="blue-outline-btn"
            (onClick)="openDeliveryNotePopup()"
            [disabled]="!invoiceFormData.CUSTOMER_ID"
          >
            <div *dxTemplate="let data of 'content'">
              <div style="display: flex; align-items: center; gap: 6px">
                <span
                  class="iconify"
                  data-icon="mingcute:time-line"
                  data-width="20"
                  data-height="20"
                ></span>
                <span>Pending Deliveries</span>
              </div>
            </div>
          </dx-button>
          <!-- <dx-button
            text="Delivery Note"
            icon="selectall"
            stylingMode="contained"
            type="default"
            [visible]="!isReadOnlyMode"
            (onClick)="openDeliveryNotePopup()"
          >
          </dx-button> -->
        </div>
      </div>
    </div>
    <div class="salary-grid-wrapper" style="padding: 0 20px">
      <div class="grid-container">
        <dx-data-grid
          #itemsGridRef
          [dataSource]="invoiceFormData.Details"
          [showBorders]="true"
          [showRowLines]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true, allowSearch: true }"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [allowColumnResizing]="true"
          [height]="'50vh'"
          [width]="'auto'"
          [columnResizingMode]="'nextColumn'"
          [scrolling]="{ mode: 'virtual' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
          [editing]="{
            mode: 'cell',
            allowUpdating: true,
            allowDeleting: !isReadOnlyMode,
            allowAdding: false,

            texts: { addRow: '' },
          }"
          (onRowRemoved)="onRowRemoved($event)"
          (onEditorPreparing)="onEditorPreparing($event)"
          (onRowPrepared)="onRowPrepared($event)"
        >
          <dxo-filter-builder [allowHierarchicalFields]="true">
          </dxo-filter-builder>
          <dxi-column
            dataField="DN_NO"
            caption="Delivery No"
            [calculateCellValue]="getDeliveryNo"
            [allowEditing]="false"
            width="120"
          >
          </dxi-column>
          <dxi-column
            dataField="ITEM_ID"
            caption="Item ID"
            [allowEditing]="!isReadOnlyMode"
            [visible]="false"
          ></dxi-column>

          <dxi-column
            dataField="ITEM_CODE"
            caption="Item Code"
            [allowEditing]="!isReadOnlyMode"
            [editorType]="'dxSelectBox'"
            headerCellTemplate="itemCodeHeader"
            [calculateDisplayValue]="calculateItemCode"
            [lookup]="{
              dataSource: itemsDataSource,
              valueExpr: 'ITEM_ID',
              displayExpr: 'ITEM_CODE',
              searchEnabled: true,
              searchMode: 'contains',
              minSearchLength: 0,
              showDataBeforeSearch: true,
              paginate: true,
              pageSize: 50,
            }"
          ></dxi-column>
          <div *dxTemplate="let data of 'itemCodeHeader'">
            <div style="text-align: center; line-height: 16px">
              Item<br />Code
            </div>
          </div>
          <dxi-column
            dataField="DESCRIPTION"
            caption="Description"
            [allowEditing]="!isReadOnlyMode"
            [editorType]="'dxSelectBox'"
            [width]="120"
            [calculateDisplayValue]="calculateDescription"
            [lookup]="{
              dataSource: itemsDataSource,
              valueExpr: 'ITEM_ID',
              displayExpr: 'DESCRIPTION',
              searchEnabled: true,
              searchMode: 'contains',
              minSearchLength: 0,
              showDataBeforeSearch: true,
              paginate: true,
              pageSize: 50,
            }"
          ></dxi-column>

          <dxi-column
            dataField="UOM"
            caption="UOM"
            [allowEditing]="false"
          ></dxi-column>

          <dxi-column
            dataField="PRICE"
            [caption]="inclVAT ? 'Price(Incl. VAT)' : 'Price(Excl. VAT)'"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [allowEditing]="!isReadOnlyMode"
            headerCellTemplate="priceHeader"
          ></dxi-column>
          <div *dxTemplate="let data of 'priceHeader'">
            <div
              style="text-align: center; line-height: 16px"
              [innerHTML]="inclVAT ? 'Price<br>(Incl. VAT)' : 'Price<br>'"
            ></div>
          </div>
          <dxi-column
            dataField="QTY_STOCK"
            caption="Stock Qty"
            [calculateCellValue]="calculateStockQty"
            [allowEditing]="false"
            alignment="right"
          ></dxi-column>
          <dxi-column
            dataField="QUANTITY"
            caption="Quantity"
            [allowEditing]="!isReadOnlyMode"
          >
            <dxi-validation-rule type="required" message="Quantity is required">
            </dxi-validation-rule>

            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateQuantity"
              message="Quantity cannot be greater than Stock Qty"
            >
            </dxi-validation-rule>
          </dxi-column>
          <dxi-column
            dataField="AMOUNT"
            caption="Amount"
            [allowEditing]="false"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [calculateCellValue]="calculateAmount"
          ></dxi-column>
          <dxi-column
            dataField="DISC_PERC"
            caption="Disc %"
            [allowEditing]="!isReadOnlyMode"
          ></dxi-column>
          <dxi-column
            dataField="DISC_AMT"
            caption="Disc Amount"
            [allowEditing]="false"
            [calculateCellValue]="calculateDiscAmt"
            headerCellTemplate="discAmtHeader"
          ></dxi-column>
          <div *dxTemplate="let data of 'discAmtHeader'">
            <div style="text-align: center; line-height: 16px">
              Disc<br />Amount
            </div>
          </div>
          <dxi-column
            dataField="TAX_PERC"
            [caption]="vatTitle + '%'"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column
            dataField="TAX_AMOUNT"
            [caption]="vatTitle + ' Amount'"
            [allowEditing]="false"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [calculateCellValue]="calculateTax"
            [visibleIndex]="inclVAT ? 999 : undefined"
            headerCellTemplate="taxAmtHeader"
          ></dxi-column>
          <div *dxTemplate="let data of 'taxAmtHeader'">
            <div style="text-align: center; line-height: 16px">
              {{ vatTitle }}<br />Amount
            </div>
          </div>
          <dxi-column
            dataField="TOTAL_AMOUNT"
            caption="Total"
            [allowEditing]="false"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [calculateCellValue]="calculateTotal"
          ></dxi-column>
          <dxo-summary>
            <dxi-total-item
              column="AMOUNT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
            ></dxi-total-item>

            <dxi-total-item
              column="TAX_AMOUNT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
            ></dxi-total-item>
            <dxi-total-item
              column="DISC_AMT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
            ></dxi-total-item>

            <dxi-total-item
              column="TOTAL_AMOUNT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
              [allowEditing]="true"
            ></dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </div>
    </div>

    <div class="invoice-summary" *ngIf="inclVAT">
      <div class="summary-row">
        <div class="summary-item">
          <span>Total Excl. VAT</span>

          <dx-number-box
            [value]="totalExclVAT"
            [readOnly]="true"
            format="#,##0.00"
            [width]="120"
          >
          </dx-number-box>
        </div>

        <div class="summary-item">
          <span>{{ vatTitle }} Amount</span>

          <dx-number-box
            [value]="totalVAT"
            [readOnly]="true"
            format="#,##0.00"
            [width]="120"
          >
          </dx-number-box>
        </div>
      </div>

      <div class="summary-total">
        <span>Total Incl. VAT</span>

        <dx-number-box
          [value]="totalInclVAT"
          [readOnly]="true"
          format="#,##0.00"
          [width]="120"
        >
        </dx-number-box>
      </div>
    </div>
    <div class="remarks-container">
      <dx-text-box
        label="Remarks"
        labelMode="floating"
        [(value)]="invoiceFormData.NARRATION"
        [width]="300"
        [readOnly]="isReadOnlyMode"
      ></dx-text-box>
    </div>
    <div class="form-footer-wrapper">
      <!-- RIGHT SECTION -->
      <div class="right-section">
        <div class="approve-container" *ngIf="canApprove">
          <dx-check-box
            text="Approve"
            [(value)]="invoiceFormData.IS_APPROVED"
            [visible]="!isReadOnlyMode && !isApproveMode && !isVerifyMode"
          ></dx-check-box>
        </div>

        <dx-button
          #saveButtonRef
          text="PDF"
          [visible]="isReadOnlyMode || invoiceFormData.IS_APPROVED"
          (onClick)="openPDF()"
          stylingMode="contained"
          type="default"
          [width]="120"
        ></dx-button>

        <dx-button
          text="Cancel"
          stylingMode="outlined"
          type="normal"
          (onClick)="cancel()"
        ></dx-button>

        <dx-button
          #saveButtonRef
          [text]="
            isSaving
              ? isApproveMode
                ? 'Approving...'
                : isVerifyMode
                  ? 'Verifying...'
                  : 'Saving...'
              : isApproveMode
                ? 'Approve'
                : isVerifyMode
                  ? 'Verify'
                  : 'Save'
          "
          [disabled]="isSaving"
          [visible]="!isReadOnlyMode"
          (onClick)="saveInvoice()"
          stylingMode="contained"
          type="default"
        ></dx-button>

        <!-- <dx-button
              #saveButtonRef
              [text]="invoiceFormData.IS_APPROVED ? 'Commit' : 'Save'"
              (onClick)="saveInvoice()"
              stylingMode="contained"
              type="default"
            ></dx-button> -->
      </div>
    </div>
  </div>
</dx-validation-group>

<dx-popup
  [(visible)]="pendingDeliveryPopupVisible"
  [width]="900"
  [height]="500"
  title="Pending Deliveries"
  [showCloseButton]="true"
>
  <dx-data-grid
    #popupGridRef
    [dataSource]="pendingDeliveryList"
    keyExpr="DN_DETAIL_ID"
    [showBorders]="true"
    [selection]="{ mode: 'multiple' }"
    (onSelectionChanged)="onPendingDeliverySelectionChanged($event)"
    (onEditorPreparing)="onPendingDeliveryEditorPreparing($event)"
  >
    <dxo-toolbar>
      <div
        class="stacked-toolbar-group"
        style="display: flex; flex-direction: column; gap: 2px"
      ></div>
      <dxi-item location="before" locateInMenu="auto"> </dxi-item>

      <dxi-item location="after">
        <div class="toolbar-button-wrapper">
          <dx-button
            text="Select Delivery"
            icon="check"
            type="default"
            stylingMode="contained"
            class="blue-outline-btn"
            (onClick)="transferPendingDeliveries()"
          ></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="after" locateInMenu="auto"> </dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="DN_NO" caption="Delivery No" width="140">
    </dxi-column>

    <dxi-column dataField="DN_DATE" caption="Date" width="120"> </dxi-column>

    <dxi-column dataField="ITEM_CODE" caption="Item Code"> </dxi-column>

    <dxi-column dataField="DESCRIPTION" caption="Description"> </dxi-column>

    <dxi-column dataField="TOTAL_PAIR_QTY" caption="Qty" alignment="right">
    </dxi-column>

    <dxi-column
      dataField="PACK_PRICE"
      caption="Price"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    >
    </dxi-column>

    <dxi-column dataField="GST_PERC" caption="Tax %" alignment="right">
    </dxi-column>
  </dx-data-grid>
</dx-popup>
