<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'82vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true,
      }"
      class="grid theme-dependent"
      [dataSource]="filteredTrInList"
      [showBorders]="true"
      [showColumnLines]="true"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [filterRow]="{ visible: false }"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      (onToolbarPreparing)="onToolbarPreparing($event)"
      (onEditingStart)="onEditTransferIn($event)"
      (onCellPrepared)="onCellPrepared($event)"
      (onRowRemoving)="onDeleteTrIn($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="false"
        [allowDeleting]="false"
      ></dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Transfer In</div>
        </dxi-item>

        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <dxi-item location="after" template="StoreFilterTemplate"></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [visible]="canAdd"
          [options]="addButtonOptions"
        ></dxi-item>
      </dxo-toolbar>
      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="180"
        >
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>
      <div
        *dxTemplate="let data of 'StoreFilterTemplate'"
        style="margin-bottom: 5px"
      >
        <dx-tag-box
          label="Store"
          labelMode="floating"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [items]="Store"
          [searchEnabled]="true"
          [(value)]="selectedStoreid"
          [showSelectionControls]="true"
          [showMultiTagOnly]="true"
          [multiline]="false"
          [hint]="storeHint"
          [width]="200"
          (onValueChanged)="onStoreChanged($event)"
        ></dx-tag-box>
      </div>
      <dxi-column
        dataField="DOC_NO"
        caption="Transfer No."
        [allowEditing]="false"
        width="120"
      ></dxi-column>
      <dxi-column
        dataField="TRANSFER_DATE"
        caption="Transfer Date"
        [allowEditing]="false"
        dataType="date"
        width="120"
        [format]="{ type: 'custom', formatter: formatDate }"
      >
      </dxi-column>

      <dxi-column
        dataField="STORE_NAME"
        caption="Store"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="NET_AMOUNT"
        caption="Net amount"
        [allowEditing]="false"
        format="#,##0.00"
        width="120"
      ></dxi-column>
      <dxi-column
        dataField="NARRATION"
        caption="Narration"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        caption="Status"
        dataField="STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false,
        }"
      >
      </dxi-column>

      <!-- <dxi-column
        caption="Actions"
        type="buttons"
        [width]="200"
        [buttons]="allButtons"
      ></dxi-column> -->
      <dxi-column
        type="buttons"
        caption="Actions"
        [width]="140"
        cellTemplate="actionTemplate"
      >
      </dxi-column>
      <div *dxTemplate="let cellData of 'actionTemplate'">
        <!-- Edit -->
        <i
          *ngIf="canEdit"
          class="dx-icon dx-icon-edit"
          [style.opacity]="
            cellData.data.STATUS === 'VERIFY' ||
            cellData.data.STATUS === 'APPROVED'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.STATUS === 'VERIFY' ||
            cellData.data.STATUS === 'APPROVED'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Edit"
          (click)="onEditTransferIn({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Delete -->
        <i
          *ngIf="canDelete"
          class="dx-icon dx-icon-trash"
          [style.opacity]="
            cellData.data.STATUS === 'VERIFY' ||
            cellData.data.STATUS === 'APPROVED'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.STATUS === 'VERIFY' ||
            cellData.data.STATUS === 'APPROVED'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Delete"
          (click)="onDeleteTrIn({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Verify -->
        <span
          *ngIf="
            (cellData.data.TRANS_STATUS === 2 && canApprove) ||
            (cellData.data.TRANS_STATUS !== 2 && canVerify)
          "
          style="
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
          "
          [title]="
            cellData.data.STATUS === 'APPROVED'
              ? 'Approved'
              : cellData.data.STATUS === 'VERIFY'
                ? 'Approve'
                : 'Verify'
          "
          (click)="onVerifyClick({ row: { data: cellData.data } })"
        >
          <!-- Blue badge -->
          <i
            class="fas fa-certificate"
            [style.color]="
              cellData.data.STATUS === 'APPROVED'
                ? '#10B981'
                : cellData.data.STATUS === 'VERIFY'
                  ? '#0073D8'
                  : '#FFA500'
            "
            style="font-size: 18px; position: absolute; top: 0; left: 0"
          ></i>

          <!-- White tick -->
          <i
            class="fas fa-check"
            style="
              color: white;
              font-size: 7px;
              position: absolute;
              top: 5px;
              left: 5px;
              pointer-events: none;
            "
          ></i>
        </span>
      </div>
    </dx-data-grid>
  </div>
</div>

<app-custom-date-popup
  [(visible)]="showCustomDatePopup"
  [startDate]="customStartDate"
  [endDate]="customEndDate"
  (applyDates)="onCustomDateApplied($event)"
>
</app-custom-date-popup>

<dx-popup
  [(visible)]="isAddTransferIn"
  [width]="'70vw'"
  [height]="'90vh'"
  title=" New Transfer In"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isAddTransferIn">
    <app-transfer-in-inventory-form
      (popupClosed)="handleClose()"
    ></app-transfer-in-inventory-form>
  </ng-container>
</dx-popup>

<dx-popup
  [(visible)]="isEditTransferIn"
  [width]="'70vw'"
  [height]="'90vh'"
  [title]="buttonText"
  (onHiding)="handleClose()"
  titleTemplate="popupTitle"
>
  <div *dxTemplate="let data of 'popupTitle'">
    <div class="popup-title-text">
      {{ buttonText }}
    </div>
  </div>
  <ng-container *ngIf="isEditTransferIn">
    <app-transfer-in-inventory-form
      [isEditing]="true"
      [EditingResponseData]="selectedTrIn"
      [isReadOnlyMode]="isReadOnlyTrIn"
      [ActionStatus]="StatusType"
      (popupClosed)="handleClose()"
      [status]="StatusType"
      [selectedDocStatus]="selected_Data_Status"
    ></app-transfer-in-inventory-form>
  </ng-container>
</dx-popup>
