<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'82vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true,
      }"
      class="grid theme-dependent"
      [dataSource]="PurchaseReturnDataSource"
      [showBorders]="true"
      [showRowLines]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [filterRow]="{ visible: false }"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      (onEditingStart)="onEditPurchaseReturn($event)"
      (onRowRemoving)="onDeletePurchaseReturn($event)"
      (onCellPrepared)="onCellPrepared($event)"
    >
      <!-- <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      ></dxo-editing> -->
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="false"
        [formats]="['xlsx']"
      >
      </dxo-export>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>

      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Purchase Return(Debit Note)</div>
        </dxi-item>
        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <!-- <dxi-item widget="dxButton" [options]="filterButtonOptions"></dxi-item> -->
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <!-- Divider -->
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>
        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn"
        ></dxi-item>

        <dxi-item
          *ngIf="canAdd"
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>
      </dxo-toolbar>

      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="220"
        >
          <!-- This controls the dropdown list rendering -->
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>
      <dxi-column dataField="DOC_NO" caption="Return No"></dxi-column>
      <dxi-column
        dataField="RET_DATE"
        caption="Return Date"
        dataType="date"
        [allowEditing]="false"
        format="dd-MM-yyyy"
      ></dxi-column>
      <dxi-column dataField="SUPP_NAME" caption="Supplier"></dxi-column>
      <dxi-column
        dataField="GROSS_AMOUNT"
        caption="Gross Amount"
        dataType="number"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        dataField="VAT_AMOUNT"
        [caption]="vatTitle + ' Amount'"
        dataType="number"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        dataField="NET_AMOUNT"
        caption="NET Amount"
        dataType="number"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <!-- <dxi-column dataField="NARRATION" caption="Narration"></dxi-column> -->

      <dxi-column
        caption="Status"
        dataField="TRANS_STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false,
        }"
      >
      </dxi-column>

      <dxi-column caption="Actions" [width]="140" cellTemplate="actionTemplate">
      </dxi-column>

      <div *dxTemplate="let cellData of 'actionTemplate'">
        <!-- Verify / Approve / View -->
        <i
          *ngIf="canEdit"
          class="dx-icon dx-icon-edit"
          [style.opacity]="
            cellData.data.TRANS_STATUS === 2 || cellData.data.TRANS_STATUS === 5
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.TRANS_STATUS === 2 || cellData.data.TRANS_STATUS === 5
              ? 'none'
              : 'auto'
          "
          class="dx-icon dx-icon-edit"
          style="cursor: pointer; margin-right: 10px"
          title="Edit"
          (click)="onEditPurchaseReturn({ data: cellData.data, cancel: false })"
        ></i>
        <span
          *ngIf="
            canVerify ||
            (canApprove && cellData.data.TRANS_STATUS === 'Verified') ||
            (canView && cellData.data.TRANS_STATUS === 'Approved')
          "
          style="
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
          "
          [title]="
            cellData.data.TRANS_STATUS === 5
              ? 'Approved'
              : cellData.data.TRANS_STATUS === 2
                ? 'Approve'
                : 'Verify'
          "
          (click)="onVerifyPurchaseReturn($event, cellData.data)"
        >
          <!-- Badge -->
          <i
            class="fas fa-certificate"
            [style.color]="
              cellData.data.TRANS_STATUS === 5
                ? '#10B981'
                : cellData.data.TRANS_STATUS === 2
                  ? '#0073D8'
                  : '#FFA500'
            "
            style="font-size: 18px; position: absolute; top: 0; left: 0"
          ></i>

          <!-- Tick -->
          <i
            class="fas fa-check"
            style="
              color: white;
              font-size: 7px;
              position: absolute;
              top: 5px;
              left: 5px;
              pointer-events: none;
            "
          ></i>
        </span>

        <!-- Edit -->

        <!-- Delete -->
        <i
          *ngIf="canDelete"
          class="dx-icon dx-icon-trash"
          [style.opacity]="
            cellData.data.TRANS_STATUS === 2 || cellData.data.TRANS_STATUS === 5
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.TRANS_STATUS === 2 || cellData.data.TRANS_STATUS === 5
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Delete"
          (click)="
            onDeletePurchaseReturn({ data: cellData.data, cancel: false })
          "
        ></i>
      </div>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  [(visible)]="isAddPurchaseReturn"
  [width]="'100vw'"
  [height]="'100vh'"
  title="Purchase Return(Debit Note)"
  (onHiding)="handleClose()"
>
  <app-purchase-return-debit-form
    (popupClosed)="handleClose()"
    [canApprove]="canApprove"
  ></app-purchase-return-debit-form>
</dx-popup>

<dx-popup
  [(visible)]="isEditPurchaseReturn"
  [width]="'100vw'"
  [height]="'100vh'"
  title="Purchase Return(Debit Note)"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isEditPurchaseReturn">
    <app-purchase-return-debit-form
      [isEditing]="true"
      [EditingResponseData]="selectedPurchaseReturn"
      [isReadOnlyMode]="isReadOnlyPurchaseReturn"
      (popupClosed)="handleClose()"
      [canApprove]="canApprove"
    ></app-purchase-return-debit-form>
  </ng-container>
</dx-popup>

<dx-popup
  *ngIf="isVerifyInvoice"
  [(visible)]="isVerifyInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  [title]="
    selectedPurchaseReturn?.TRANS_STATUS === 2
      ? 'Approve Purchase Return'
      : 'Verify Purchase Return'
  "
  (popupClosed)="handleClose()"
>
  <app-purchase-return-debit-form
    [isEditing]="true"
    [EditingResponseData]="selectedPurchaseReturn"
    [isVerifyMode]="selectedPurchaseReturn?.TRANS_STATUS !== 2"
    [isApproveMode]="selectedPurchaseReturn?.TRANS_STATUS === 2"
    (popupClosed)="handleClose()"
    [canApprove]="canApprove"
  >
  </app-purchase-return-debit-form>
</dx-popup>

<dx-popup
  *ngIf="isApproveInvoice"
  [(visible)]="isApproveInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Approve Purchase Return"
  (onHiding)="handleClose()"
>
  <app-purchase-return-debit-form
    [isEditing]="true"
    [EditingResponseData]="selectedPurchaseReturn"
    [isApproveMode]="true"
    (popupClosed)="handleClose()"
    [canApprove]="canApprove"
  >
  </app-purchase-return-debit-form>
</dx-popup>

<dx-popup
  *ngIf="isViewInvoice"
  [(visible)]="isViewInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Purchase Return"
  (onHiding)="handleClose()"
>
  <!-- <ng-container *ngIf="isAddInvoice"> -->
  <app-purchase-return-debit-form
    [isEditing]="true"
    [isReadOnlyMode]="isReadOnlyPurchaseReturn"
    [EditingResponseData]="selectedPurchaseReturn"
    (popupClosed)="handleClose()"
  ></app-purchase-return-debit-form>
  <!-- </ng-container> -->
</dx-popup>

<app-custom-date-popup
  [(visible)]="showCustomDatePopup"
  [startDate]="customStartDate"
  [endDate]="customEndDate"
  (applyDates)="onCustomDateApplied($event)"
>
</app-custom-date-popup>
