<div class="view-wrapper list-page">
  <dx-data-grid
    #detailGrid
    class="grid theme-dependent"
    [dataSource]="importDataList"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [height]="'84vh'"
    noDataText=" "
    keyExpr="HeaderID"
    (onRowExpanding)="onRowExpanding($event)"
    (onRowCollapsing)="onRowCollapsing($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
    (onCellClick)="onCellClick($event)"
  >
    <dxo-selection mode="multiple" showCheckBoxesMode="always"> </dxo-selection>
    <dxi-column type="selection" [allowSelectAll]="true"> </dxi-column>
    <dxi-column
      *ngFor="let col of detailViewColumns"
      [dataField]="col"
      [caption]="col"
      [visible]="col !== 'HeaderID'"
      [width]="col === 'Status' ? 'auto' : 150"
      [fixed]="col === 'FailureReason' || col === 'Status'"
      [fixedPosition]="'right'"
      [alignment]="
        col === 'Status' ? 'center' : col === 'TransactionID' ? 'left' : 'left'
      "
    >
    </dxi-column>

    <dxo-master-detail [enabled]="true" template="detailTemplate">
    </dxo-master-detail>

    <div class="ms-4" *dxTemplate="let masterData of 'detailTemplate'">
      <dx-data-grid
        [dataSource]="detailDataMap[masterData.key] || []"
        noDataText="No details available"
        [showBorders]="true"
        [columnAutoWidth]="false"
        [rowAlternationEnabled]="true"
        [height]="
          (detailDataMap[masterData.key]?.length || 0) < 5 ? 'auto' : 200
        "
        (onCellPrepared)="onCellPrepared($event)"
      >
        <dxi-column
          *ngFor="let col of detailsDataColumns"
          [dataField]="col"
          [caption]="col"
          [visible]="col !== 'HeaderID'"
          [width]="col === 'FailureReason' || col === 'Status' ? 'auto' : 150"
          [fixed]="col === 'FailureReason' || col === 'Status'"
          [fixedPosition]="'right'"
          [alignment]="col === 'Status' ? 'center' : 'left'"
        >
        </dxi-column>
      </dx-data-grid>
    </div>

    <!-- ================= Filter ================= -->
    <dxo-filter-row
      [visible]="showFilterRow"
      [applyFilter]="currentFilter"
    ></dxo-filter-row>

    <dxo-header-filter [visible]="isFilterOpened">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <!-- ================= Paging ================= -->
    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxo-pager
      [visible]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 30, 40]"
    >
    </dxo-pager>
    <dxo-scrolling
      mode="virtual"
      rowRenderingMode="virtual"
      columnRenderingMode="virtual"
      showScrollbar="always"
      preloadEnabled="true"
      useNative="false"
    >
    </dxo-scrolling>

    <dxo-load-panel [enabled]="true" [showPane]="true" [showIndicator]="true">
    </dxo-load-panel>

    <!-- ================= Toolbar ================= -->
    <dxo-toolbar>
      <dxi-item location="before" locateInMenu="never">
        <div class="grid-header">AR List</div>
      </dxi-item>

      <dxi-item location="after" template="dateFilterTemplate"></dxi-item>

      <!-- Divider -->
      <dxi-item location="after">
        <div class="toolbar-divider"></div>
      </dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="searchButtonOptions"
      >
      </dxi-item>

      <!-- Refresh -->
      <dxi-item
        location="after"
        widget="dxButton"
        [options]="refreshButtonOptions"
      >
      </dxi-item>

      <!-- Divider -->
      <dxi-item location="after">
        <div class="toolbar-divider"></div>
      </dxi-item>

      <dxi-item name="exportButton" location="after" cssClass="export-btn">
      </dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="ReProcessButtonOptions"
      >
      </dxi-item>
    </dxo-toolbar>
    <!-- ---- custom daterange select box template ---- -->
    <div *dxTemplate="let data of 'dateFilterTemplate'">
      <dx-select-box
        [dataSource]="dateRanges"
        [displayExpr]="displayExpr"
        valueExpr="value"
        [(value)]="selectedDateRange"
        (onValueChanged)="onDateRangeChanged($event)"
        (onOpened)="attachItemClickHandler($event)"
        width="220"
      >
        <!-- This controls the dropdown list rendering -->
        <div *dxTemplate="let item of 'item'">
          {{ item.value === "custom" ? "Custom" : item.label }}
        </div>
      </dx-select-box>
    </div>
  </dx-data-grid>

  <dx-popup
    [(visible)]="isViewJournalVoucher"
    [width]="'90vw'"
    [height]="'100vh'"
    title="Journal Voucher"
    (onHiding)="handleClose()"
  >
    <app-erp-jv
      [journalVoucherFormData]="selectedJournalVoucher"
      (popupClosed)="handleClose()"
      [JVid]="selectedTransID"
    ></app-erp-jv>
  </dx-popup>

  <app-custom-date-popup
    [(visible)]="showCustomDatePopup"
    [startDate]="customStartDate"
    [endDate]="customEndDate"
    (applyDates)="onCustomDateApplied($event)"
  >
  </app-custom-date-popup>

  <dx-load-panel
    [visible]="isLoading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    shadingColor="rgba(0,0,0,0.4)"
    message="Loading..."
  >
  </dx-load-panel>

  <!-- Progress Section -->
  <dx-load-panel
    [visible]="isProcessingRows"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    shadingColor="rgba(0,0,0,0.4)"
    message="Processing Pending Rows..."
  >
    <div *dxTemplate="let data of 'content'">
      <div class="text-center">
        <div class="mb-2">
          Total :
          <b>{{ totalRequestCount }}</b>
        </div>

        <div class="mb-2">
          Completed :
          <b class="text-success">
            {{ completedRequestCount }}
          </b>
        </div>

        <div class="mb-2">
          Failed :
          <b class="text-danger">
            {{ failedRequestCount }}
          </b>
        </div>

        <div class="mb-2">
          Pending :
          <b class="text-warning">
            {{ pendingRequestCount }}
          </b>
        </div>
      </div>
    </div>
  </dx-load-panel>
</div>
