<div class="view-wrapper list-page">
<dx-data-grid
class="grid theme-dependent"
[dataSource]="Datasource"
[showBorders]="true"
[rowAlternationEnabled]="true"
[showColumnLines]="true"
rowAlternationInterval="2"
[allowColumnReordering]="true"
[allowColumnResizing]="true"
(onRowRemoved)="delete_Data($event)"
[height]="'80vh'"
noDataText=" "

(onEditingStart)="onEditingStart($event)"

>


 <dxo-filter-row
  [visible]="isFilterRowVisible"
></dxo-filter-row>


  <dxo-header-filter [visible]="true">
    <dxo-search [enabled]="true"></dxo-search>
  </dxo-header-filter>

 
    <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
    
    <dxo-editing
      mode="popup"

       [allowUpdating]="canEdit"
       [allowDeleting]="canDelete"
      [allowAdding]="true">
    <dxo-popup title="Update Department" [showTitle]="true" [width]="600" [height]="300"></dxo-popup>
    </dxo-editing>


  <dxo-toolbar>
    <dxi-item location="before" locateInMenu="never">
      <div class="grid-header" style="
            font-weight: 600;
            font-size: 20px;
            margin-left: 12px;
            padding: -3px;
            margin-right: 3px;
          ">Article Color</div>
    </dxi-item>

        
<dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>

 <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
  
 <dxi-item
      location="after"
      *ngIf="canAdd"
      widget="dxButton"
      [options]="addButtonOptions"
    ></dxi-item>

  </dxo-toolbar>

  <!-- This field ID optional .Used for displaying data temp -->
  <dxi-column dataField="SlNo" [width]="80" caption="Sl.No" [allowFiltering]="false" [allowEditing]="false" alignment="left"  [allowHeaderFiltering]="false"></dxi-column>
  <dxi-column dataField="CODE" caption="Code"></dxi-column>

  <dxi-column dataField="COLOR_ENGLISH" caption="Color English"></dxi-column>

  <dxi-column dataField="COLOR_ARABIC" caption="Color Arabic"></dxi-column>

  
</dx-data-grid>
</div>


<form-popup
    [(visible)]="AddArticleColorPopup"
   (save)="addData()"
    titleText="New Article Color">

    <dx-validation-group #formValidationGroup>
    <dx-form class="plain-styled-form" [formGroup]="formsource" >
        <dxi-item>
         <dx-text-box
         label="Code"
         formControlName="Code">
         <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="CODE is required"
                  ></dxi-validation-rule> </dx-validator>
        </dx-text-box>
        </dxi-item>

        <dxi-item>
            <dx-text-box
            label="Color English"
            formControlName="ColorEnglish">
            <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Color English is required"
                  ></dxi-validation-rule> </dx-validator>
          </dx-text-box>
        </dxi-item>

        <dxi-item>
            <dx-text-box
            label="Color Arabic"
            formControlName="ColorArabic">
            <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Color Arabic is required"
                  ></dxi-validation-rule> </dx-validator>
          </dx-text-box>
        </dxi-item>

    </dx-form>
    </dx-validation-group>
</form-popup>

<form-popup
    [(visible)]="UpdateArticleColorPopup"
    titleText="Update Article Color"
    (save)="editData()">

    <dx-validation-group #formValidationGroup>
    <dx-form class="plain-styled-form">
        <dxi-item>
         <dx-text-box
         label="Code"
         [(value)]="editingRowData.CODE">
         <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Code is required"
                  ></dxi-validation-rule> </dx-validator>
        </dx-text-box>
        </dxi-item>

        <dxi-item>
            <dx-text-box
            label="Color English" 
            [(value)]="editingRowData.COLOR_ENGLISH">
            <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Color English is required"
                  ></dxi-validation-rule> </dx-validator>
          </dx-text-box>
        </dxi-item>

        <dxi-item>
            <dx-text-box
            label="Color Arabic" 
            [(value)]="editingRowData.COLOR_ARABIC">
            <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Color Arabic is required"
                  ></dxi-validation-rule> </dx-validator>
          </dx-text-box>
        </dxi-item>
       
    </dx-form>
    </dx-validation-group>
  </form-popup>
