<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="supplier"
    (onRowRemoving)="onRowRemoving($event)"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    (onExporting)="onExporting($event)"
    (onEditingStart)="openEditingStart($event)"
     [height]="'80vh'"
     [showColumnLines]="true"
  >
  
  <dxo-filter-row
  [visible]="isFilterRowVisible"
></dxo-filter-row>

<dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
<dxo-editing 
mode="popup" 
[allowUpdating]="true" 
 [allowDeleting]="canDelete">
</dxo-editing>
<dxo-export
    [enabled]="true"
    [formats]="['xlsx', 'pdf']"
  >
  </dxo-export>
  <dxo-paging [pageSize]="10"></dxo-paging>

  
  <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Supplier</div>
      </dxi-item>
  
  <!-- <dxi-item location="after" locateInMenu="auto">
      <dx-button
        text="Add"
        icon="plus"
        type="default"
        stylingMode="contained"
        (onClick)="addSupplier()"
        
      ></dx-button>
    </dxi-item> -->
     
   
     

<dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>

 <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>

   <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>

        <dxi-item name="exportButton"></dxi-item>

        <dxi-item
       
      location="after"
      widget="dxButton"
      [options]="addButtonOptions"
    ></dxi-item>
  
  </dxo-toolbar>

          <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-paging [pageSize]="10"></dxo-paging>
      <dxi-column dataField="SNO" caption="S.No" alignment="left" width="70"></dxi-column>
  <dxi-column dataField="SUPP_CODE" caption="Code"></dxi-column>
  <dxi-column dataField="SUPP_NAME" caption="Supplier Name"></dxi-column>
  <!-- <dxi-column dataField="CONTACT_NAME" caption="Contact Name"></dxi-column> -->
  <!-- <dxi-column dataField="ADDRESS1" caption="Address"></dxi-column>
  <dxi-column dataField="ADDRESS2" [visible]="false" ></dxi-column>
  <dxi-column dataField="ADDRESS3" [visible]="false" ></dxi-column> -->
  <!-- <dxi-column dataField="ZIP" caption="Zip Code" [visible]="false"></dxi-column> -->
   <dxi-column dataField="COUNTRY_NAME" caption="Country"></dxi-column>
  <dxi-column dataField="STATE_NAME" caption="State"> </dxi-column>
  <dxi-column dataField="CITY" caption="City"></dxi-column>
  
  <dxi-column dataField="PHONE" caption="Phone"></dxi-column>
  <dxi-column dataField="EMAIL" caption="Email"></dxi-column>
  <!-- <dxi-column dataField="MOBILE_NO" caption="Address"></dxi-column> -->
  <!-- <dxi-column dataField="FAX_NO" caption="Fax"></dxi-column> -->
  <!-- <dxi-column dataField="CURRENCY_ID" caption="Currency"> 
    
    <dxo-lookup
    [dataSource]="currency"
    displayExpr="DESCRIPTION"
    valueExpr="ID"
    >
    </dxo-lookup>
  </dxi-column> -->
  <!-- <dxi-column dataField="PAY_TERM_ID" caption="Payment Terms" [visible]="false">
    <dxo-lookup
    [dataSource]="PaymentTermsDropdownData"
    displayExpr="DESCRIPTION"
    valueExpr="ID"
    >
    </dxo-lookup>    
  </dxi-column>
  <dxi-column dataField="VAT_RULE_ID" caption="Tax Rule" [visible]="false">
    <dxo-lookup
    [dataSource]="vatrule"
    displayExpr="DESCRIPTION"
    valueExpr="ID"
    >
    </dxo-lookup>    
  </dxi-column>    -->
  <!-- <dxi-column dataField="VAT_REGNO" caption="Tax Registration No." [visible]="false"></dxi-column> -->
  <!-- <dxi-column dataField="NOTES" caption="Notes" [visible]="false"></dxi-column> -->
  <dxi-column type="buttons" width="110" [buttons]="allButtonsEditDelete">
  </dxi-column>




  </dx-data-grid>
  <form-popup
      [(visible)]="isAddSupplierPopupOpened"
      [width]="1000"
      [height]="'73vh'"
      (save)="onClickSaveSupplier()"
      titleText="New Supplier"
      (cancel)="onCancelSupplier()"
      (onHidden)="handleFormClosed()" 
    >
      <app-supplier-form #supplierForm></app-supplier-form>
    </form-popup>

    <dx-popup
    [(visible)]="isEditSupplierPopupOpened"
    [width]="1000"
    [height]="'75vh'"
    [showTitle]="true"      
    title="Edit Supplier" 
  >
    <app-supplier-edit [supplierData]="selectedSupplier" (formClosed)="handleFormClosed()"></app-supplier-edit>
  </dx-popup>
  
  </div>