<div
  class="timesheet-form"
  style="
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 0px;
    width: 100%;
    margin-top: -20px;
  "
>
  <!-- Column 1: Month + Employee Fields -->
  <!-- Column 2: Leave Period -->
  <div style="width: 100%; margin-bottom: 10px">
    <dx-text-box
      label="Month"
      [labelMode]="'floating'"
      [value]="timesheetFormData.TS_MONTH"
      [readOnly]="true"
      width="200px"
    >
    </dx-text-box>
  </div>
  <div
    class="timesheet-extra-container"
    style="
      flex: 1 1 48%;
      border: 1px solid #858080;
      padding: 16px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      row-gap: 8px;
      min-width: 300px;
      box-sizing: border-box;
    "
  >
    <p style="margin: 0 0 0"><strong>Employee</strong></p>
    <div style="display: flex; gap: 20px; flex-wrap: wrap">
      <!-- Employee Field -->
      <div style="flex: 1 1 45%; min-width: 200px">
        <dx-select-box
          label="Employee Name"
          [labelMode]="'floating'"
          [dataSource]="employee"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [(value)]="timesheetFormData.EMP_ID"
          [searchEnabled]="true"
          placeholder="Select Employee"
          (onValueChanged)="onEmployeeSelected($event)"
          width="100%"
        >
        </dx-select-box>
      </div>
    </div>
  </div>

  <div
    class="timesheet-extra-container"
    style="
      flex: 1 1 48%;
      border: 1px solid #858080;
      padding: 16px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-width: 300px;
      box-sizing: border-box;
    "
  >
    <p style="margin: 0 0 0"><strong>Leave Period</strong></p>

    <!-- Single row for all 3 fields -->
    <div style="display: flex; gap: 20px; flex-wrap: wrap">
      <!-- From Date -->
      <!-- <dx-text-box
        [(value)]="timesheetFormData.LEAVE_FROM"
        label="From"
        [labelMode]="'floating'"
        type="date"
        placeholder="Select From Date"
        style="flex: 1 1 30%"
      ></dx-text-box> -->
      <dx-date-box
        [(value)]="timesheetFormData.LEAVE_FROM"
        label="From"
        [labelMode]="'floating'"
        type="date"
        displayFormat="dd-MM-yyyy"
        placeholder="Select From Date"
        style="flex: 1 1 30%"
        [readOnly]="true"
      ></dx-date-box>

      <!-- Total Days Worked -->

      <!-- Upto Date -->
      <dx-date-box
        [(value)]="timesheetFormData.LEAVE_TO"
        label="To "
        [labelMode]="'floating'"
        type="date"
        displayFormat="dd-MM-yyyy"
        placeholder="Select Upto Date"
        style="flex: 1 1 30%"
        [readOnly]="true"
      ></dx-date-box>
      <!-- <dx-text-box
        [(value)]="timesheetFormData.LEAVE_TO"
        label="To"
        [labelMode]="'floating'"
        type="date"
        placeholder="Select Upto Date"
        style="flex: 1 1 30%"
      ></dx-text-box> -->
      <dx-number-box
        [(value)]="timesheetFormData.DAYS"
        label="Total Days Worked"
        [labelMode]="'floating'"
        [min]="0"
        placeholder="Enter Total Days"
        style="flex: 1 1 30%"
        [readOnly]="true"
      ></dx-number-box>
    </div>
  </div>

  <div style="display: flex; gap: 8px; width: 100%; margin-top: 10px">
    <!-- Left Container -->
    <div
      class="timesheet-extra-container"
      style="
        flex: 1 1 35%;
        border: 1px solid #858080;
        padding: 16px;
        border-radius: 8px;
        box-sizing: border-box;
      "
    >
      <p style="margin: 0 0 10px"><strong>Timesheet Details</strong></p>
      <div class="grid-container">
        <dx-data-grid
          #dataGrid
          noDataText=" "
          [width]="'100%'"
          [height]="'30vh'"
          [loadPanel]="{
            enabled: true,
            text: 'Loading...',
            showIndicator: true,
            showPane: true,
          }"
          class="grid theme-dependent"
          [dataSource]="timesheetDetails"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true }"
          [allowColumnReordering]="true"
          [allowColumnResizing]="true"
          [columnResizingMode]="'nextColumn'"
          [scrolling]="{ mode: 'standard' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
          focusStateEnabled="false"
          [editing]="{ mode: 'cell', allowUpdating: true }"
          (onRowUpdated)="onTimesheetDetailsUpdated($event)"
          (onEditorPreparing)="onEditorPreparingTImesheetdetails($event)"
        >
          <dxi-column dataField="STORE_ID" caption="Store/Branch">
            <dxo-lookup
              [dataSource]="Stores_List"
              displayExpr="DESCRIPTION"
              valueExpr="ID"
              [allowClearing]="false"
            >
              <dxi-validation-rule type="required" message="Store is required">
              </dxi-validation-rule>
            </dxo-lookup>
          </dxi-column>
          <dxi-column dataField="DEPT_ID" caption="Department">
            <dxo-lookup
              [dataSource]="Departments"
              displayExpr="DESCRIPTION"
              valueExpr="ID"
              [allowClearing]="false"
            ></dxo-lookup>
          </dxi-column>

          <dxi-column dataField="DAYS" caption="Worked Days">
            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateDays"
              message="Worked days cannot exceed total allowed days"
            ></dxi-validation-rule
          ></dxi-column>
          <dxi-column
            dataField="NORMAL_OT"
            caption="OT Hours"
            dataType="number"
            [editorOptions]="{ max: 12 }"
            ><dxi-validation-rule
              type="custom"
              [validationCallback]="validTime"
              message="Maximum allowed OT time is 12 hours"
            ></dxi-validation-rule
          ></dxi-column>
          <dxi-column
            dataField="HOLIDAY_OT"
            caption="Holiday OT"
            dataType="number"
            [editorOptions]="{ max: 12 }"
            ><dxi-validation-rule
              type="custom"
              [validationCallback]="validTime"
              message="Maximum allowed OT is 12 hours"
            ></dxi-validation-rule
          ></dxi-column>
          <dxo-summary>
            <!-- Footer Summary with custom alignment -->

            <!-- Count summary -->
            <dxi-total-item
              column="DEPARTMENT"
              summaryType="count"
              [displayFormat]="'Total : {0}'"
              [showInColumn]="'DEPARTMENT'"
            ></dxi-total-item>
            <dxi-total-item
              column="DAYS"
              summaryType="sum"
              [displayFormat]="'Total : {0}'"
              [showInColumn]="'DAYS'"
            ></dxi-total-item>
            <dxi-total-item
              column="NORMAL_OT"
              summaryType="sum"
              [displayFormat]="'Total : {0}'"
              [showInColumn]="'NORMAL_OT'"
            ></dxi-total-item>
            <dxi-total-item
              column="HOLIDAY_OT"
              summaryType="sum"
              [displayFormat]="'Total : {0}'"
              [showInColumn]="'HOLIDAY_OT'"
            ></dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </div>
    </div>

    <!-- Right: Additional Container -->
    <div
      class="timesheet-extra-container"
      style="
        flex: 1 1 35%;
        border: 1px solid #858080;
        padding: 16px;
        border-radius: 8px;
        box-sizing: border-box;
      "
    >
      <p style="margin: 0 0 10px"><strong>Additions and Deductions</strong></p>
      <div class="grid-container">
        <dx-data-grid
          #dataGrid
          noDataText=" "
          [width]="'100%'"
          [height]="'30vh'"
          [loadPanel]="{
            enabled: true,
            text: 'Loading...',
            showIndicator: true,
            showPane: true,
          }"
          class="grid theme-dependent"
          [dataSource]="salaryDataSource"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true }"
          [allowColumnReordering]="true"
          [allowColumnResizing]="true"
          [columnResizingMode]="'nextColumn'"
          [scrolling]="{ mode: 'standard' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
          focusStateEnabled="false"
          [editing]="{ mode: 'cell', allowUpdating: true }"
          (onRowUpdated)="onSalaryHeadUpdated($event)"
          (onEditorPreparing)="onEditorPreparing($event)"
        >
          <dxi-column dataField="SALARY_HEAD_ID" caption="Salary Head">
            <dxo-lookup
              [dataSource]="salaryHead"
              valueExpr="ID"
              displayExpr="DESCRIPTION"
              [allowClearing]="false"
            >
            </dxo-lookup>
          </dxi-column>

          <dxi-column
            dataField="AMOUNT"
            caption="Amount"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [customizeText]="formatAmount"
            alignment="right"
          ></dxi-column>
        </dx-data-grid>
      </div>

      <!-- Add more fields here if needed -->
    </div>
  </div>

  <div style="display: flex; gap: 20px; width: 100%; margin-top: 10px">
    <!-- Summary Container (First Column) -->
    <div
      class="timesheet-extra-container"
      style="
        flex: 1 1 35%;
        border: 1px solid #858080;
        padding: 16px;
        border-radius: 8px;
        box-sizing: border-box;
      "
    >
      <!-- <p style="margin: 0 0 10px"><strong>Summary</strong></p> -->

      <div style="display: flex; gap: 10px; flex-wrap: wrap">
        <!-- Remarks (80%) -->
        <div style="flex: 8">
          <dx-text-box
            placeholder="Remarks"
            [(value)]="timesheetFormData.REMARKS"
            label="Remarks"
            [labelMode]="'floating'"
            width="100%"
          ></dx-text-box>
        </div>

        <!-- Deduction of Days (20%) -->
        <div style="flex: 2">
          <dx-text-box
            placeholder="Deduction of Days"
            [(value)]="timesheetFormData.DAYS_DEDUCTED"
            label="Deduction of Days"
            [labelMode]="'floating'"
            width="100%"
          ></dx-text-box>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Buttons Section -->
<div class="fixed-footer">
  <dx-button text="Cancel" (onClick)="handleClose()" class="ml-2"></dx-button>
  <dx-button text="Save" type="default" (onClick)="saveTimesheet()"></dx-button>
</div>
