::ng-deep .dx-editor-cell .dx-texteditor:not(.dx-tagbox) .dx-texteditor-input {
  background: rgba(255, 255, 255, 0);
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}
