<div class="salary-grid-wrapper">
  <div class="grid-container">
    <dx-data-grid
      [dataSource]="salaryDetails"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [headerFilter]="{ visible: true }"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [height]="'50vh'"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: true }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      [editing]="{ mode: 'cell', allowUpdating: true }"
      (onEditorPreparing)="onEditorPreparing($event)"
    >
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <!-- <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row> -->
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-toolbar>
        <dxi-item location="before" locateInMenu="auto">
          <div class="stacked-toolbar-group">
            <dx-select-box
              class="custom-select-box"
              [placeholder]="'Select Employee'"
              label="Employee Name"
              [labelMode]="'floating'"
              [width]="300"
              [dataSource]="employee"
              displayExpr="DESCRIPTION"
              valueExpr="ID"
              (onValueChanged)="onEmployeeSelect($event)"
            ></dx-select-box>
            <dx-text-box
              class="custom-text-box"
              [(value)]="employeeSalaryDetails.EMP_CODE"
              [placeholder]="'Employee Code'"
              label="Employee Code"
              [labelMode]="'floating'"
              [width]="200"
              [readOnly]="true"
            ></dx-text-box>
          </div>
        </dxi-item>
        <dxi-item location="before" locateInMenu="auto">
          <div class="stacked-toolbar-group">
            <dx-date-box
              displayFormat="dd-MM-yyyy"
              [(value)]="revisionFormData.REV_DATE"
              [showClearButton]="true"
              label="Revision Date"
              [labelMode]="'floating'"
              [width]="180"
              [acceptCustomValue]="false"
            ></dx-date-box>

            <dx-date-box
              displayFormat="dd-MM-yyyy"
              [(value)]="revisionFormData.EFFECT_DATE"
              [showClearButton]="true"
              label="Effective From"
              [labelMode]="'floating'"
              [width]="180"
              [acceptCustomValue]="false"
              [showClearButton]="false"

            ></dx-date-box>
          </div>
        </dxi-item>

        <dxi-item location="after" locateInMenu="auto">
          <div class="stacked-toolbar-group">
            <dx-text-box
              [placeholder]="'Previous Revision On'"
              [(value)]="employeeSalaryDetails.PREV_REVISION_DATE"
              label="Previous Revision On"
              [labelMode]="'floating'"
              [width]="180"
              [readOnly]="true"
              [showClearButton]="false"

            ></dx-text-box>

            <dx-number-box
              [(value)]="increasedByPercent"
              [placeholder]="'Increased By (%)'"
              [label]="'Increased By (%)'"
              [labelMode]="'floating'"
              [width]="180"
              (onValueChanged)="onIncreaseChange($event)"
            ></dx-number-box>
          </div>
        </dxi-item>
      </dxo-toolbar>
      <dxi-column
        dataField="code"
        caption="Code"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="description"
        caption="Description"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="presentAmount"
        caption="Present Amount"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2, thousandsSeparator: ',' }"
      ></dxi-column>
      <dxi-column
        dataField="newAmount"
        caption="New Amount"
        dataType="number"
        format="#,##0.##"
      ></dxi-column>
    </dx-data-grid>

    <div class="remarks-container">
      <dx-text-area
        [placeholder]="'Enter remarks here'"
        [(value)]="revisionFormData.REMARKS"
        label="Remarks"
        [labelMode]="'floating'"
        [width]="840"
        rows="4"
      ></dx-text-area>
    </div>
  </div>
  <div class="form-popup-buttons-container">
    <div class="popup-footer">
      <dx-button
        text="Cancel"
        stylingMode="outlined"
        type="normal"
        (onClick)="handleEditClose()"
      ></dx-button>
      <dx-button
        text="Save"
        stylingMode="contained"
        (onClick)="onSave()"
        type="default"
      ></dx-button>
    </div>
  </div>
</div>
