<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'82vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true,
      }"
      class="grid theme-dependent"
      [dataSource]="PrePaymentListDataSource"
      [showBorders]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      [groupPanel]="{ visible: true }"
      (onExporting)="onExporting($event)"
      [grouping]="{ autoExpandAll: false }"
      (onEditingStart)="onEditingStart($event)"
      (onRowRemoving)="DeletePrePayment($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      ></dxo-editing>

      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="false"
        [formats]="['xlsx']"
      >
      </dxo-export>

      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>

      <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>

      <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

      <dxo-toolbar>
        <dxi-item location="before">
          <h6>PrePayment Invoice</h6>
        </dxi-item>
        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <dxi-item location="after" locateInMenu="auto"> </dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <dxi-item location="after" style="margin-top: 3px">
          <div class="toolbar-divider"></div>
        </dxi-item>
        <dxi-item name="exportButton" location="after" cssClass="export-btn">
        </dxi-item>

        <dxi-item
          *ngIf="canAdd"
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>

        <!-- </div> -->
      </dxo-toolbar>

      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="220"
        >
          <!-- This controls the dropdown list rendering -->
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>

      <dxo-grouping
        [autoExpandAll]="false"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      ></dxo-grouping>
      <!-- <dxi-column dataField="TRANS_ID" caption="Trans ID"></dxi-column> -->
      <dxi-column
        dataField="DOC_NO"
        caption="Invoice No."
        alignment="left"
      ></dxi-column>
      <dxi-column dataField="TRANS_DATE" caption="Date"></dxi-column>
      <dxi-column dataField="SUPP_NAME" caption="Supplier"></dxi-column>
      <dxi-column
        dataField="REF_NO"
        caption="Supplier Invoice No."
      ></dxi-column>
      <dxi-column
        dataField="EXPENSE_AMOUNT"
        caption="Amount"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column dataField="NARRATION" caption="Narration"></dxi-column>

      <dxi-column
        dataField="TRANS_STATUS"
        [cellTemplate]="statusCellRender"
        caption="Status"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false,
        }"
      ></dxi-column>

       <dxi-column
        type="buttons"
        caption="Actions"
        [width]="140"
        cellTemplate="actionTemplate"
      >
      </dxi-column>

      <div *dxTemplate="let cellData of 'actionTemplate'">
        <!-- Edit -->
        <i
          *ngIf="canEdit"
          class="dx-icon dx-icon-edit"
          [style.opacity]="
            cellData.data.TRANS_STATUS === 'Verify' || cellData.data.TRANS_STATUS === 'Approved'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.TRANS_STATUS === 'Verify' || cellData.data.TRANS_STATUS === 'Approved'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Edit"
          (click)="onEditingStart({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Delete -->
        <i
          *ngIf="canDelete"
          class="dx-icon dx-icon-trash"
          [style.opacity]="
            cellData.data.TRANS_STATUS === 'Verify' || cellData.data.TRANS_STATUS === 'Approved'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.TRANS_STATUS === 'Verify' || cellData.data.TRANS_STATUS === 'Approved'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Delete"
          (click)="DeletePrePayment({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Verify -->
        <span
          *ngIf="
            (cellData.data.TRANS_STATUS === 2 && canApprove) ||
            (cellData.data.TRANS_STATUS !== 2 && canVerify)
          "
          style="
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
          "
          [title]="
            cellData.data.TRANS_STATUS === 'Approved'
              ? 'Approved'
              : cellData.data.TRANS_STATUS === 'Verify'
                ? 'Approve'
                : 'Verify'
          "
          (click)="onVerifyInvoice({ row: { data: cellData.data } })"
        >
          <!-- Blue badge -->
          <i
            class="fas fa-certificate"
            [style.color]="
              cellData.data.TRANS_STATUS === 'Approved'
                ? '#10B981'
                : cellData.data.TRANS_STATUS === 'Verify'
                  ? '#0073D8'
                  : '#FFA500'
            "
            style="font-size: 18px; position: absolute; top: 0; left: 0"
          ></i>

          <!-- White tick -->
          <i
            class="fas fa-check"
            style="
              color: white;
              font-size: 7px;
              position: absolute;
              top: 5px;
              left: 5px;
              pointer-events: none;
            "
          ></i>
        </span>
      </div>
    </dx-data-grid>

    <dx-popup
      [(visible)]="addPrepaymentPopupOpened"
      [width]="'50vw'"
      [height]="'auto'"
      [title]="popupTitle"
      (onHiding)="handleClose()"
    >
      <app-pre-payment-add
      [mode]="popupMode"
        [isOpen]="addPrepaymentPopupOpened"
        (formClosed)="handleClose()"
        [canApprove]="canApprove"
      ></app-pre-payment-add>
    </dx-popup>
  </div>
</div>

<dx-popup
  [(visible)]="editPrePaymentPopupOpened"
  [width]="'50vw'"
  [height]="'auto'"
  [title]="popupTitle"
  (onHiding)="handleClose()"
>
  <app-pre-payment-edit
  [mode]="popupMode"
    [selectedPrePayment]="selectedPrePayment"
    [isOpen]="editPrePaymentPopupOpened"
    [isReadOnly]="isEditReadOnly"
    (formClosed)="handleClose()"
    [canApprove]="canApprove"
    [PrepaymentId]="selectprepayment"
  ></app-pre-payment-edit>
</dx-popup>

<dx-popup
  [(visible)]="verifyPrePaymentPopupOpened"
  [width]="'50vw'"
  [height]="'auto'"
  [title]="popupTitle"
  (onHiding)="handleClose()"
>
  <app-pre-payment-edit
  [mode]="popupMode"
    [selectedPrePayment]="selectedPrePayment"
    [isOpen]="verifyPrePaymentPopupOpened"
    [isReadOnly]="isEditReadOnly"
    (formClosed)="handleClose()"
    [canApprove]="false"
    [PrepaymentId]="selectprepayment"
    [verifyPrePaymentPopupOpened]="verifyPrePaymentPopupOpened"
  ></app-pre-payment-edit>
</dx-popup>



<app-custom-date-popup
  [(visible)]="showCustomDatePopup"
  [startDate]="customStartDate"
  [endDate]="customEndDate"
  (applyDates)="onCustomDateApplied($event)"
>
</app-custom-date-popup>
<!-- <dx-popup
  [(visible)]="showCustomDatePopup"
  [showTitle]="true"
  title="Select Dates"
  [width]="350"
  [height]="170"
  [dragEnabled]="false"
>
  <div>
    <div class="date-range-container">
      <dx-date-box
        [(value)]="customStartDate"
        type="date"
        width="300"
        placeholder="From Date"
      >
      </dx-date-box>

      <dx-date-box
        [(value)]="customEndDate"
        type="date"
        placeholder="To Date"
        width="300"
      >
      </dx-date-box>
    </div>

    <div class="button-container">
      <dx-button
        text="Apply"
        type="default"
        (onClick)="applyCustomDateFilter()"
      ></dx-button>
    </div>
  </div>
</dx-popup> -->
