<div class="view-wrapper list-page">
    <dx-data-grid
      class="grid theme-dependent"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      [showBorders]="true" 
      height="84vh"
      [dataSource]="grnDataSource"
      (onEditingStart)="onEditingRow($event)"
    >
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-chooser [enabled]="true" [height]="400"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    <!-- <dxo-pager
            [visible]="true"
            [allowedPageSizes]="allowedPageSizes"
            [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"
          ></dxo-pager> -->
  <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true">
  </dxo-editing>      
    <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Purchase Return</div>
        </dxi-item>
    
    <dxi-item location="after" locateInMenu="auto">     
        <dx-button
          icon="plus"
          type="default"
          hint="Add New Purchase Return"
          stylingMode="contained"
          (onClick)="openReturnForm()"
        ></dx-button>
      </dxi-item>
      <dxi-item
            location="after"
            locateInMenu="auto"
            showText="inMenu"
            widget="dxButton"
            [options]="{
              text: 'Refresh',
              icon: 'refresh',
              stylingMode: 'text'
            }"
          ></dxi-item>
          <dxi-item location="after" locateInMenu="auto">
            <div class="separator"></div>
          </dxi-item>
          <dxi-item name="exportButton"></dxi-item>
          <!-- <dxi-item location="after" locateInMenu="auto">
            <div class="separator"></div>
          </dxi-item> -->
          <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    
    </dxo-toolbar>
    
    <dxi-column dataField="RET_NO" width="150" caption="RETURN NO"  ></dxi-column>
    <dxi-column dataField="RET_DATE" width="auto" [calculateCellValue]="formatRetDate" caption="DATE"></dxi-column>
    <dxi-column dataField="SUPPLIER_NAME" width="auto" caption="SUPPLIER"></dxi-column>
    <dxi-column caption="STATUS"  dataField="STATUS"></dxi-column>

    <dxi-column type="buttons" width="100" [buttons]="allButtonsEditDelete">
    </dxi-column>
    <dxi-column type="buttons" width="100" [buttons]="customButtons">
    </dxi-column>
   
    </dx-data-grid> 
</div>

<form-popup
      [(visible)]="isReturnPopupVisible"
      [width]="width"
      [height]="height"
      titleText="New Purchase Return Form"
      (save)="onClickSaveData()"
      (closePopup)="ClearFormData()"
    >
    <app-purchase-return-new-form></app-purchase-return-new-form>
</form-popup>

<form-popup
      [(visible)]="isReturnEditPopupVisible"
      [width]="width"
      [height]="height"
      titleText="Edit Purchase Return Form"
      (save)="updateReturnData()"
    >
    <app-purchase-return-edit-form
    [formdata]="selectedRowData"></app-purchase-return-edit-form>
</form-popup>

<form-popup
      [(visible)]="isReturnVerifyPopupVisible"
      [width]="width"
      [height]="height"
      titleText="Verify Purchase Return Form"
      (save)="verifyReturnData()"
    >
    <app-purchase-return-verify-form
    [formdata]="selectedRowData"></app-purchase-return-verify-form>
</form-popup>

<form-popup
      [(visible)]="isReturnApprovePopupVisible"
      [width]="width"
      [height]="height"
      titleText="Approve Purchase Return Form"
      (save)="approveReturnData()"
    >
    <app-purchase-return-approve-form
    [formdata]="selectedRowData"></app-purchase-return-approve-form>
</form-popup>

<dx-popup
      [(visible)]="isReturnViewPopupVisible"
      [width]="width"
      [height]="height"
      title="View Purchase Return Form"
    >
    <app-purchase-return-view-form
    [formdata]="selectedRowData"></app-purchase-return-view-form>
</dx-popup>







