<dx-form class="plain-styled-form" [colCount]="2">
  <dxi-item itemType="group">
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Code"
            [(value)]="formCustomerData.CUST_CODE"
            labelMode="floating"
            [readOnly]="true"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Code is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="First Name"
            [(value)]="formCustomerData.FIRST_NAME"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="First name is required"
              >
              </dxi-validation-rule> </dx-validator
          ></dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Last Name"
            [(value)]="formCustomerData.LAST_NAME"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Last name is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-date-box
            type="date"
            [(value)]="formCustomerData.DOB"
            label="Date of birth"
            [inputAttr]="{ 'aria-label': 'Date' }"
            labelMode="floating"
            displayFormat="dd-MM-yyyy"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="DOB is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Nationality"
            [items]="CountryDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="formCustomerData.NATIONALITY"
            placeholder="Select Country"
            (onValueChanged)="onCountrySelectionChanged($event)"
            [searchEnabled]="true"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Select country">
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Contact Name"
            [(value)]="formCustomerData.CONTACT_NAME"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Contact name is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Address"
            [(value)]="formCustomerData.ADDRESS1"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Address is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            [(value)]="formCustomerData.ADDRESS2"
            labelMode="floating"
            style="margin-top: 10px"
          >
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            [(value)]="formCustomerData.ADDRESS3"
            labelMode="floating"
            style="margin-top: 10px"
          ></dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Country"
            [items]="CountryDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="formCustomerData.COUNTRY_ID"
            placeholder="Select Country"
            (onValueChanged)="onCountrySelectionChanged($event)"
            [searchEnabled]="true"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Country is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="City"
            [(value)]="formCustomerData.CITY"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="City is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="State"
            labelMode="floating"
            displayExpr="DESCRIPTION"
            [items]="StateDropdownData"
            valueExpr="ID"
            (onValueChanged)="onStateSelectionChanged($event)"
            [(value)]="formCustomerData.STATE_ID"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="State is required">
              </dxi-validation-rule> </dx-validator
          ></dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group">
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Zip Code"
            [(value)]="formCustomerData.ZIP"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="ZIP is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate style="display: flex">
          <dx-text-box
            label=" "
            [(value)]="DEFAULT_COUNTRY_CODE"
            class="country-code-input"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Country code is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box
            label="Mobile"
            class="phone-style"
            [(value)]="formCustomerData.MOBILE_NO"
            labelMode="floating"
            (keypress)="keyPressNumbers($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Mobile number is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item>
        <div *dxTemplate style="display: flex">
          <dx-text-box
            label=" "
            [(value)]="DEFAULT_COUNTRY_CODE"
            class="country-code-input"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Country code is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box
            label="Phone"
            class="phone-style"
            [(value)]="formCustomerData.PHONE"
            labelMode="floating"
            (keypress)="keyPressNumbers($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Phone number is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Fax"
            [(value)]="formCustomerData.FAX_NO"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="FAX number is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Email"
            [(value)]="formCustomerData.EMAIL"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Email is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Credit Limit"
            labelMode="floating"
            [(value)]="formCustomerData.CREDIT_LIMIT"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Credit limit is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Current Credit"
            [(value)]="formCustomerData.CURRENT_CREDIT"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Current credit is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Payment Terms"
            [items]="PaymentTermsDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="formCustomerData.PAY_TERM_ID"
            placeholder="Select Payment Terms"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Payment terms is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <div *dxTemplate>
        <dx-text-area
          label="Additional Info."
          [(value)]="formCustomerData.NOTES"
          labelMode="floating"
        ></dx-text-area>
      </div>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Default Price Level"
            [items]="PriceLevelDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            placeholder="Select Price level"
            [(value)]="formCustomerData.PRICE_CLASS_ID"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Select default price level"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Discount %"
            labelMode="floating"
            [(value)]="formCustomerData.DISCOUNT_PERCENT"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Discount percent is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            [label]="
              selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2
                ? '  VAT Rule'
                : ' GST Rule'
            "
            [items]="VATRuleDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="formCustomerData.CUST_VAT_RULE_ID"
            placeholder="Select VAT Rule"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Select VAT rule">
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            [label]="
              selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2
                ? '  VAT Registration Number'
                : ' GST Registration Number'
            "
            [(value)]="formCustomerData.VAT_REGNO"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                [message]="
                  selected_vat_id == sessionData.VAT_ID &&
                  sessionData.VAT_ID == 2
                    ? '  VAT  Registration number is required'
                    : ' GST  Registration number is required'
                "
              >
                >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
  </dxi-item>
  <dxi-item [colSpan]="2">
    <div *dxTemplate>
      <dx-radio-group
        [(value)]="formCustomerData.CUSTOMER_TYPE"
        [items]="customerTypeOptions"
        layout="horizontal"
        displayExpr="text"
        valueExpr="value"
        label="Customer Type"
        labelMode="floating"
      ></dx-radio-group>
    </div>
  </dxi-item>
  <!-- <dxi-item> -->
  <!-- <dx-button
      text="Update"
      stylingMode="contained"
      type="default"
      (onClick)="UpdateData()"
    ></dx-button>
  </dxi-item> -->

  <!-- <dxi-item [colSpan]="2">
          <div *dxTemplate>
            <dx-text-area
              label="Additional Info."
              [(value)]="newSupplier.NOTES"
             labelMode="floating"
    
            ></dx-text-area>
          </div>
        </dxi-item> -->
  <div class="form-popup-buttons-container">
    <div class="popup-footer">
      <dx-button
        text="Cancel"
        stylingMode="outlined"
        (onClick)="closePopup()"
        type="normal"
      ></dx-button>
      <dx-button
        text="Update"
        stylingMode="contained"
        type="default"
        (onClick)="UpdateData()"
      ></dx-button>
    </div>
  </div>
</dx-form>
