<div class="grid-container">
  <dx-data-grid
    #dataGrid
    [dataSource]="InputVatReport"
    width="100%"
    height="83vh"
    [showBorders]="true"
    [showRowLines]="true"
    [allowColumnResizing]="false"
    [showColumnLines]="true"
    [columnAutoWidth]="true"
    [groupPanel]="{ visible: true }"
    [grouping]="{ autoExpandAll: false }"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [remoteOperations]="false"
     [summary]="summaryColumnsData"
   
    [allowColumnReordering]="true"
    [filterRow]="{ visible: false }"
   
    
    id="dataGrid"
    [headerFilter]="{ visible: false }"
    [export]="{ enabled: true, formats: ['xlsx', 'pdf'] }"
    [columnFixing]="{
      enabled: true,
      texts: { fix: 'Freeze', unfix: 'Unfreeze' }
    }"
    (onExporting)="onExporting($event)"
    [loadPanel]="{ enabled: false, text: 'Loading...',  }"
   
   
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"> </dxo-export>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>

    <dxo-toolbar>
      <dxi-item location="before">
        <div
          class="grid-header"
          style="
            font-weight: 600;
            font-size: 20px;
            margin-left: 12px;
            padding: -3px;
            margin-right: 3px;
          "
        >
           {{ (selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2) ? 'Input VAT' : ' INPUT GST' }}
        </div>
      </dxi-item>

      <dxi-item>
        <dx-date-box
          [width]="200"
          label="Date From"
          labelMode="floating"
          [displayFormat]="'dd-MM-yyyy'"
         [value]="financialYeaDate"
          (onValueChanged)="onFromDateChange($event)"
        ></dx-date-box>
      </dxi-item>
      <dxi-item>
        <dx-date-box
          [width]="200"
          label="Date To"
          labelMode="floating"
            [value]="defaultDate"

          [displayFormat]="'dd-MM-yyyy'"
          (onValueChanged)="onToDateChange($event)"
        >
        </dx-date-box>
      </dxi-item>
      <!-- <dxi-item name="exportButton" [disabled]="isEmptyDatagrid"></dxi-item> -->

      <!-- <dxi-item>
        <dx-select-box
      label="Supplier"
      labelMode="floating"
      stylingMode="outlined"
      [valueExpr]="'ID'"
      [displayExpr]="'DESCRIPTION'"
      [items]="Supplier"
      [searchEnabled]="true"
      [(value)]=" selectedSupplierId"
      (onValueChanged)="onSupplierChanged($event)"
    ></dx-select-box>
      </dxi-item> -->

      <dxi-item>
        <dx-button
          text="Apply"
          type="default"
          icon="todo"
          stylingMode="contained"
          [width]="100"
          class="mt-2"
          (onClick)="get_DataSource()"
        >
        </dx-button>
      </dxi-item>

      <dxi-item name="exportButton"></dxi-item>
    </dxo-toolbar>

    <dxo-grouping
      [autoExpandAll]="false"
      [contextMenuEnabled]="true"
      [expandMode]="'rowClick'"
    ></dxo-grouping>
    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-row
      [visible]="isFilterRowVisible"
      [applyFilter]="auto"
    ></dxo-filter-row>

  
    <dxi-column
      dataField="SUPP_NAME"
      caption="Supplier Name"
      dataType="string"
    ></dxi-column>


     <dxi-column
      dataField="DOC_NO"
      caption="Document No."
      dataType="number"
      alignment="left"
    ></dxi-column>

     <dxi-column
      dataField="PURCH_DATE"
      caption="Purchase Date"
      dataType="date"
      alignment="left"
      format="dd/MM/yyyy"
    ></dxi-column>

     <dxi-column
      dataField="NARRATION"
      caption="Narration"
      dataType="number"
       alignment="left"
    ></dxi-column>

    <dxi-column
      dataField="TAXABLE_AMOUNT"
      caption="Gross Amount"
       [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }" dataType="number"
      
    ></dxi-column>
<dxi-column 
  dataField="TAX_AMOUNT"  
  [caption]="(selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2) ? 'VAT Amount' : ' GST Amount'" 
  [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }"  
  dataType="number">
</dxi-column>

    <!-- <dxi-column dataField="TAX_AMOUNT" caption="Tax Amount"  [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }" dataType="number"></dxi-column> -->
    <dxi-column
      dataField="TOTAL"
      caption="Total"
       [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }" dataType="number"
    ></dxi-column>


    <dxi-column
      *ngIf="InputVatReport.length > 0"
      type="buttons"
      [width]="100"
    >
      <dxi-button
        hint="View"
        icon="eyeopen"
        text="View"
        [onClick]="onViewClick.bind(this)"
      ></dxi-button>
    </dxi-column>
  </dx-data-grid>
  
</div>

<!-- drill down   -->

<dx-popup
  [(visible)]="isEditInvoice"
  [width]="'90vw'"
  [height]="'85vh'"
  title="Purchase Invoice"
   [deferRendering]="false" 
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isEditInvoice">
    <app-edit-purchase-invoice
      [invoiceFormData]="selectedInvoice"
      [readOnly]="isEditInvoiceReadOnly"
      (popupClosed)="handleClose()"
    ></app-edit-purchase-invoice>
  </ng-container>
</dx-popup>

<dx-popup
  [(visible)]="editPrePaymentPopupOpened"
  [width]="'50vw'"
  [height]="'75vh'"
  title="PrePayment Invoice"
   [deferRendering]="false" 
   (onHiding)="handleClose()"
>
  <app-pre-payment-edit
    [selectedPrePayment]="selectedPrePayment"
    [isOpen]="editPrePaymentPopupOpened"
    [isReadOnly]="isEditReadOnly"
    (formClosed)="handleClose()"
  ></app-pre-payment-edit>
</dx-popup>

<dx-popup
  [(visible)]="isViewDebitNote"
  [width]="'90vw'"
  [height]="'90vh'"
   [deferRendering]="false" 
  title="Debit Note"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isViewDebitNote">
    <app-view-debit
      [debitFormData]="selectedDebitNote"
      (popupClosed)="handleClose()"
    ></app-view-debit>
  </ng-container>
</dx-popup>

<!-- //======================= mis_payment=================== -->

<dx-popup
  [(visible)]="editMiscPopupOpened"
  [width]="'75vw'"
  [height]="'100vh'"
  [deferRendering]="false" 
  title="Miscellaneous Payment"
  (onHiding)="handleClose()"
>
  <app-add-miscellaneous-payment
    *ngIf="editMiscPopupOpened"
    [isEditing]="true"
    [EditingResponseData]="selectedmiscellaneousData"
    [isReadOnlyMode]="isReadOnlyPayment"
    (popupClosed)="handleClose()"
  ></app-add-miscellaneous-payment>
</dx-popup>