<div class="FullBody view-wrapper">
  <!-- 🔹 LOADER -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
  </div>

  <!-- 🔹 HEADER -->
  <div
    class="topDiv d-flex justify-content-between align-items-center filter-container"
  >
    <div class="headingText">Pay Settings</div>

    <div>
      <dx-button
        stylingMode="outlined"
        text="Cancel"
        type="normal"
        style="border-radius: 24px; margin-right: 10px"
      >
      </dx-button>

      <dx-button
        stylingMode="contained"
        text="Save"
        type="default"
        (onClick)="editData()"
        style="border-radius: 24px"
      >
      </dx-button>
    </div>
  </div>

  <!-- 🔹 FORM CARD -->
  <div class="form-container BorderBox p-3">
    <dx-form
      class="erp-form modern-form"
      [formData]="PaySettings"
      labelLocation="left"
      [colCount]="2"
      [colCountByScreen]="{ xs: 1, sm: 1, md: 2, lg: 2 }"
    >
      <!-- 🔸 LEFT SIDE -->
      <dxi-item itemType="group" [colCount]="1">
        <dxi-item>
          <dx-text-box
            dataField="DAILY_HOURS"
            label="Daily Working Hours"
            labelMode="floating"
            [(value)]="PaySettings.DAILY_HOURS"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item>
          <dx-text-box
            dataField="MAX_OT_MTS"
            label="Maximum OT Hours"
            labelMode="floating"
            [(value)]="PaySettings.MAX_OT_MTS"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item>
          <dx-text-box
            dataField="NORMAL_OT_RATE"
            label="Normal OT Rate"
            labelMode="floating"
            [(value)]="PaySettings.NORMAL_OT_RATE"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item>
          <dx-text-box
            dataField="HOLIDAY_OT_RATE"
            label="Holiday OT Rate"
            labelMode="floating"
            [(value)]="PaySettings.HOLIDAY_OT_RATE"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item>
          <dx-text-box
            dataField="LEAVE_SAL_DAYS"
            label="Leave Salary Days"
            labelMode="floating"
            [(value)]="PaySettings.LEAVE_SAL_DAYS"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>
      </dxi-item>

      <!-- 🔸 RIGHT SIDE -->
      <dxi-item itemType="group" [colCount]="1">
        <dxi-item>
          <dx-text-box
            dataField="UQ_LABOUR_ID"
            label="Unique Labour ID"
            labelMode="floating"
            [(value)]="PaySettings.UQ_LABOUR_ID"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item>
          <dx-text-box
            dataField="BANK_AC_NO"
            label="Bank Account No"
            labelMode="floating"
            [(value)]="PaySettings.BANK_AC_NO"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>

        <dxi-item>
          <dx-text-box
            dataField="BANK_CODE"
            label="Bank Code"
            labelMode="floating"
            [(value)]="PaySettings.BANK_CODE"
            width="100%"
          >
          </dx-text-box>
        </dxi-item>
      </dxi-item>

      <!-- 🔸 SALARY SECTION -->
      <dxi-item>
        <div class="card-heading">Salary Ledger Mapping</div>
      </dxi-item>

      <dxi-item>
        <dx-select-box
          dataField="SAL_PAYABLE_HEAD_ID"
          label="Salary Payable"
          valueExpr="ID"
          displayExpr="DESCRIPTION"
          [items]="Ledger"
          [(value)]="PaySettings.SAL_PAYABLE_HEAD_ID"
          labelMode="floating"
          width="100%"
        >
        </dx-select-box>
      </dxi-item>

      <!-- 🔸 PROVISION SECTION -->
      <dxi-item>
        <div class="card-heading">Provision Ledger Mapping</div>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="2">
        <dxi-item>
          <dx-select-box
            dataField="LS_EXPENSE_HEAD_ID"
            label="Leave Salary Expense"
            valueExpr="ID"
            displayExpr="DESCRIPTION"
            [items]="Ledger"
            [(value)]="PaySettings.LS_EXPENSE_HEAD_ID"
            labelMode="floating"
            width="100%"
          >
          </dx-select-box>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            dataField="LS_PAYABLE_HEAD_ID"
            label="Leave Salary Payable"
            valueExpr="ID"
            displayExpr="DESCRIPTION"
            [items]="Ledger"
            [(value)]="PaySettings.LS_PAYABLE_HEAD_ID"
            labelMode="floating"
            width="100%"
          >
          </dx-select-box>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="2">
        <dxi-item>
          <dx-select-box
            dataField="EOS_EXPENSE_HEAD_ID"
            label="EOS Expense"
            valueExpr="ID"
            displayExpr="DESCRIPTION"
            [items]="Ledger"
            [(value)]="PaySettings.EOS_EXPENSE_HEAD_ID"
            labelMode="floating"
            width="100%"
          >
          </dx-select-box>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            dataField="EOS_PAYABLE_HEAD_ID"
            label="EOS Payable"
            valueExpr="ID"
            displayExpr="DESCRIPTION"
            [items]="Ledger"
            [(value)]="PaySettings.EOS_PAYABLE_HEAD_ID"
            labelMode="floating"
            width="100%"
          >
          </dx-select-box>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>
</div>
