<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="ItemProperty2DataSource"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [showBorders]="true"
    (onRowRemoving)="onRowRemoving($event)"
    (onEditingStart)="onEditingStartproperty2($event)"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [showColumnLines]="true"
    [width]="'100%'"
    [height]="'82vh'"
    [scrolling]="{ mode: 'virtual' }"
    (onExporting)="onExporting($event)"
  >
    <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>

    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

    <dxo-export [enabled]="true" [formats]="['xlsx']"> </dxo-export>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-editing mode="popup" [allowUpdating]="canEdit" [allowDeleting]="canDelete">
      <dxo-popup
        title="Edit {{ itemlabel }}"
        [showTitle]="true"
        [width]="450"
        [height]="300"
      ></dxo-popup>
      <dxo-form [colCount]="1"> </dxo-form>
    </dxo-editing>

    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">{{ ITEM_PROPERTY2 }}</div>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="searchButtonOptions"
      ></dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="refreshButtonOptions"
      ></dxi-item>
      <!-- Divider -->
      <dxi-item location="after">
        <div class="toolbar-divider"></div>
      </dxi-item>

      <dxi-item
        name="exportButton"
        location="after"
        cssClass="export-btn"
      ></dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="addButtonOptions"
        [visible]="canAdd"
      ></dxi-item>

      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="CODE" caption="Code">
      <dxi-validation-rule type="required" message="Code is required">
        <dxi-validation-rule type="pattern" message="Code is required">
        </dxi-validation-rule>
      </dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="DESCRIPTION" caption="Description">
      <dxi-validation-rule type="required" message="Description is required">
        <dxi-validation-rule type="pattern" message="Description is required">
        </dxi-validation-rule>
      </dxi-validation-rule>
    </dxi-column>
  </dx-data-grid>
</div>
<form-popup
  [(visible)]="isItemProperty2PopupOpened"
  (save)="onClickSaveItemProperty2()"
  titleText="New Color"
  height="35vh"
  [showApprove]="false"
>
  <app-item-property2-form
    [companyId]="selected_Company_id"
  ></app-item-property2-form>
</form-popup>
<dx-popup
  [(visible)]="isEditItemProperty2PopupOpened"
  title="Edit Color"
  height="30vh"
  width="30vw"
>
  <app-item-property2-edit
    [selectedData]="selected_data"
    (formClosed)="handleClose()"
  >
  </app-item-property2-edit>
</dx-popup>
