<dx-validation-group #journalVoucherGroup>
  <div class="invoice-wrapper">
    <!-- 🔹 HEADER -->
    <div class="header-container">
      <!-- 🔹 ROW 1 -->
      <div class="header-row">
        <!-- LEFT SIDE -->
        <div class="left-section">
          <dx-text-box
            label="Invoice No"
            [(value)]="invoiceFormData.DOC_NO"
            [readOnly]="true"
            labelMode="floating"
            width="180"
          >
          </dx-text-box>

          <dx-date-box
            label="Date"
            [(value)]="invoiceFormData.TRANS_DATE"
            type="date"
            [readOnly]="true"
            displayFormat="dd-MM-yyyy"
            labelMode="floating"
            width="180"
          >
          </dx-date-box>
        </div>

        <!-- RIGHT SIDE -->
        <div class="right-section">
          <dx-text-box
            label="Store"
            [(value)]="invoiceFormData.STORE_NAME"
            [readOnly]="true"
            labelMode="floating"
            width="250"
          >
          </dx-text-box>
        </div>
      </div>

      <!-- 🔹 ROW 2 -->
      <div class="header-row">
        <!-- LEFT -->
        <div class="left-section">
          <dx-text-box
            label="Customer"
            [(value)]="invoiceFormData.CUST_NAME"
            [readOnly]="true"
            labelMode="floating"
            width="380"
          >
          </dx-text-box>
        </div>

        <!-- RIGHT -->
        <div class="right-section">
          <dx-text-box
            label="Salesman"
            [readOnly]="true"
            [(value)]="invoiceFormData.SALESMAN"
            labelMode="floating"
            width="250"
          >
          </dx-text-box>
        </div>
      </div>
    </div>
    <!-- 🔹 GRID + TENDER -->
    <div class="main-layout">
      <!-- LEFT GRID -->
      <div class="grid-section">
        <dx-data-grid
          #itemsGridRef
          [dataSource]="invoiceFormData.Details"
          [showBorders]="true"
          [showRowLines]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [columnResizingMode]="'nextColumn'"
          [filterRow]="{ visible: false }"
          [headerFilter]="{ visible: true }"
          height="100%"
        >
          <dxi-column dataField="ITEM_CODE" caption="Item Code"></dxi-column>
          <dxi-column
            dataField="DESCRIPTION"
            caption="Description"
          ></dxi-column>
          <dxi-column dataField="QUANTITY" caption="Qty"></dxi-column>
          <dxi-column
            dataField="PRICE"
            caption="Price(AED)"
            dataType="number"
            format="#,##0.00"
          ></dxi-column>
          <dxi-column
            dataField="DISC_PERC"
            caption="Discount"
            dataType="number"
            format="#,##0.00"
          ></dxi-column>
          <dxi-column
            dataField="AMOUNT_INCL_VAT"
            caption="Amount(Incl.VAT)AED"
            dataType="number"
            format="#,##0.00"
          >
          </dxi-column>
          <dxi-column dataField="TAX_PERC" caption="VAT %"></dxi-column>
          <dxi-column
            dataField="TAX_AMOUNT"
            caption="VAT Amt(AED)"
            dataType="number"
            format="#,##0.00"
          >
          </dxi-column>

          <dxi-column
           dataField="AMOUNT_EXCL_VAT"
            caption="Amount(Excl.VAT)AED"
            dataType="number"
            format="#,##0.00"
          >
          </dxi-column>

           <dxo-summary>
    <dxi-total-item
      column="QUANTITY"
      summaryType="sum"
      displayFormat="{0}">
    </dxi-total-item>

    <dxi-total-item
      column="AMOUNT_INCL_VAT"
      summaryType="sum"
      valueFormat="#,##0.00"
      displayFormat="{0}">
    </dxi-total-item>

    <dxi-total-item
      column="TAX_PERC"
      summaryType="sum"
      valueFormat="#,##0.00"
      displayFormat="{0}">
    </dxi-total-item>

    <dxi-total-item
      column="TAX_AMOUNT"
      summaryType="sum"
      valueFormat="#,##0.00"
      displayFormat="{0}">
    </dxi-total-item>

     <dxi-total-item
      column="AMOUNT_EXCL_VAT"
      summaryType="sum"
      valueFormat="#,##0.00"
      displayFormat="{0}">
    </dxi-total-item>
  </dxo-summary>

<!-- 
          <dx-data-grid
  [dataSource]="invoiceFormData.Details"
  [showBorders]="true">

  <dxi-column dataField="ITEM_CODE" caption="Item Code"></dxi-column>
  <dxi-column dataField="DESCRIPTION" caption="Description"></dxi-column>
  <dxi-column dataField="QUANTITY" caption="Qty"></dxi-column>
  <dxi-column dataField="PRICE" caption="Price"></dxi-column>
  <dxi-column dataField="DISC_PERC" caption="Discount"></dxi-column>
  <dxi-column dataField="AMOUNT_INCL_VAT" caption="Amount(Incl.VAT)"></dxi-column>
  <dxi-column dataField="TAX_PERC" caption="VAT %"></dxi-column>
  <dxi-column dataField="TAX_AMOUNT" caption="VAT Amt"></dxi-column>

 
</dx-data-grid> -->
        </dx-data-grid>
      </div>

      <!-- RIGHT TENDER -->
      <div class="tender-section">
        <dx-data-grid
          [dataSource]="tenderList"
          [showBorders]="true"
          [showRowLines]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [columnResizingMode]="'nextColumn'"
          [filterRow]="{ visible: false }"
          [headerFilter]="{ visible: true }"
          height="100%"
        >
          <dxi-column dataField="TYPE" caption="Tender"></dxi-column>
          <dxi-column
            dataField="AMOUNT"
            caption="Amount"
            dataType="number"
            format="#,##0.00"
          ></dxi-column>

          <dxo-summary>
<dxi-total-item
             column="AMOUNT"
      summaryType="sum"
      valueFormat="#,##0.00"
      displayFormat="{0}">
    ></dxi-total-item>
  </dxo-summary>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-validation-group>
