<div class="view-wrappers list-page">
  <div>
    <dx-data-grid
      #dataGrid
      [width]="'100%'"
      [height]="originalGridHeight"
      class="grid theme-dependent"
      [dataSource]="itemStoresList"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      [editing]="{
        mode: 'cell',
        allowUpdating: true,
      }"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
      }"
      [keyExpr]="'ID'"
      [(selectedRowKeys)]="selectedRowKeys"
      (onSelectionChanged)="onSelectionChanged($event)"
      (onEditorPreparing)="onEditorPreparing($event)"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>

      <dxo-scrolling
        mode="standard"
        columnRenderingMode="virtual"
      ></dxo-scrolling>
      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
      ></dxo-search-panel>
      <dxo-header-filter
        [visible]="true"
        [allowSearch]="true"
      ></dxo-header-filter>
      <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="false"
      ></dxo-search-panel>
      <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true">
      </dxo-editing>

      <dxo-toolbar>
        <dxi-item location="before">
          <div
            style="
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 10px;
            "
          >
            <!-- 🔹 Heading -->
            <!-- <div class="grid-header">{{ heading }}</div> -->

            <!-- 🔹 Main Row -->
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 20px;
                width: 100%;
              "
            >
              <!-- ================= LEFT SIDE ================= -->
              <div
                style="
                  display: flex;
                  align-items: flex-start;
                  gap: 20px;
                  flex-wrap: wrap;
                "
              >
                <!-- From & To Date -->
                <div style="display: flex; flex-direction: column; gap: 10px">
                  <div style="display: flex; align-items: center; gap: 10px">
                    <label style="width: 90px">From Date:</label>
                    <dx-date-box
                      [(value)]="fromDate"
                      type="date"
                      displayFormat="yyyy-MM-dd"
                      width="150"
                      (onValueChanged)="checkDateSelection($event)"
                    >
                    </dx-date-box>
                  </div>

                  <div style="display: flex; align-items: center; gap: 10px">
                    <label style="width: 90px">To Date:</label>
                    <dx-date-box
                      [(value)]="toDate"
                      type="date"
                      displayFormat="yyyy-MM-dd"
                      width="150"
                      [min]="fromDate"
                      (onValueChanged)="checkDateSelection($event)"
                      >><dx-validator>
                        <dxi-validation-rule
                          type="custom"
                          [validationCallback]="validateToDate"
                          message="To Date must be greater than From Date"
                        >
                        </dxi-validation-rule>
                      </dx-validator>
                    </dx-date-box>
                  </div>

                  <div style="display: flex; align-items: center; gap: 10px">
                    <label style="width: 90px">Remark:</label>
                    <dx-text-box
                      [(value)]="narration"
                      placeholder="Enter Remarks"
                      width="150"
                    >
                    </dx-text-box>
                  </div>
                </div>

                <!-- Time -->
                <div style="display: flex; flex-direction: column; gap: 15px">
                  <dx-switch
                    [(value)]="isHappyHoursEnabled"
                    (onValueChanged)="onHappyHoursChanged($event)"
                  >
                  </dx-switch>
                  <dx-date-box
                    [(value)]="timeFrom"
                    type="time"
                    displayFormat="HH:mm"
                    pickerType="rollers"
                    placeholder="From Time"
                    width="90"
                    [disabled]="!isHappyHoursEnabled"
                    (onValueChanged)="onFromTimeChanged($event)"
                  >
                  </dx-date-box>

                  <dx-date-box
                    [(value)]="timeTo"
                    type="time"
                    displayFormat="HH:mm"
                    pickerType="rollers"
                    placeholder="To Time"
                    width="90"
                    [disabled]="!isHappyHoursEnabled"
                    (onValueChanged)="onToTimeChanged($event)"
                  >
                  </dx-date-box>
                </div>

                <!-- Days + Store -->
                <div style="display: flex; flex-direction: column; gap: 10px">
                  <dx-tag-box
                    [items]="daysOfWeek"
                    [(value)]="selectedDays"
                    displayExpr="text"
                    valueExpr="value"
                    [multiline]="false"
                    [showSelectionControls]="true"
                    placeholder="Select Days"
                    [searchEnabled]="true"
                    [width]="300"
                  >
                  </dx-tag-box>

                  <dx-tag-box
                    [items]="store"
                    [(value)]="selectedStoreId"
                    displayExpr="STORE_NAME"
                    valueExpr="ID"
                    [multiline]="false"
                    [width]="300"
                    [multiline]="false"
                    [showSelectionControls]="true"
                    placeholder="Select Days"
                    [searchEnabled]="true"
                  >
                  </dx-tag-box>

                  <dx-select-box
                    *ngIf="is_promotion_level"
                    [(value)]="price_level"
                    [items]="priceLevels"
                    displayExpr="text"
                    valueExpr="value"
                    placeholder="Price level"
                    width="300"
                    [multiline]="false"
                    [searchEnabled]="true"
                    (onValueChanged)="onPriceLevel($event)"
                  ></dx-select-box>
                </div>
              </div>

              <!-- ================= RIGHT SIDE ================= -->
              <div style="display: flex; flex-direction: column; gap: 5px">
                <div style="display: flex; flex-direction: column; gap: 5px">
                  <dx-button
                    text="Promotion"
                    icon="formula"
                    stylingMode="contained"
                    type="default"
                    (onClick)="setPromotion(dataGrid.selectedRowKeys)"
                    width="250"
                  >
                  </dx-button>
                </div>

                <div style="display: flex">
                  <!-- <dx-check-box
                    [(value)]="approveValue"
                    text="Approve"
                    [readOnly]="readOnly"
                    (onValueChanged)="onApprovedChanged($event)"
                    style="margin: 10px"
                  >
                  </dx-check-box> -->
                  <dx-button
                    [text]="getButtonText()"
                    stylingMode="contained"
                    type="default"
                    class="mt-2"
                    (onClick)="savePromotion()"
                  >
                  </dx-button>
                </div>
              </div>

              <div style="display: flex; align-items: center; gap: 10px"></div>
            </div>
          </div>
        </dxi-item>
      </dxo-toolbar>

      <dxi-column
        dataField="BARCODE"
        caption="Barcode"
        [width]="150"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="DESCRIPTION"
        caption="Description"
        [width]="200"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        alignment="left"
        dataField="CAT_NAME"
        caption="Category"
        [width]="150"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        alignment="right"
        dataField="DEPT_NAME"
        caption="Department"
        [width]="150"
        [allowEditing]="false"
      ></dxi-column>

      <dxi-column
        alignment="right"
        dataField="COST"
        caption="Cost"
        [width]="100"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        alignment="right"
        dataField="SALE_PRICE"
        caption="Price"
        [width]="100"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        alignment="right"
        dataField="PROMOTION_PRICE"
        caption="Promotion Price"
        [width]="200"
        [allowEditing]="false"
        [format]="{ type: 'fixedPoint', precision: 2 }"
        [visible]="selectedOption !== 'schemaLevelPromotion'"
      ></dxi-column>
      <dxi-column
        alignment="left"
        dataField="PROMOTION_NAME"
        caption="Schema"
        [width]="150"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        alignment="left"
        dataField="PROMOTION_SCHEMA_ID"
        caption="Schema ID"
        [width]="150"
        [visible]="false"
        [allowEditing]="false"
      ></dxi-column>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  [(visible)]="isVisible"
  [width]="'850'"
  [height]="'500px'"
  title="Set Promotion"
  [showCloseButton]="true"
>
  <div *dxTemplate="let data of 'content'" class="popup-content">
    <!-- RADIO BUTTON -->
    <dx-radio-group
      [(value)]="selectedMode"
      [items]="[
        { text: 'Price Level Promotion', value: 'price' },
        { text: 'Schema Level Promotion', value: 'schema' },
      ]"
      displayExpr="text"
      valueExpr="value"
      layout="horizontal"
      (onValueChanged)="onModeChange($event)"
    >
    </dx-radio-group>

    <!-- ========================= -->
    <!--   PRICE SECTION -->
    <!-- ========================= -->
    <div
      class="promo-container mt-3"
      [class.disabled-section]="selectedMode === 'schema'"
    >
      <div class="form-row single">
        <div class="form-inline">
          <label>Promotion</label>
          <dx-text-box
            [(value)]="promotionName"
            [disabled]="selectedMode === 'schema'"
          ></dx-text-box>
        </div>
      </div>

      <div class="form-row two-col">
        <div class="form-inline">
          <label>Set Sale Price To</label>
          <dx-select-box
            [(value)]="firstDropdownValue"
            [items]="firstDropdownOptions"
            displayExpr="label"
            valueExpr="value"
            [searchEnabled]="true"
            [disabled]="selectedMode === 'schema'"
          ></dx-select-box>
        </div>

        <div class="form-inline">
          <label>Adjustment</label>
          <div class="adjust-group">
            <dx-select-box
              [(value)]="operationValue"
              [items]="operationOptions"
              displayExpr="value"
              valueExpr="value"
              [searchEnabled]="true"
              [disabled]="selectedMode === 'schema'"
            ></dx-select-box>

            <dx-text-box
              [(value)]="operationInputValue"
              [disabled]="selectedMode === 'schema'"
            ></dx-text-box>
          </div>
        </div>
      </div>

      <div class="form-row two-col">
        <div class="form-inline">
          <label>Result Rounding</label>
          <dx-select-box
            [(value)]="roundingValue"
            [items]="roundingOptions"
            displayExpr="text"
            valueExpr="value"
            [searchEnabled]="true"
            [disabled]="selectedMode === 'schema'"
          ></dx-select-box>
        </div>
      </div>
    </div>

    <!-- ========================= -->
    <!--   SCHEMA SECTION -->
    <!-- ========================= -->
    <div
      class="form-container mt-3"
      [class.disabled-section]="selectedMode === 'price'"
    >
      <div class="form-inline">
        <label>Select Schema</label>
        <dx-select-box
          [(value)]="selectedSchemaId"
          [items]="promotionSchema"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
          (onValueChanged)="onSchemaChanged($event)"
          [disabled]="selectedMode === 'price'"
        >
        </dx-select-box>
      </div>
    </div>

    <!-- BUTTON -->
    <div class="action-buttons mt-3">
      <dx-button
        text="Apply"
        stylingMode="contained"
        type="default"
        (onClick)="applyPromotion()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
