<div class="view-wrapper list-page">
  <dx-data-grid
    #dataGrid
    class="grid theme-dependent"
    [dataSource]="itemTemplate"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    (onEditingStart)="onEditingRow($event)"
    (onRowRemoving)="onRowRemoving($event)"
    (onRowUpdating)="onRowUpdating($event)"
    [height]="'82vh'"
    rowAlternationInterval="2"
    [rowAlternationEnabled]="true"
    [width]="'100%'"
    [columnAutoWidth]="true"
  >
  <dxo-scrolling mode="virtual"></dxo-scrolling>

  <dxo-export
      [enabled]="true"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-search-panel
      [visible]="true"
      placeholder="Data Search"
    ></dxo-search-panel>

  <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>

  <dxo-editing mode="popup" [allowUpdating]="canEdit" [allowDeleting]="canDelete">
  </dxo-editing>
  <dxo-toolbar>

  <!-- Title -->
  <dxi-item location="before">
    <div class="grid-header">Import Items Template</div>
  </dxi-item>

  <!-- Filter Toggle -->
  <dxi-item
    location="after"
    widget="dxButton"
    [options]="searchButtonOptions"
  ></dxi-item>

  <!-- Refresh -->
  <dxi-item
    location="after"
    widget="dxButton"
    [options]="refreshButtonOptions"
  ></dxi-item>

  <!-- Divider -->
  <dxi-item location="after">
    <div class="toolbar-divider"></div>
  </dxi-item>

  <!-- Export -->
  <dxi-item
    name="exportButton"
    location="after"
    cssClass="export-btn"
  ></dxi-item>

  <!-- Add Button (Styled) -->
  <dxi-item
    location="after"
    widget="dxButton"
    [options]="addButtonOptions"
    [visible]="canAdd"
  ></dxi-item>

</dxo-toolbar>

  <dxi-column dataField="TEMPLATE_NAME" caption="Template Name"></dxi-column>
  <dxi-column dataField="REMARKS" caption="Remarks"></dxi-column>
  
  


  </dx-data-grid>
  <form-popup
    [(visible)]="isPopupOpened"
    (save)="onClickSave()"
    titleText="New Item Template"
    [showApprove]="false"
    [height]="700"
    [width]="700"
  >
  <app-import-item-template-form></app-import-item-template-form>
    
  </form-popup>
  <dx-popup
  [(visible)]="isEditPopupOpened"
  title="Edit Import Item Template"
  [height]="700"
  [width]="700"
  >
  <app-import-item-template-edit-form [formdata]="selectedRowData" (closeForm)="CloseEditForm()"></app-import-item-template-edit-form>
</dx-popup>

  </div>