.button-container {
  margin-top: 30px;
  margin-left: 40%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

::ng-deep .grndropdown {
  margin-top: -8px;
  /* adjust -4px / -8px as needed */
}

::ng-deep .dx-toolbar .dx-toolbar-items-container {
  align-items: flex-start !important;
}

::ng-deep .popup-title-text {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  font-size: 20px;
  font-weight: 600;
  word-break: break-word;
}

::ng-deep .dx-popup-title .dx-toolbar-label {
  max-width: none !important;
  text-overflow: unset !important;
  overflow: visible !important;
  font-size: 18px !important;
  font-weight: 600;
}

::ng-deep .dx-popup-title .dx-item-content {
  max-width: none !important;
  overflow: visible !important;
  text-overflow: unset !important;
}