<div class="view-wrapper list-page">
  <div class="grid-container">
    <!-- Top Grid: Receipts -->
    <dx-data-grid
      #receiptGrid
      [dataSource]="receiptData"
      [showBorders]="true"
      class="grid theme-dependent mb-1"
      [rowAlternationEnabled]="true"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
        allowSelectAll: false,
      }"
      [focusedRowEnabled]="false"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [height]="'40vh'"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' },
      }"
      (onSelectionChanged)="onReceiptSelectionChanged($event)"
    >
      <dxi-column
        *ngFor="let col of receiptColumns"
        [dataField]="col.dataField"
        [caption]="col.caption"
        [dataType]="col.dataType"
        [format]="col.format"
      ></dxi-column>

      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"
      ></dxo-filter-row>

      <dxo-header-filter [visible]="isFilterOpened"
        ><dxo-search [enabled]="true"></dxo-search
      ></dxo-header-filter>

      <dxo-paging [enabled]="false"></dxo-paging>

      <dxo-pager
        [visible]="false"
        [showInfo]="true"
        infoText="Total Rows: {2}"
        [showNavigationButtons]="false"
        [showPageSizeSelector]="false"
      ></dxo-pager>

      <dxo-scrolling
        mode="virtual"
        rowRenderingMode="virtual"
        columnRenderingMode="virtual"
        showScrollbar="always"
        preloadEnabled="true"
        useNative="false"
      ></dxo-scrolling>

      <dxo-toolbar>
        <dxi-item
          name="receiptListHeader"
          location="before"
          locateInMenu="never"
        >
          <div class="grid-header">Receipts</div>
        </dxi-item>

        <dxi-item
          name="refreshButton"
          location="after"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>

        <dxi-item
          name="searchButton"
          location="after"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <dxi-item name="divider1" location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>

        <dxi-item
          name="reProcessButton"
          location="after"
          widget="dxButton"
          [options]="MatchingButtonOptions"
        ></dxi-item>
      </dxo-toolbar>

      <dxo-summary>
        <dxi-total-item
          column="Amount"
          summaryType="custom"
          [displayFormat]="
            'Total: ' +
            ((selectedReceiptAmountTotal | number: '1.2-2') || '0.00')
          "
        ></dxi-total-item>
        <dxi-total-item
          column="RejectedAmount"
          summaryType="custom"
          [displayFormat]="
            'Total: ' +
            ((selectedReceiptRejectedTotal | number: '1.2-2') || '0.00')
          "
        ></dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </div>

  <div
    *ngIf="isMatchingLoading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    "
  >
    <dx-load-indicator
      [visible]="true"
      height="24"
      width="24"
    ></dx-load-indicator>
    <span style="margin-left: 10px; font-weight: 500; color: #1ca8dd"
      >Processing Match...</span
    >
  </div>

  <div class="grid-section">
    <!-- Bottom Grid: Invoices -->
    <dx-data-grid
      #invoiceGrid
      class="grid theme-dependent"
      [dataSource]="invoiceData"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      noDataText=" "
      [height]="'40vh'"
      (onSelectionChanged)="onInvoiceSelectionChanged($event)"
      (onEditorPreparing)="onInvoiceEditorPreparing($event)"
      (onSaved)="onInvoiceSaved($event)"
    >
      <dxo-selection
        mode="multiple"
        showCheckBoxesMode="always"
      ></dxo-selection>

      <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

      <dxi-column
        *ngFor="let col of invoiceColumns"
        [dataField]="col.dataField"
        [caption]="col.caption"
        [dataType]="col.dataType"
        [format]="col.format"
        [allowEditing]="col.allowEditing"
        [validationRules]="col.validationRules"
      ></dxi-column>

      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"
      ></dxo-filter-row>

      <dxo-header-filter [visible]="isFilterOpened"
        ><dxo-search [enabled]="true"></dxo-search
      ></dxo-header-filter>

      <dxo-paging [enabled]="false"></dxo-paging>

      <dxo-pager
        [visible]="false"
        [showInfo]="true"
        infoText="Total Rows: {2}"
        [showNavigationButtons]="false"
        [showPageSizeSelector]="false"
      ></dxo-pager>

      <dxo-scrolling
        mode="virtual"
        rowRenderingMode="virtual"
        columnRenderingMode="virtual"
        showScrollbar="always"
        preloadEnabled="true"
        useNative="false"
      ></dxo-scrolling>

      <dxo-toolbar>
        <dxi-item
          name="invoiceListHeader"
          location="before"
          locateInMenu="never"
        >
          <div class="grid-header">Invoices</div>
        </dxi-item>
      </dxo-toolbar>

      <dxo-summary>
        <dxi-total-item
          column="Amount"
          summaryType="custom"
          [displayFormat]="
            'Selected: ' +
            ((selectedInvoiceAmountTotal | number: '1.2-2') || '0.00')
          "
        ></dxi-total-item>
        <dxi-total-item
          column="ReceivedAmount"
          summaryType="custom"
          [displayFormat]="
            'Total: ' +
            ((selectedInvoiceReceivedTotal | number: '1.2-2') || '0.00')
          "
        ></dxi-total-item>
        <dxi-total-item
          column="RejectedAmount"
          summaryType="custom"
          [displayFormat]="
            'Total: ' +
            ((selectedInvoiceRejectedTotal | number: '1.2-2') || '0.00')
          "
        ></dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </div>
</div>
