
    <dx-data-grid
      class="grid theme-dependent"
      [dataSource]="itemproperty2"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      [showBorders]="true"
      (onRowRemoving)="onRowRemoving($event)"
      (onEditingStart)="onEditingStartproperty2($event)"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
        [showColumnLines]="true"
        [width]="'100%'"
      [height]="'75vh'"
      (onExporting)="onExporting($event)"
    >
   
     <dxo-filter-row
  [visible]="isFilterRowVisible"
></dxo-filter-row>

  <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

<dxo-export
      [enabled]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    
    <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true">
          <dxo-popup title="Edit {{itemlabel}}" [showTitle]="true" [width]="450" [height]="300"></dxo-popup>
          <dxo-form [colCount]="1">
          </dxo-form>
        </dxo-editing>
        
    
      
    <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header" style="font-weight: 600 ;font-size: 20px; margin-left: 12px; padding: -3px; margin-right: 3px;"> {{ITEM_PROPERTY2}}</div>
        </dxi-item>

         <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          icon: isFilterRowVisible ? 'filter' : 'filter',
          hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
          onClick: toggleFilterRow,
          stylingMode: 'text',
          elementAttr: { class: 'commonButtons' }
        }"
      ></dxi-item>
    
      <dxi-item
      location="after"
      widget="dxButton"
      [options]="addButtonOptions"
    ></dxi-item>


      <dxi-item
            location="after"
            locateInMenu="auto"
            showText="inMenu"
            widget="dxButton"
            [options]="{
              text: 'Refresh',
              icon: 'refresh',
               onClick: refresh,
              stylingMode: 'text'
            }"
          ></dxi-item>
          <dxi-item location="after" locateInMenu="auto">
            <div class="separator"></div>
          </dxi-item>
          <dxi-item name="exportButton"></dxi-item>
          <dxi-item location="after" locateInMenu="auto">
            <div class="separator"></div>
          </dxi-item> 
          <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item> 
    
    </dxo-toolbar>
    
    <dxi-column dataField="CODE" caption="Code">
      <dxi-validation-rule type="required" message="Code is required">
        <dxi-validation-rule
        type="pattern"
        
        message="Code is required"
      >
      </dxi-validation-rule>
      </dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="DESCRIPTION" caption="Description">
      <dxi-validation-rule type="required" message="Description is required">
        <dxi-validation-rule
        type="pattern"
        
        message="Description is required"
      >
      </dxi-validation-rule>
      </dxi-validation-rule>
    </dxi-column>
    
    
    
      </dx-data-grid>
    <form-popup 
        [(visible)]="isItemProperty2PopupOpened"
        (save)="onClickSaveItemProperty2()"
        titleText="New {{itemlabel}}"
        height="300px"
      >
       <app-item-property1-form></app-item-property1-form>

      </form-popup>
              <dx-popup
        [(visible)]="isEditItemProperty2PopupOpened"
        titleText="Edit Item property2"
        height="30vh"
      width="40vw"
      >
    <app-item-property2-edit
  [selectedData]="selected_data"
  (formClosed)="handleClose()">
</app-item-property2-edit>

      </dx-popup>
    

    