<div class="dx-theme-fluent dx-theme-fluent">
  <div class="view-wrapper topDiv d-flex mb-2 mt-0">
    <div class="headDiv d-flex align-items-center m-0 p-0">
      <div class="inputBox ms-3">
        <dx-text-box
          [(value)]="UserLevelValue"
          label="Enter User Role"
          labelMode="floating"
          validationMessagePosition="right"
        >
          <dx-validator *ngIf="isErrorVisible">
            <dxi-validation-rule
              type="required"
              message="user level is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="inputBox ms-3">
        <dx-select-box
          [(value)]="CopiedUserLevelValue"
          [items]="userRoles"
          label="Copy User Role"
          labelMode="floating"
          [showClearButton]="true"
          validationMessagePosition="right"
          (onValueChanged)="onUserRoleCopySelectionChange($event)"
        >
        </dx-select-box>
      </div>
    </div>
  </div>

  <div class="tabs-demo view-wrapper">
    <div class="widget-container">
      <div>
        <dx-tabs
          #withIconAndText
          [width]="width"
          [selectedIndex]="selectedTab"
          [scrollByContent]="scrollByContent"
          [showNavButtons]="showNavButtons"
          [dataSource]="MenuDatasource"
          [orientation]="orientations"
          [stylingMode]="stylingMode"
          [iconPosition]="iconPosition"
          (onItemClick)="onTabClick($event)"
        >
        </dx-tabs>
        <dx-data-grid

          *ngIf="selectedTabData"
          class="grid theme-dependent"
          noDataText=""
          [height]="'58vh'"
          [dataSource]="selectedTabData"
          [allowColumnResizing]="true"
          [allowColumnReordering]="true"
          [rowAlternationEnabled]="true"
          [hoverStateEnabled]="true"
          rowAlternationInterval="2"
          (onSelectionChanged)="onSelectionChanged($event)"
          [selectedRowKeys]="selectedRows[selectedTab]"
        >


          <dxo-editing
    mode="cell"
    [allowUpdating]="true"
    [allowAdding]="false"
    [allowDeleting]="false">
  </dxo-editing>

          <dxo-selection mode="multiple"></dxo-selection>
          <dxi-column dataField="MenuName" caption="Menu List"></dxi-column>


          <dxi-column
  dataField="canAdd"
  caption="Add"
  [width]="80"
  dataType="boolean"
  [allowEditing]="true"
  [allowSorting]="false"
  [showEditorAlways]="true">
</dxi-column>

<dxi-column
  dataField="canView"
  caption="View"
  [width]="80"
  dataType="boolean"
  [allowEditing]="true"
  [allowSorting]="false"
  [showEditorAlways]="true">
</dxi-column>

<dxi-column
  dataField="canEdit"
  caption="Modify"
  [width]="80"
  dataType="boolean"
  [allowEditing]="true"
  [allowSorting]="false"
  [showEditorAlways]="true">
</dxi-column>



<dxi-column
  dataField="canApprove"
  caption="Approve"
  [width]="90"
  dataType="boolean"
  [allowEditing]="true"
  [allowSorting]="false"
  
  [showEditorAlways]="true">
</dxi-column>

<dxi-column
  dataField="canDelete"
  caption="Delete"
  [width]="80"
  dataType="boolean"
  [allowEditing]="true"
  [allowSorting]="false"
  [showEditorAlways]="true">
</dxi-column>

<dxi-column
  dataField="canPrint"
  caption="Print"
  [width]="80"
  dataType="boolean"
  [allowEditing]="true"
  [allowSorting]="false"
  [showEditorAlways]="true">
</dxi-column>       
       
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>