<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      class="grid theme-dependent"
      [dataSource]="countryDataSource"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      (onRowRemoving)="onRowRemoving($event)"
      (onRowUpdating)="onRowUpdating($event)"
      [showBorders]="true"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [showColumnLines]="true"
      [width]="'100%'"
      [height]="'82vh'"
      (onExporting)="onExporting($event)"
    >
      <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>

      <dxo-scrolling mode="virtual"></dxo-scrolling>

      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>

      <dxo-export [enabled]="true" [formats]="['xlsx']"> </dxo-export>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-editing mode="popup" [allowUpdating]="canEdit" [allowDeleting]="canDelete">
        <dxo-popup
          title="Edit Country"
          [showTitle]="true"
          [width]="450"
          [height]="250"
        >
        </dxo-popup>
        <dxo-form [colCount]="1">
          <dxi-item itemType="group" [colCount]="1">
            <dxi-item
              dataField="CODE"
              editorType="dxTextBox"
              [editorOptions]="{
                label: 'Code',
                labelMode: 'floating'
              }"
            >

            <dxo-label [visible]="false"></dxo-label>
            </dxi-item>
            <dxi-item
              dataField="COUNTRY_NAME"
              editorType="dxTextBox"
              [editorOptions]="{
                label: 'Country Name',
                labelMode: 'floating'
              }"
            >

            <dxo-label [visible]="false"></dxo-label>
            </dxi-item>
          </dxi-item>
        </dxo-form>
      </dxo-editing>

      <dxo-toolbar>

        <!-- Title -->
        <dxi-item location="before">
          <div class="grid-header">
            Country
          </div>
        </dxi-item>

        <!-- Search panel -->
        <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>

        <!-- Toggle Filter -->
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <!-- Refresh -->
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>

        <!-- Divider -->
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>

        <!-- Export -->
        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn"
        ></dxi-item>

        <!-- Add -->
        <dxi-item
          location="after"
          widget="dxButton"
          [options]="addButtonOptions"\
          [visible]="canAdd"
        ></dxi-item>

      </dxo-toolbar>
      <dxi-column dataField="CODE" caption="Code">
        <dxi-validation-rule
        type="required"
        message="Code is required"
      ></dxi-validation-rule>

      <!-- ✅ +91 format -->
      <dxi-validation-rule
        type="pattern"
        [pattern]="'^\\+[0-9]{1,4}$'"
        message="Enter valid country code like +971, +91, +1"
      ></dxi-validation-rule>

      <!-- ✅ Duplicate check -->
      <dxi-validation-rule
        type="custom"
        [validationCallback]="validateGridCountryCode"
        message="Code already exists"
      ></dxi-validation-rule>

      </dxi-column>
      <dxi-column dataField="COUNTRY_NAME" caption="Country Name">
        <dxi-validation-rule type="required" message="Country name is required">
        </dxi-validation-rule>
        <!-- ✅ Duplicate check -->
      <dxi-validation-rule
        type="custom"
        [validationCallback]="validateGridCountryName"
        message="Code already exists"
      ></dxi-validation-rule>
      </dxi-column>
    </dx-data-grid>
  </div>
  <form-popup
    [(visible)]="isAddCountryPopupOpened"
    (save)="onClickSaveCountry()"
    titleText="New Country"
    [showApprove]="false"
    [height]="250"
  >
    <app-country-form></app-country-form>
  </form-popup>
</div>
