
.dx-datagrid-header-panel
.dx-toolbar-text-auto-hide
.dx-button.dx-button-has-icon {
  border-radius: 4px !important;
  background-color: #00a0e028 !important;
}

.dx-datagrid-headers.dx-datagrid-nowrap.dx-bordered-top-view {
border-radius: 10px 10px 0 0 !important;
background-color: #4699b920 !important;
font-size: 1.25rem !important;
font-weight: bolder !important;
font-weight: bolder !important;
// border-bottom: 1px solid #000 !important; 
}
.dx-datagrid-headers .dx-datagrid-header-row .dx-datagrid-action {
  border-left: 1px solid #000 !important; /* Define a border between columns */
}

.dx-datagrid .dx-row .dx-cell {
  border-right: 1px solid #000 !important; /* Ensure column borders are visible */
}

.dx-datagrid-headers.dx-header-multi-row .dx-datagrid-content .dx-datagrid-table .dx-row.dx-header-row > td {
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: bottom;
  border-right: 1px solid #9db2cf;
  border-left: 1px solid #9db2cf;
  border-bottom: 1px solid #9db2cf;
}
.dx-datagrid .dx-row > td {
  padding: 14px 16px;
  font-size: 13px;
  line-height: 20px;
}
.dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content {
  white-space: nowrap;
  font-size: 13px;
}
.view-wrapper .grid .grid-header {
  font-size: 19px;
  font-weight: 400;
  padding-right: 25px;
}