 
 <dx-validation-group class="form-grid" #formValidationGroup>
<div style="display: flex; flex-direction: row; align-items: flex-end; justify-content: space-between; width: 100%; gap: 10px;">
  
  <!-- Document No -->
  <div style="flex: 1;">
    <dx-text-box 
      label="Document No"
      labelMode="floating"
      [readOnly]="true"
      style="width: 200px;">
    </dx-text-box>
  </div>

  <!-- Date of Depreciation -->
  <div style="flex: 1; ">
      <dxi-item>
        <dx-date-box
        label="Date of Depreciation" 
          placeholder="dd/mm/yyyy"
          [showClearButton]="true"
          [useMaskBehavior]="true"
          [displayFormat]="'dd/MM/yyyy'"
          type="date"
          [inputAttr]="{ 'aria-label': 'Date' }"
          [(value)]="DepreciationPayload.DEPR_DATE"
          [labelMode]="'floating'"
   style="width: 250px; margin-left: 900px;"
   (onValueChanged)="onDateValueChanged($event)"
        ><dx-validator>
          <dxi-validation-rule
            type="required"
            message="This field is required"
          ></dxi-validation-rule> </dx-validator
      ></dx-date-box>
        
      </dxi-item>

  </div>

  <!-- Process Button -->
  <div style="flex: 1; display: flex; justify-content: flex-end;">
    <dx-button
      text="Process"
      stylingMode="contained"
      type="default"
      (onClick)="Process_function()"
      style="width: 150px;">
    </dx-button>
  </div>

</div>

<dx-data-grid
  [showBorders]="true"
  [selection]="{ mode: 'multiple' }"
  height="300"
   [showRowLines]="true"
      [showColumnLines]="true"
  class="mt-3"
  [(selectedRowKeys)]="selectedRowsInGrid"
   [keyExpr]="'ID'"  
  [dataSource]="Active_fixed_asset_list"
  (onSelectionChanged)="onSelectionChanged($event)"
  (onEditorPreparing)="onEditorPreparing($event)"
   (onCellValueChanged)="onCellValueChanged($event)"
  width="100%"
  [editing]="{
    mode: 'cell',
    allowUpdating: false
  }"
  
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-sorting mode="multiple"></dxo-sorting>

  <dxi-column [width]="'100'" dataField="CODE" caption="Code "  [allowEditing]="false" [readOnly]="true">
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
  <dxi-column
     [width]="'250'"
    dataField="DESCRIPTION"
    caption="Description"
    [editorOptions]="{ showSpinButtons: true }"
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>

  <dxi-column
    [width]="'auto'"
    dataField="PURCH_DATE"
    caption="Purchase Date"
    alignment="right"
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column

    dataField="ASSET_VALUE"
    caption="Purchase Value"
    alignment="right"
     [width]="'140'"
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column
    [width]="'auto'"
    dataField="RESIDUAL_VALUE"
    caption="Residual Value"
    alignment="right"
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column
    [width]="'auto'"
    dataField="LAST_DEPR_DATE"
    caption="Last Depr. Date"
    alignment="right"
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column
    [width]="'auto'"
    dataField="CURRENT_VALUE"
    caption="Current Value"
    alignment="right"
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column
   [width]="'140'"
    dataField="DEPR_PERCENT"
    caption="Depreciation %"
    alignment="right"
  
    [allowEditing]="true"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column
    [width]="'auto'"
    dataField="Days"
    caption="Days"
    [width]="'100'"
    alignment="right"
    [allowEditing]="false"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
    <dxi-column
    dataField="Depreciation_amount"
    caption="Depreciation Amount"
    alignment="right"
    [width]="170"
    [allowEditing]="false"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>
</dx-data-grid>
        <div style="display: flex; align-items: center; gap: 30px; margin-left: 50px; margin-top: 20px;">
  <!-- <dx-check-box 
    text="Select All"
    >
  </dx-check-box> -->
<div class="dx-field-label" style="margin-left:-10px">
  Records: {{ recordsCount }}
</div>
<!-- <dx-number-box 
  [(value)]="recordsCount"

  labelMode="floating"
  [readOnly]="true"
  label="Records">
</dx-number-box> -->


  <dx-number-box  
    labelMode="floating"
  [inputAttr]="{ style: 'text-align: right;' }"
  style="margin-left:700px"
  [(value)]="grandTotal"
    label="Grand Total">
  </dx-number-box>
</div>


         <dx-text-box label="Narration"  labelMode="floating" [(value)]="DepreciationPayload.NARRATION"></dx-text-box>
 </dx-validation-group>
 

<div class="form-popup-buttons-container">
  <div class="popup-footer">
    <dx-button
      text="Cancel"
      stylingMode="outlined"
      (onClick)="closePopup()"
      type="normal"
    ></dx-button>
    <dx-button
      text="Save"
      stylingMode="contained"
      type="default"
      (onClick)="AddData()"
    ></dx-button>
  </div>
</div>
