<dx-tab-panel
  class="innert-tab custom-article-tabs"
  [(selectedIndex)]="selectedTabIndex"
  [animationEnabled]="true"
  [deferRendering]="false"
  style="border: none"
>
<dxi-item title="Details">
<dx-form class="plain-styled-form" [colCount]="2">
  <dxi-item itemType="group">
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Code"
            [(value)]="newCustomer.CUST_CODE"
            labelMode="floating"
            
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Code is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="First Name"
            [(value)]="newCustomer.FIRST_NAME"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="First name is required"
              >
              </dxi-validation-rule> </dx-validator
          ></dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Last Name"
            [(value)]="newCustomer.LAST_NAME"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Last name is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-date-box
            type="date"
            [(value)]="newCustomer.DOB"
            label="Date of birth"
            [inputAttr]="{ 'aria-label': 'Date' }"
            labelMode="floating"
            displayFormat="dd-MM-yyyy"
          
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="DOB is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Nationality"
            [items]="CountryDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="newCustomer.NATIONALITY"
            placeholder="Select Country"
            (onValueChanged)="onCountrySelectionChanged($event)"
            [searchEnabled]="true"
            labelMode="floating"
            width="400px"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Select country">
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Contact Name"
            [(value)]="newCustomer.CONTACT_NAME"
            labelMode="floating"
            width="400px"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Contact name is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Address"
            [(value)]="newCustomer.ADDRESS1"
            labelMode="floating"
            width="400px"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Address is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Address"
            width="400px"
            [(value)]="newCustomer.ADDRESS2"
            labelMode="floating"
          >
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Address"
            [(value)]="newCustomer.ADDRESS3"
            labelMode="floating"
           width="400px"
          >
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Country"
            [items]="CountryDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="newCustomer.COUNTRY_ID"
            placeholder="Select Country"
            (onValueChanged)="onCountrySelectionChanged($event)"
            [searchEnabled]="true"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Country is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>

       <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="State"
            labelMode="floating"
            displayExpr="DESCRIPTION"
            [items]="StateDropdownData"
            valueExpr="ID"
            (onValueChanged)="onStateSelectionChanged($event)"
            [(value)]="newCustomer.STATE_ID"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="State is required">
              </dxi-validation-rule> </dx-validator
          ></dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="City"
            [(value)]="newCustomer.CITY"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="City is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <!-- <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Delivery Address"
            labelMode="floating"
            displayExpr="DESCRIPTION"
            [items]="DeliveryAddress"
            valueExpr="ID"
            (onValueChanged)="onDeliveryAddressValue($event)"
            [(value)]="newCustomer.DELIVERY_ADDRESS_ID"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="State is required">
              </dxi-validation-rule> </dx-validator>
        </dx-select-box>
        </div>
      </dxi-item> -->
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-radio-group
          [(value)]="formCustomerData.CUST_TYPE"
          [items]="customerTypeOptions"
          layout="horizontal"
          displayExpr="text"
          valueExpr="value"
          label="Customer Type"
          labelMode="floating"
        ></dx-radio-group>
      </div>
    </dxi-item>

    <dxi-item *ngIf="formCustomerData.CUST_TYPE === 2" [colSpan]="2">
      <div *dxTemplate>
        <dx-radio-group
          [(value)]="formCustomerData.DEALER_TYPE"
          [items]="dealerTypeOptions"
          layout="horizontal"
          displayExpr="text"
          valueExpr="value"
          label="Customer Category"
          labelMode="floating"
          (onValueChanged)="onDealerTypeChange($event)"
        ></dx-radio-group>
      </div>
    </dxi-item>

    <dxi-item *ngIf="isDealerVisible" [colSpan]="2">
      <div *dxTemplate>
        <dx-select-box
          label="Parent Dealer"
          [items]="dealerList"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [(value)]="formCustomerData.DEALER_ID"
          placeholder="Select Parent Dealer"
          labelMode="floating"
          (onValueChanged)="onDealerSelected($event)"
        >
        </dx-select-box>
      </div>
    </dxi-item>
  </dxi-item>

  <dxi-item itemType="group">
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Zip Code"
            [(value)]="newCustomer.ZIP"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="ZIP is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Warehouse"
            (onValueChanged)="onWarehouseValue($event)"
                  [items]="Warehouse"
                  [(value)]="newCustomer.WAREHOUSE_ID"
                  labelMode="floating"
                  [searchEnabled]="true"
                  valueExpr="ID"
                  displayExpr="DESCRIPTION"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Warehouse is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate style="display: flex">
          <dx-text-box
            label=" "
            [(value)]="DEFAULT_COUNTRY_CODE"
            class="country-code-input"
            labelMode="floating"
            
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Country code is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box
            label="Mobile"
            class="phone-style"
            [(value)]="newCustomer.MOBILE_NO"
            labelMode="floating"
            
            (keypress)="keyPressNumbers($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Mobile number is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>

      <dxi-item>
        <div *dxTemplate style="display: flex">
          <dx-text-box
            label=" "
            [(value)]="DEFAULT_COUNTRY_CODE"
            class="country-code-input"
            labelMode="floating"
            
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Country code is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box
            label="Phone"
            class="phone-style"
            [(value)]="newCustomer.PHONE"
            labelMode="floating"
            
            (keypress)="keyPressNumbers($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Phone number is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Fax"
            [(value)]="newCustomer.FAX_NO"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="FAX number is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Email"
            [(value)]="newCustomer.EMAIL"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Email is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Credit Limit"
            labelMode="floating"
            [(value)]="newCustomer.CREDIT_LIMIT"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Credit limit is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Current Credit"
            [(value)]="newCustomer.CURRENT_CREDIT"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Current credit is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Payment Terms"
            [items]="PaymentTermsDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="newCustomer.PAY_TERM_ID"
            placeholder="Select Payment Terms"
            labelMode="floating"
            
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Payment terms is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <div *dxTemplate>
        <dx-text-area
          label="Additional Info."
          [(value)]="newCustomer.NOTES"
          labelMode="floating"
          [height]="71"
          
        ></dx-text-area>
      </div>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Default Price Level"
            [items]="PriceLevelDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            placeholder="Select Price level"
            [(value)]="newCustomer.PRICE_CLASS_ID"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Select default price level"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Discount %"
            labelMode="floating"
            [(value)]="newCustomer.DISCOUNT_PERCENT"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Discount percent is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            [label]="
              selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2
                ? '  VAT Rule'
                : ' GST Rule'
            "
            [items]="VATRuleDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="newCustomer.CUST_VAT_RULE_ID"
            placeholder="Select VAT Rule"
            labelMode="floating"
            
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Select VAT rule">
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="1">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            [label]="
              selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2
                ? '  VAT Registration Number'
                : ' GST Registration Number'
            "
            [(value)]="newCustomer.VAT_REGNO"
            labelMode="floating"
            
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                [message]="
                  selected_vat_id == sessionData.VAT_ID &&
                  sessionData.VAT_ID == 2
                    ? '  VAT  Registration number is required'
                    : ' GST  Registration number is required'
                "
              >
                >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <!-- <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Delivery Address"
          labelMode="floating"
          [(value)]="deliveryAddress1"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Delivery Address is required"
            >
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Delivery Address"
          labelMode="floating"
          [(value)]="deliveryAddress2"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Delivery Address is required"
            >
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Delivery Address"
          labelMode="floating"
          [(value)]="deliveryAddress3"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Delivery Address is required"
            >
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item> -->
  </dxi-item>

  <!-- Conditional Dealer/Sub-Dealer Radio -->
</dx-form>
</dxi-item>

<dxi-item title="Delivery Address">
  <div class="address-container">
  <dx-form
    [colCount]="2"
    labelLocation="left"
    stylingMode="outlined"
    class="address-form"
  >
    <dxi-item>
      <dx-text-box
        label="Address"
        labelMode="floating"
         [(value)]="Address1Value"
        stylingMode="outlined"
        
      >
    </dx-text-box>
    </dxi-item>

    <dxi-item>
      <dx-text-box
        label="Mobile"
        labelMode="floating"
         [(value)]="MobileValue"
        stylingMode="outlined"
      ></dx-text-box>
    </dxi-item>

    <dxi-item>
      <dx-text-box
        label="Location"
        labelMode="floating"
         [(value)]="locationValue"
        stylingMode="outlined"
      ></dx-text-box>
    </dxi-item>

    <dxi-item>
      <dx-text-box
        label="Telephone"
        labelMode="floating"
        [(value)]="phoneValue"
        stylingMode="outlined"
      ></dx-text-box>
    </dxi-item>
  </dx-form>
  <dxi-item>

    <div class="save-btn">
    <dx-button
      text="Save"
      type="default"
      location="after"
      (onClick)="saveDeliveryAddress()"
    ></dx-button>
    </div>

    
    <div class="saved-addresses" *ngIf="savedAddresses.length > 0">
  <div class="address-card-container">
    <div class="address-card" *ngFor="let addr of savedAddresses; let i = index">
  <div style="display: flex; justify-content: space-between; align-items: center;">
       <div> <h6>{{ addr.ADDRESS1 || ('Address ' + (i + 1)) }}</h6></div>
      <div class="card-actions">
          <dx-button
            icon="edit"
            stylingMode="text"
            hint="Edit"
            (onClick)="editAddress(i)"
          ></dx-button>

          <dx-button
            icon="trash"
            stylingMode="text"
            hint="Delete"
            (onClick)="removeAddress(i)"
          ></dx-button>
        </div>
  </div>
      <p><strong>Address:</strong> {{ addr.ADDRESS1 }}</p>
      <p><strong>Mobile:</strong> {{ addr.MOBILE }}</p>
      <p><strong>Location:</strong> {{ addr.LOCATION }}</p>
      <p><strong>Telephone:</strong> {{ addr.PHONE }}</p>
    </div>
  </div>
</div>

  </dxi-item>
</div>

</dxi-item>

</dx-tab-panel>
<dx-popup
  [(visible)]="isSubDealerPopupVisible"
  [showTitle]="true"
  title="Select Main Dealer"
  [height]="'70vh'"
  [width]="'50vh'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
>
  <dx-data-grid
    [dataSource]="dealerList"
    [showBorders]="true"
    [height]="350"
    (onSelectionChanged)="onDealerSelected($event)"
    [selection]="{ mode: 'single' }"
  >
    <dxi-column dataField="DEALER" caption="Dealer"></dxi-column>
  </dx-data-grid>
</dx-popup>
