<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'75vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true
      }"
      class="grid theme-dependent"
      [dataSource]="Datasource"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: true, allowSearch: true }"
      [scrolling]="{ mode: 'standard' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      [groupPanel]="{ visible: true }"
      [grouping]="{ autoExpandAll: false }"
      [summary]="summaryColumnsData" 
    >
      
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
       
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <!-- <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row> -->
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Article Stock view</div>
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto"> </dxi-item>

        <dxi-item location="after" locateInMenu="auto">
       
        </dxi-item>
      </dxo-toolbar>

       <dxo-grouping
        [autoExpandAll]="false"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      ></dxo-grouping>
<dxi-column dataField="ARTICLE_ID" caption="Id"></dxi-column>
<dxi-column dataField="ART_NO" caption="Art No." ></dxi-column>
<dxi-column dataField="COLOR" caption="Color"></dxi-column>
<dxi-column dataField="CATEGORY" caption="Category"></dxi-column>
<dxi-column dataField="SIZE" caption="Size" alignment="center"></dxi-column>
<dxi-column dataField="PRODUCTION_UNIT" caption="Production Unit"></dxi-column>
<dxi-column dataField="QTY_AVAILABLE" caption="Qty Available"></dxi-column>
<dxi-column dataField="QTY_MULTIBOX" caption="Qty Multibox"></dxi-column>
<dxi-column dataField="QTY_TOTAL" caption="Qty Total"></dxi-column>


    </dx-data-grid>
  </div>
</div>

