<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="datasource"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [width]="'100%'"
    [columnAutoWidth]="true"
    [columns]="columns"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    >
  >
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing
    [allowUpdating]="true">
</dxo-editing>
  <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Import Items</div>
      </dxi-item>

      <dxi-item location="after">
        <dx-select-box
          placeholder="Select Date Range"
          displayExpr="label"
          [items]="dateRanges"
          valueExpr="value"
          stylingMode="filled"
          [(value)]="defaultDateRange"

          (onValueChanged)="onDateRangeChanged($event)"
        ></dx-select-box>
        <dx-popup
        [(visible)]="isDateRangePopupVisible"
        title="Select Date Range"
        [width]="400"
        [height]="230"
        (onHiding)="applyDateRange()"
        >
  <div >
    <dx-date-box [elementAttr]="{ class: 'dateBoxClass' }" [(value)]="selectedRange.from" placeholder="From Date"></dx-date-box>
    <dx-date-box [elementAttr]="{ class: 'dateBoxClass' }" [(value)]="selectedRange.to" placeholder="To Date"></dx-date-box>
  </div>
  <dx-button text="Apply" type="default"  [elementAttr]="{ class: 'apply-button' }" (onClick)="applyDateRange()"></dx-button>
  <dx-button text="Clear" (onClick)="clearDateRange()" [elementAttr]="{ class: 'clear-button' }"></dx-button>
</dx-popup>
      </dxi-item>
      
      
      <dxi-item location="after" locateInMenu="auto">
        <dx-button
          icon="plus"
          type="default"
          stylingMode="contained"
          (onClick)="openImportItems()"
          
        ></dx-button>
      </dxi-item>
      <!-- <dxi-item location="after">
        <dx-select-box
          placeholder="Select Template"
          displayExpr="TEMPLATE_NAME"
          [items]="itemTemplateData"
          valueExpr="ID"
          stylingMode="filled"
          (onValueChanged)="onTemplateValueChanged($event)"
          [elementAttr]="{ class: 'dropdownClass' }"
          
        ></dx-select-box>

      </dxi-item> -->
      <!-- <dxi-item location="after" widget="dxButton" [options]="importButtonOptions"></dxi-item>
      <dxi-item location="after" >
        <dx-button [visible]="isDatasourceLoaded" [text]="saveButtonOptions.text" [elementAttr]="saveButtonOptions.elementAttr" (onClick)="saveButtonOptions.onClick()"></dx-button>
      </dxi-item> -->
  </dxo-toolbar>

  <dxi-column dataField="BATCH_NO" caption="Sl No." [width]="100"></dxi-column>
  <dxi-column dataField="IMPORT_DATE" caption="Date" dataType="date" [format]="'dd/MM/yyyy'"></dxi-column>
  <dxi-column dataField="USER_NAME" caption="User Name"></dxi-column>
  <dxi-column dataField="STORE_NAME" caption="Stores" [width]="700"></dxi-column>
  <dxi-column type="buttons" [width]="110" caption=" ">
    <dxi-button
        class="button-info"
        text="Details"
        icon="info"
        [onClick]="viewDetails"
    >
    </dxi-button>
  </dxi-column>
  </dx-data-grid> 
  <dx-popup
        [(visible)]="openImportItemsPopup"
        title="Import Items"
        [width]="1000"
        [height]="750"
      >
      <app-import-items-dialog (closeForm)="handleClose()"></app-import-items-dialog>
      </dx-popup>

      <dx-popup
        [(visible)]="ViewImportItemsPopup"
        title="View Imported Items"
        [width]="1000"
        [height]="650"
      >
      <app-view-imported-items [formdata]="selectedId"></app-view-imported-items>
      </dx-popup>
  
  </div>
  
