.country-code-input{
    width: 70px;
  }
  .phone-style{
    margin-left: 10px;
    // width: 100%;
  }
  .checkbox{
    margin-bottom: 10px;
  }
  .landed-cost-label {
    margin-bottom: 10px;  /* Adjust the value as needed */
  }
  /* Add border to all cells */
dx-data-grid .dx-datagrid-rowsview .dx-row > .dx-data-cell {
  border: 1px solid #ccc;  /* Light grey border color, adjust as needed */
}

/* Add specific border to 'label' column (first column) */
dx-data-grid .dx-datagrid-rowsview .dx-row > .dx-data-cell:nth-child(1) {
  border-right: 1px solid #ccc;  /* Border between columns */
}

/* Add specific border to 'value' column (second column) */
dx-data-grid .dx-datagrid-rowsview .dx-row > .dx-data-cell:nth-child(2) {
  border-right: 1px solid #ccc;  /* Border between columns */
}
.plain-styled-form {
  width: 100%; /* Set the desired form width */
}

.dx-field-item-content {
  min-width: 300px; /* Adjust column width */
}
