<div class="d-flex filter-container mt-2">
  <dx-select-box
    label="Date Range"
    labelMode="floating"
    valueExpr="value"
    [displayExpr]="displayExpr"
    [dataSource]="dateRanges"
    [searchEnabled]="true"
    [(value)]="selectedDateRange"
    (onValueChanged)="onDateRangeChange($event)"
    (onOpened)="attachItemClickHandler($event)"
  >
  </dx-select-box>

  <!-- <dx-date-box
    label="From Date"
    labelMode="floating"
    type="date"
    displayFormat="dd-MM-yyyy"
    [(value)]="fromDate"
    (onValueChanged)="dateChanged()"
  >
  </dx-date-box> -->

  <!-- <dx-date-box
    label="To Date"
    labelMode="floating"
    type="date"
    [(value)]="toDate"
    (onValueChanged)="dateChanged()"
    displayFormat="dd-MM-yyyy"
  >
  </dx-date-box> -->
</div>
<div class="view-wrapper">
  <div class="dashboard-wrapper">
    <!-- Row 1 -->
    <div class="dashboard-row">
      <!-- Funnel -->
      <div class="dashboard-card">
        <h6 class="card-title mt-2 mb-2">Gross Sales</h6>

        <!-- <dx-scroll-view direction="both" showScrollbar="always" [height]="450"> -->
        <dx-funnel
          id="funnel"
          [dataSource]="gross_Sales_list"
          argumentField="STORE_NAME"
          valueField="AMOUNT"
          [palette]="customPalette"
        >
          <dxo-tooltip
            [enabled]="true"
            [customizeTooltip]="customizeCommonTooltip"
          ></dxo-tooltip>

          <dxo-label
            [visible]="true"
            position="inside"
            [customizeText]="customizeCommonLabel"
          >
          </dxo-label>
          <!-- <dxo-funnel-legend [visible]="true"></dxo-funnel-legend> -->
          <dxo-legend
            [visible]="true"
            verticalAlignment="bottom"
            horizontalAlignment="center"
          >
          </dxo-legend>
          <dxo-item [borderWidth]="2" borderColor="#ffffff"> </dxo-item>
        </dx-funnel>
        <!-- </dx-scroll-view> -->
      </div>
    </div>

    <!-- Bar Chart -->
    <div class="dashboard-row">
      <div class="dashboard-card full-width">
        <h6 class="card-title mt-2 mb-2">Top Moving Items</h6>

        <dx-scroll-view direction="both" showScrollbar="always" [height]="450">
          <dx-chart [dataSource]="TopMovingItems_list" palette="soft">
            <dxo-common-series-settings
              argumentField="DESCRIPTION"
              valueField="QTY_SOLD"
              type="bar"
              [ignoreEmptyPoints]="true"
            >
              <dxo-label
                [visible]="true"
                position="inside"
                [customizeText]="customizeCommonLabel"
              ></dxo-label>
            </dxo-common-series-settings>

            <dxo-series-template nameField="ITEM_CODE"> </dxo-series-template>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeChartTooltip"
            >
            </dxo-tooltip>

            <dxo-legend [visible]="false"></dxo-legend>

            <dxo-size [height]="400" [width]="1200"> </dxo-size>
          </dx-chart>
        </dx-scroll-view>
      </div>
    </div>

    <div class="dashboard-row">
      <div class="dashboard-card-Tender">
        <h6 class="card-title mt-2 mb-2">Tender Summary</h6>

        <!-- <dx-scroll-view direction="both" showScrollbar="always"> -->
        <div class="chart-wrapper">
          <dx-chart
            [dataSource]="chartData"
            palette="Soft Pastel"
            [size]="{
              height: 400,
            }"
          >
            <dxo-common-series-settings
              argumentField="STORE_NAME"
              type="bar"
              [barPadding]="0.3"
            >
              <dxo-label
                [visible]="true"
                position="outside"
                [customizeText]="customizeCommonLabel"
              >
              </dxo-label>
            </dxo-common-series-settings>

            <dxi-series
              *ngFor="let s of seriesList"
              [valueField]="s.valueField"
              [name]="s.name"
              [type]="s.type"
              [color]="s.color"
            >
            </dxi-series>

            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
            </dxo-legend>

            <dxo-tooltip
              [enabled]="true"
              [customizeTooltip]="customizeCommonTooltip"
            >
            </dxo-tooltip>
          </dx-chart>
        </div>
        <!-- </dx-scroll-view> -->
      </div>
    </div>
  </div>
</div>

<!-- //=============Custome popup=============== -->
<app-custom-date-popup
  [(visible)]="showCustomDatePopup"
  [startDate]="customStartDate"
  [endDate]="customEndDate"
  (applyDates)="onCustomDateApplied($event)"
>
</app-custom-date-popup>

<dx-load-panel
  *ngIf="loadingVisible"
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#fullpageDiv' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>

<dx-popup
  [(visible)]="popupVisible"
  width="1000"
  height="500"
  [showTitle]="true"
  [title]="buttonText"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  titleTemplate="popupTitle"
>
  <div *dxTemplate="let data of 'popupTitle'">
    <div class="popup-title-text">
      {{ buttonText }}
    </div>
  </div>
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="listSyncData"
    height="auto"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    [scrolling]="{ mode: 'virtual' }"
    [showColumnLines]="true"
    [showBorders]="true"
    (onRowPrepared)="onRowPrepared($event)"
  >
    <dxi-column dataField="SL_NO" caption="SL.No" alignment="left"></dxi-column>
    <dxi-column dataField="CODE" caption="Store Code"></dxi-column>

    <dxi-column dataField="STORE_NAME" caption="Store Name"></dxi-column>
    <dxi-column dataField="ADDRESS1" caption="Address"></dxi-column>
    <dxi-column
      dataField="LAST_SYNCH_TIME"
      caption="Last Synch.Time"
    ></dxi-column> </dx-data-grid
></dx-popup>
