<div class="dashboard-container">
  <!-- LEFT -->

  <div class="left-panel">
    <div class="card-title">Sales Funnel</div>

    <dx-funnel
      [dataSource]="opportunities"
      argumentField="stage"
      valueField="value"
      [palette]="customPalette"
    >
      <dxo-tooltip [enabled]="true"></dxo-tooltip>
      <dxo-label [visible]="true" position="inside"></dxo-label>
    </dx-funnel>
  </div>

  <!-- RIGHT -->

  <div class="right-panel">
    <div class="chart-box">
      <div class="card-title">Sales vs Returns</div>

      <dx-chart [dataSource]="salesComparison">
        <dxi-series
          argumentField="type"
          valueField="value"
          type="bar"
        ></dxi-series>
      </dx-chart>
    </div>

    <div class="chart-box">
      <div class="card-title">Transactions</div>

      <dx-chart [dataSource]="transactionsData">
        <dxi-series
          argumentField="period"
          valueField="value"
          type="line"
        ></dxi-series>
      </dx-chart>
    </div>
  </div>
</div>
