<dx-validation-group #journalVoucherGroup>
  <div
    class="invoice-wrapper"
    style="
      height: 70vh;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
    "
  >
    <div class="salary-grid-wrapper" style="padding: 0 10px">
      <div class="grid-container">
        <dx-data-grid
          #itemsGridRef
          [dataSource]="noteDetails"
          [showBorders]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true }"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [height]="'55vh'"
          [columnResizingMode]="'nextColumn'"
          [headerFilter]="{ visible: true }"
          [scrolling]="{ mode: 'virtual' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
        >
          <dxo-load-panel [showPane]="false"></dxo-load-panel>
          <dxo-filter-builder [allowHierarchicalFields]="true">
          </dxo-filter-builder>
          <dxo-toolbar>
            <div
              class="stacked-toolbar-group"
              style="display: flex; flex-direction: column; gap: 2px"
            ></div>
            <dxi-item location="before" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 5px"
              >
                <div style="display: flex; gap: 5px">
                  <dx-select-box
                    #distributorRef
                    [(value)]="debitFormData[0].SUPP_ID"
                    [dataSource]="supplierList"
                    displayExpr="DESCRIPTION"
                    valueExpr="ID"
                    [width]="405"
                    [searchEnabled]="true"
                    label="Supplier"
                    labelMode="floating"
                    [readOnly]="true"
                  ></dx-select-box>
                  <!--  -->
                </div>
                <div style="display: flex; gap: 5px">
                  <dx-text-box
                    label="Doc No"
                    [(value)]="docNo"
                    labelMode="floating"
                    [width]="200"
                    [readOnly]="true"
                  ></dx-text-box>

                  <dx-text-box
                    [(value)]="debitFormData[0].INVOICE_NO"
                    label="Select Invoice"
                    labelMode="floating"
                    placeholder="Select Invoice No."
                    [width]="200"
                    [readOnly]="true"
                  ></dx-text-box>
                </div>
              </div>
            </dxi-item>

            <dxi-item location="after" locateInMenu="auto">
              <div class="stacked-toolbar-group"></div>
            </dxi-item>
            <dxi-item location="after" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 5px"
              >
                <!-- Row 1: Date only -->
                <div style="display: flex; gap: 5px; justify-content: flex-end">
                  <dx-text-box
                    label="Date"
                    [(value)]="formattedTransDate"
                    labelMode="floating"
                    [width]="200"
                    [readOnly]="true"
                  ></dx-text-box>
                </div>
                <div style="display: flex; gap: 5px">
                  <dx-number-box
                    #dueAmountRef
                    label="Due Amount"
                    labelMode="floating"
                    [(value)]="debitFormData[0].DUE_AMOUNT"
                    [format]="{ type: 'fixedPoint', precision: 2 }"
                    [width]="200"
                    [showSpinButtons]="true"
                    [inputAttr]="{ style: 'text-align: right;' }"
                    [readOnly]="true"
                  ></dx-number-box>
                </div>
              </div>
            </dxi-item>
          </dxo-toolbar>
          <dxi-column dataField="SL_NO" caption="Sl No" width="80"></dxi-column>
          <dxi-column
            dataField="ledgerCode"
            caption="Ledger Code"
            [width]="200"
            [editorType]="'dxSelectBox'"
            [lookup]="{
              dataSource: ledgerList,
              valueExpr: 'HEAD_CODE',
              displayExpr: 'HEAD_CODE',
              searchEnabled: true
            }"
          ></dxi-column>

          <dxi-column
            dataField="ledgerName"
            caption="Ledger Name"
            [width]="250"
            [editorType]="'dxSelectBox'"
            [lookup]="{
              dataSource: ledgerList,
              valueExpr: 'HEAD_NAME',
              displayExpr: 'HEAD_NAME',
              searchEnabled: true
            }"
          ></dxi-column>

          <dxi-column
            dataField="particulars"
            caption="Particulars"
            [width]="250"
            [editorOptions]="{ maxLength: 250 }"
          >
            <dxi-validation-rule
              type="stringLength"
              [max]="250"
              message="Max 250 characters allowed"
            ></dxi-validation-rule>
          </dxi-column>
          <dxi-column
            dataField="Amount"
            caption="Amount"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [width]="150"
          >
          </dxi-column>

          <dxi-column
            dataField="gstAmount"
           [caption]="(selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2) ? 'VAT Amount' : ' GST Amount'"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
            [width]="150"
            [allowEditing]="true"
          >
          </dxi-column>

          <dxi-column type="buttons">
            <dxi-button name="edit"></dxi-button>
            <dxi-button name="delete"></dxi-button>
          </dxi-column>

          <dxo-summary>
            <dxi-total-item
              column="Amount"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="Total: {0}"
              alignment="right"
            >
            </dxi-total-item>

            <dxi-total-item
              column="gstAmount"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="Total: {0}"
              alignment="right"
            >
            </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>

        <div
          style="
            margin-top: 15px;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
          "
        >
          <!-- Left: Narration -->
          <dx-text-box
            #narrationRef
            [(value)]="debitFormData[0].NARRATION"
            label="Narration"
            labelMode="floating"
            [width]="400"
            [readOnly]="true"
          ></dx-text-box>

          <!-- Right: Net Amount + Approve checkbox -->
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 5px;
            "
          >
            <dx-text-box
              [value]="debitFormData[0].NET_AMOUNT"
              label="Net Amount"
              labelMode="floating"
              [width]="200"
              [readOnly]="true"
              [inputAttr]="{ style: 'text-align: right;' }"
            ></dx-text-box>

            <dx-check-box
              [(value)]="debitFormData[0].IS_APPROVED"
              text="Approved"
              [readOnly]="true"
            >
            </dx-check-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-validation-group>

<!-- <div class="form-popup-buttons-container">
  <div class="popup-footer">
    <dx-button
      text="Cancel"
      (onClick)="cancel()"
      stylingMode="outlined"
      type="normal"
    ></dx-button>
  </div>
</div> -->
