<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="importLogs"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [height]="'80vh'"
    noDataText=" "
  >
    <!-- ================= Columns ================= -->
    <dxi-column
      dataField="DocNo"
      caption="Doc No"
      alignment="left"
      [width]="'auto'"
    ></dxi-column>
    <dxi-column dataField="FileName" caption="File Name"></dxi-column>
    <dxi-column
      dataField="ImportedTime"
      caption="Imported Time"
      dataType="datetime"
    ></dxi-column>
    <dxi-column dataField="ImportedBy" caption="Imported By"></dxi-column>

    <!-- ================= Action Column ================= -->
    <dxi-column
      caption=""
      alignment="center"
      [width]="120"
      cellTemplate="actionTemplate"
    >
    </dxi-column>

    <!-- ================= Action Button Template ================= -->
    <div class="action-buttons" *dxTemplate="let data of 'actionTemplate'">
      <dx-button
        icon="errorcircle"
        hint="View Imported Data"
        stylingMode="text"
        width="24"
        height="24"
        (onClick)="showImportDetails(data.data)"
      >
      </dx-button>
    </div>

    <!-- ================= Filter ================= -->
    <dxo-filter-row
      [visible]="showFilterRow"
      [applyFilter]="currentFilter"
    ></dxo-filter-row>

    <dxo-header-filter [visible]="isFilterOpened">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <!-- ================= Paging ================= -->
    <dxo-paging [pageSize]="10"></dxo-paging>

    <dxo-pager
      [visible]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 30, 40]"
    >
    </dxo-pager>

    <!-- <dxo-load-panel [enabled]="true" [showPane]="true" [showIndicator]="true">
    </dxo-load-panel> -->

    <!-- ================= Toolbar ================= -->
    <dxo-toolbar>
      <dxi-item location="before" locateInMenu="never">
        <div class="grid-header">Import AR Data</div>
      </dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="searchButtonOptions"
      >
      </dxi-item>

      <!-- Refresh -->
      <dxi-item
        location="after"
        widget="dxButton"
        [options]="refreshButtonOptions"
      >
      </dxi-item>

      <!-- Divider -->
      <dxi-item location="after">
        <div class="toolbar-divider"></div>
      </dxi-item>

      <dxi-item name="exportButton" location="after" cssClass="export-btn">
      </dxi-item>

      <dxi-item
        location="after"
        widget="dxButton"
        [options]="importButtonOptions"
      >
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>

  <!-- Hidden File Input -->
  <input
    type="file"
    #fileInput
    accept=".xlsx,.xls"
    style="display: none"
    (change)="OnFileChanged($event)"
  />

  <!-- excel data fetching Popup  -->
  <dx-popup
    [(visible)]="isPopupVisible"
    [width]="'95%'"
    [height]="'95%'"
    [showTitle]="true"
    title="Imported Excel Preview"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    (onHiding)="refreshGrid()"
  >
    <div *dxTemplate="let data of 'content'" class="popup-content-wrapper">
      <!-- Grid -->
      <dx-data-grid
        #dataGrid
        class="grid theme-dependent"
        [dataSource]="Imported_Ar_DataSource"
        [columns]="gridColumns"
        [showBorders]="true"
        [rowAlternationEnabled]="false"
        [allowColumnResizing]="true"
        [allowColumnReordering]="true"
        [height]="'calc(100% - 70px)'"
        (onRowPrepared)="onRowPrepared($event)"
      >
        <dxo-filter-row
          [visible]="false"
          [applyFilter]="currentFilter"
        ></dxo-filter-row>

        <dxo-header-filter [visible]="true">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>

        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-pager
          [visible]="true"
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 20, 50, 100]"
          [showInfo]="true"
        >
        </dxo-pager>

        <dxo-scrolling
          mode="virtual"
          rowRenderingMode="virtual"
          columnRenderingMode="virtual"
          showScrollbar="always"
          preloadEnabled="true"
          useNative="false"
        >
        </dxo-scrolling>
        <dxo-load-panel
          [enabled]="true"
          [showPane]="true"
          [showIndicator]="true"
        >
        </dxo-load-panel>
      </dx-data-grid>

      <!-- Footer Area: Radio options on left, Buttons on right -->
      <div
        class="d-flex justify-content-between align-items-center mt-3 flex-wrap gap-3"
      >
        <div>
          <dx-radio-group
            [items]="overwriteOptions"
            valueExpr="value"
            displayExpr="text"
            [(value)]="isOverWrite"
            layout="horizontal"
          >
          </dx-radio-group>
        </div>

        <div class="d-flex gap-2">
          <button
            type="button"
            class="btn btn-outline-secondary popup-btn"
            (click)="isPopupVisible = false"
          >
            <i class="bi bi-x-circle me-1"></i>
            Cancel
          </button>

          <button
            type="button"
            class="btn btn-success popup-btn"
            (click)="saveImportedData()"
            [disabled]="hasInvalidRows"
          >
            <i class="bi bi-save me-1"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </dx-popup>

  <!-- imported data showing popup  -->
  <dx-popup
    [(visible)]="isDetailsPopupVisible"
    [width]="'95%'"
    [height]="'95%'"
    [showTitle]="true"
    title="Import AR Details"
    [dragEnabled]="true"
    [closeOnOutsideClick]="false"
    (onHiding)="refreshGrid()"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-data-grid
        #detailGrid
        class="grid theme-dependent"
        [dataSource]="importDetailViewData"
        [showBorders]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [height]="'100%'"
        keyExpr="ID"
        (onCellPrepared)="onCellPrepared($event)"
      >
        <!-- Dynamic Columns -->
        <dxi-column
          *ngFor="let col of detailViewColumns"
          [dataField]="col"
          [caption]="col"
          [visible]="col !== 'ID'"
          width="150"
          [fixed]="col === 'FailureReason' || col === 'Status'"
          [fixedPosition]="'right'"
        >
        </dxi-column>

        <dxo-toolbar>
          <dxi-item
            location="after"
            widget="dxButton"
            [options]="ValidateButtonOptions"
          >
          </dxi-item>
        </dxo-toolbar>

        <dxo-filter-row [visible]="false" applyFilter="auto"></dxo-filter-row>

        <dxo-header-filter [visible]="true">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>

        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-pager
          [visible]="true"
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 20, 50, 100]"
          [showInfo]="true"
        >
        </dxo-pager>
        <dxo-scrolling
          mode="virtual"
          rowRenderingMode="virtual"
          columnRenderingMode="virtual"
          showScrollbar="always"
          preloadEnabled="true"
          useNative="false"
        >
        </dxo-scrolling>

        <dxo-load-panel
          [enabled]="true"
          [showPane]="true"
          [showIndicator]="true"
        >
        </dxo-load-panel>
      </dx-data-grid>
    </div>
  </dx-popup>

  <dx-load-panel
    [visible]="isLoading"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [hideOnOutsideClick]="false"
    message="Loading ..."
  >
  </dx-load-panel>

  <!-- Validation Popup -->
  <dx-popup
    [(visible)]="isValidationPopupVisible"
    [width]="'70vw'"
    [height]="'70vh'"
    title="Validation Summary"
    [showCloseButton]="true"
  >
    <div *dxTemplate="let data of 'content'" class="p-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
          <dx-select-box
            [dataSource]="transactionTypes"
            [(value)]="selectedTransactionType"
            (onValueChanged)="onTransactionTypeChange($event)"
            width="200"
            label="Transaction Type"
            labelMode="floating"
          ></dx-select-box>
        </div>
      </div>

      <dx-data-grid
        [dataSource]="filteredValidationGridData"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        [columnAutoWidth]="true"
        [height]="'50vh'"
        (onRowDblClick)="viewErrorDetails($event.data)"
      >
        <dxi-column dataField="ErrorMessage" caption="Particulars"></dxi-column>
        <dxi-column
          dataField="MissingCount"
          caption="Missing Count"
          alignment="center"
        ></dxi-column>
        <dxi-column
          dataField="AffectedRowsCount"
          caption="Rows Count"
          alignment="center"
        ></dxi-column>
        <dxi-column
          caption="Download"
          cellTemplate="downloadTemplate"
          alignment="center"
          [width]="100"
        ></dxi-column>

        <div *dxTemplate="let cell of 'downloadTemplate'">
          <dx-button
            *ngIf="
              hasMissingData(cell.data.Particular) &&
              !cell.data.ErrorMessage?.toLowerCase().includes('mandatory') &&
              !cell.data.ErrorMessage?.toLowerCase().includes(
                'referencedocnumber'
              )
            "
            icon="export"
            type="normal"
            hint="Download Missing Data"
            (onClick)="downloadMissingParticulars(cell.data.Particular)"
          ></dx-button>
        </div>
      </dx-data-grid>
    </div>
  </dx-popup>

  <!-- Error Details Popup -->
  <dx-popup
    [(visible)]="isErrorDetailsPopupVisible"
    [width]="'90vw'"
    [height]="'90vh'"
    title="Error Details"
    [showCloseButton]="true"
  >
    <div *dxTemplate="let data of 'content'" class="p-1">
      <dx-data-grid
        [dataSource]="errorDetailsGridData"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        [columnAutoWidth]="false"
        [columnWidth]="150"
        [allowColumnResizing]="true"
        [height]="'80vh'"
      >
        <dxo-scrolling
          mode="virtual"
          rowRenderingMode="virtual"
        ></dxo-scrolling>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager
          [visible]="true"
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 20, 50, 100]"
          [showInfo]="true"
        ></dxo-pager>
      </dx-data-grid>
    </div>
  </dx-popup>
</div>
