.salary-head-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;


}



// .fixed-footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   padding: 12px 20px;
//   display: flex;
//   justify-content: flex-end;
//   z-index: 1000;
//   margin-top: 30px;
// }

// .fixed-footer dx-button + dx-button {
//   margin-left: 10px;
// }
