<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      class="grid theme-dependent"
      height="100%"
      [dataSource]="JournalBookDataSource"
      noDataText="No data available"
      [height]="'79vh'"
      [showBorders]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="true"
      [wordWrapEnabled]="false"
      [grouping]="{ autoExpandAll: false }"
      [filterRow]="{ visible: false }"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      [scrolling]="{ mode: 'virtual' }"
      [allowColumnReordering]="true"
      id="dataGrid"
      [headerFilter]="{ visible: false }"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' },
      }"
      [summary]="summaryColumnsData"
      (onExporting)="onExporting($event)"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>

      <!-- <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager> -->
      <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"> </dxo-export>
      <dxo-toolbar>
        <dxi-item location="before">
          <div
            class="grid-header"
            style="
              font-weight: 600;
              font-size: 20px;
              margin-left: 12px;
              padding: -3px;
              margin-right: 3px;
            "
          >
            Journal Book
          </div>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            labelMode="floating"
            labelLocation="left"
            label="Year"
            [width]="150"
            [(value)]="selectedYear"
            [dataSource]="years"
            (onValueChanged)="onYearChanged($event)"
            placeholder="Year"
          ></dx-select-box>
        </dxi-item>

        <dxi-item>
          <dx-select-box
            labelMode="floating"
            labelLocation="left"
            label="month"
            [dataSource]="monthDataSource"
            displayExpr="name"
            valueExpr="value"
            [(value)]="selectedmonth"
            (onValueChanged)="onMonthValueChanged($event)"
            [dropDownOptions]="{ width: 'auto' }"
          >
          </dx-select-box>
        </dxi-item>

        <dxi-item
          location="after"
          template="FromDateButton"
          cssClass="bottom-toolbar-buttons"
        >
        </dxi-item>

        <dxi-item
          location="after"
          template="ToDateButton"
          cssClass="bottom-toolbar-buttons"
        >
        </dxi-item>

        <div *dxTemplate="let data of 'FromDateButton'">
          <dxi-item>
            <dx-date-box
              [width]="150"
              label="From Date"
              labelMode="floating"
              [value]="selected_from_date"
              [displayFormat]="'dd-MM-yyyy'"
              (onValueChanged)="onFromDateChange($event)"
            >
            </dx-date-box>

          </dxi-item>
        </div>

        <div *dxTemplate="let data of 'ToDateButton'">
          <dxi-item itemType="simple" verticalAlignment="center">
            <dx-date-box
              [width]="150"
              label="To Date"
              labelMode="floating"
              [value]="selected_To_date"
              displayFormat="dd-MM-yyyy"
              (onValueChanged)="onToDateChange($event)"
            >
            </dx-date-box>
          </dxi-item>
        </div>

        <dxi-item>
          <dx-tag-box
            label="Store"
            labelMode="floating"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [items]="Store"
            [searchEnabled]="true"
            [(value)]="selectedStoreid"
            [showSelectionControls]="true"
            [maxDisplayedTags]="100"
            [showMultiTagOnly]="true"
            [multiline]="false"
            [hint]="storeHint"
            [width]="200"
            (onValueChanged)="updateStoreHint()"
          ></dx-tag-box>
        </dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <!-- Divider -->
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>

        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn mt-1"
        ></dxi-item>

        <dxi-item location="after" template="ApplyButton"> </dxi-item>

        <div *dxTemplate="let data of 'ApplyButton'">
          <dxi-item itemType="simple" verticalAlignment="center">
            <dx-button
              text="Apply"
              stylingMode="contained"
              type="default"
              (onClick)="load_JournalBook_data()"
            >
            </dx-button>
          </dxi-item>
        </div>
      
      </dxo-toolbar>
      <dxo-sorting mode="none"></dxo-sorting>
      <dxo-filter-row visible="true"></dxo-filter-row>
      <dxo-header-filter visible="true"></dxo-header-filter>
      <dxo-paging page-size="10"></dxo-paging>
      <dxo-pager
        show-page-size-selector="true"
        show-info="true"
        show-navigator="true"
      ></dxo-pager>
      <dxo-header-filter [visible]="true">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
     
      <dxo-grouping
        [autoExpandAll]="false"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      ></dxo-grouping>
    
      <dxi-column
        dataField="Date"
        caption="Date"
        dataType="date"
        [format]="{ type: 'custom', formatter: formatDates }"
      ></dxi-column>
      <dxi-column dataField="DocumentType" caption="Document Type"></dxi-column>
      <dxi-column dataField="VoucherNo" caption="Voucher No"></dxi-column>
      <dxi-column dataField="Particulars" caption="Particulars"></dxi-column>
      <dxi-column dataField="Remarks" caption="Remarks"></dxi-column>
      <dxi-column dataField="STORE_NAME" caption="Store/Branch"></dxi-column>
      <dxi-column dataField="DEPT_NAME" caption="Department"></dxi-column>
      <dxi-column
        dataField="DebitAmount"
        caption="Debit Amount"
        [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }"
        alignment="right"
      >
      </dxi-column>

      <dxi-column
        dataField="CreditAmount"
        caption="Credit Amount"
        [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }"
        alignment="right"
      >
      </dxi-column>

     
      <dxi-column *ngIf="journalBookCount > 0" type="buttons" [width]="100">
        <dxi-button
          hint="View"
          icon="eyeopen"
          text="View"
          [onClick]="onViewClick.bind(this)"
        ></dxi-button>
      </dxi-column>
    </dx-data-grid>
  </div>
</div>


<dx-popup
  *ngIf="isViewProduction"
  [(visible)]="isViewProduction"
  [width]="'90vw'"
  [height]="'100vh'"
  title="View Production"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isViewProduction">
    <app-production-jv-view
      [isEditing]="true"
      [EditingResponseData]="selectedProduction"
      (popupClosed)="handleClose()"
    ></app-production-jv-view>
  </ng-container>
</dx-popup>

<dx-popup
  *ngIf="isViewJournalVoucher"
  [(visible)]="isViewJournalVoucher"
  [width]="'100vw'"
  [deferRendering]="false"
  [height]="'100vh'"
  title="Journal Voucher"
  (onHiding)="handleClose()"
>
  <app-view-journal-voucher
    [journalVoucherFormData]="selectedJournalVoucher"
    (popupClosed)="handleClose()"
  ></app-view-journal-voucher>
</dx-popup>

<dx-popup
  *ngIf="isViewDebitNote"
  [(visible)]="isViewDebitNote"
  [width]="'100vw'"
  [height]="'100vh'"
  title="Debit Note"
  [deferRendering]="false"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isViewDebitNote">
    <app-view-debit
      [debitFormData]="selectedDebitNote"
      (popupClosed)="handleClose()"
    ></app-view-debit>
  </ng-container>
</dx-popup>

<dx-popup
  *ngIf="isViewCreditNote"
  [(visible)]="isViewCreditNote"
  [width]="'100vw'"
  [height]="'100vh'"
  title="Credit Note"
  [deferRendering]="false"
  (onHiding)="handleClose()"
>
  <app-view-credit-note
    [creditFormData]="selectedCreditNote"
    (popupClosed)="handleClose()"
  ></app-view-credit-note>
</dx-popup>

<!-- <dx-popup
  *ngIf="isViewInvoice"
  [(visible)]="isViewInvoice"
  [width]="'100vw'"
  [height]="'100vh'"
  [deferRendering]="false"
  title="View Invoice"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isViewInvoice">
    <app-view-invoice
      [invoiceFormData]="selectedInvoice"
      (popupClosed)="handleClose()"
    ></app-view-invoice>
  </ng-container>
</dx-popup> -->

<dx-popup
  *ngIf="isViewInvoice"
  [(visible)]="isViewInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Invoice"
  (onHiding)="handleClose()"
>
  <!-- <ng-container *ngIf="isAddInvoice"> -->
  <app-add-invoice-retail
    [isEditing]="true"
    [isReadOnlyMode]="isReadOnlyInvoice"
    [EditingResponseData]="selectedInvoice"
    (popupClosed)="handleClose()"
  ></app-add-invoice-retail>
</dx-popup>

  <dx-popup
    *ngIf="isEditCustomerReceipt"
    [(visible)]="isEditCustomerReceipt"
    [width]="'75vw'"
    [height]="'100vh'"
    [deferRendering]="false"
    title="View Receipt"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isEditCustomerReceipt">
      <app-edit-customer-receipt
        [receiprtFormData]="selectedReceipt"
        [isReadOnlyMode]="isReadOnlyReceipt"
        (popupClosed)="handleClose()"
      ></app-edit-customer-receipt>
    </ng-container>
  </dx-popup>

  <dx-popup
    *ngIf="isEditInvoice"
    [(visible)]="isEditInvoice"
    [width]="'100vw'"
    [height]="'100vh'"
    [deferRendering]="false"
    title="Purchase Invoice"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isEditInvoice">
      <app-edit-purchase-invoice
        [invoiceFormData]="selectedInvoice"
        [readOnly]="isEditInvoiceReadOnly"
        (popupClosed)="handleClose()"
      ></app-edit-purchase-invoice>
    </ng-container>
  </dx-popup>

  <dx-popup
    *ngIf="editMiscPopup"
    [(visible)]="editMiscPopup"
    [width]="'100vw'"
    [height]="'100vh'"
    title="Miscellaneous Receipt"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="editMiscPopup">
      <app-add-misc-receipt
        *ngIf="editMiscPopup"
        [isEditing]="true"
        [EditingResponseData]="selectedmiscellaneousData"
        [isReadOnlyMode]="isReadOnlyPayment"
        (popupClosed)="handleClose()"
      ></app-add-misc-receipt>
    </ng-container>
    <!-- <ng-container *ngIf="editMiscPopup">
  <app-add-misc-receipt
    *ngIf="editMiscPopup"
    [EditingResponseData]="selectedmiscellaneousData"
    [isReadOnlyMode]="isReadOnlyPayment"
    (popupClosed)="handleClose()"
  ></app-add-misc-receipt>
  </ng-container> -->
  </dx-popup>

  <!-- Prepayment -->
  <dx-popup
    *ngIf="editPrePaymentPopupOpened"
    [(visible)]="editPrePaymentPopupOpened"
    [width]="'90vw'"
    [height]="'100vh'"
    title="PrePayment Invoice"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="editPrePaymentPopupOpened">
      <app-pre-payment-edit
        [selectedPrePayment]="selectedPrePayment"
        [isReadOnly]="isEditReadOnly"
        (formClosed)="handleClose()"
      ></app-pre-payment-edit>
    </ng-container>
  </dx-popup>

  <!-- Supplier Payment -->
  <!-- <dx-popup
  [(visible)]="isEditReceipt"
  [width]="'75vw'"
  [height]="'100vh'"
  title="Supplier Payment"
  (onHiding)="handleClose()"
>
  <app-edit-supplier-payment
    [paymentData]="selectedReceipt"
    [isReadOnlyMode]="isReadOnlyReceipt"
    (popupClosed)="handleClose()"
    [supplierPaymentId]="selectedSupplierPayment"
  ></app-edit-supplier-payment>
</dx-popup> -->

  <dx-popup
    *ngIf="isEditReceipt"
    [(visible)]="isEditReceipt"
    [width]="'75vw'"
    [height]="'calc(100vh - 16px)'"
    title="Supplier Payment"
    (onHiding)="handleClose()"
  >
    <app-edit-supplier-payment
      [paymentData]="selectedReceipt"
      [isReadOnlyMode]="isReadOnlyReceipt"
      [supplierPaymentId]="selectedSupplierPayment"
      (popupClosed)="handleClose()"
    ></app-edit-supplier-payment>
  </dx-popup>

  <!-- purchase return -->
  <dx-popup
    *ngIf="isEditPurchaseReturn"
    [(visible)]="isEditPurchaseReturn"
    [width]="'100vw'"
    [height]="'100vh'"
    title="Purchase Return(Debit Note)"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isEditPurchaseReturn">
      <app-purchase-return-debit-form
        [isEditing]="true"
        [EditingResponseData]="selectedPurchaseReturn"
        [isReadOnlyMode]="isReadOnlyPurchaseReturn"
        (popupClosed)="handleClose()"
      ></app-purchase-return-debit-form>
    </ng-container>
  </dx-popup>

  <!-- Misc payment -->
  <dx-popup
    *ngIf="editMiscPopupOpened"
    [(visible)]="editMiscPopupOpened"
    [width]="'75vw'"
    [height]="'100vh'"
    title="Miscellaneous Payment"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="editMiscPopupOpened">
      <app-add-miscellaneous-payment
        *ngIf="editMiscPopupOpened"
        [isEditing]="true"
        [EditingResponseData]="selectedmiscellaneousData"
        [isReadOnlyMode]="isReadOnlyPayment"
        (popupClosed)="handleClose()"
        [MiscPaymentId]="selectedMiscPayment"
      ></app-add-miscellaneous-payment>
    </ng-container>
  </dx-popup>

  <dx-popup
    *ngIf="isEditPopupPrepaymentPosting"
    [(visible)]="isEditPopupPrepaymentPosting"
    [width]="'95vw'"
    [height]="'100vh'"
    title="Edit Prepayment Posting"
    (onHiding)="handleClose()"
  >
    <app-prepayment-posting-edit
      *ngIf="isEditPopupPrepaymentPosting"
      [selecteprepaymentData]="selecte_prepayment_Data"
      (popupClosed)="handleClose()"
    >
    </app-prepayment-posting-edit>
  </dx-popup>

  <dx-popup
    *ngIf="isEditTransferOut"
    [(visible)]="isEditTransferOut"
    [width]="'75vw'"
    [height]="'90vh'"
    title="Transfer Out"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isEditTransferOut">
      <app-transfer-out-inventory-add
        [isEditing]="true"
        [EditingResponseData]="selectedTrOut"
        [isReadOnlyMode]="isReadOnlyTrOut"
        (popupClosed)="handleClose()"
      ></app-transfer-out-inventory-add>
    </ng-container>
  </dx-popup>

  <dx-popup
    *ngIf="isEditTransferIn"
    [(visible)]="isEditTransferIn"
    [width]="'70vw'"
    [height]="'90vh'"
    title="Transfer In"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isEditTransferIn">
      <app-transfer-in-inventory-form
        [isEditing]="true"
        [EditingResponseData]="selectedTrIn"
        [isReadOnlyMode]="isReadOnlyTrIn"
        (popupClosed)="handleClose()"
      ></app-transfer-in-inventory-form>
    </ng-container>
  </dx-popup>

  <dx-popup
    *ngIf="isEditSaleReturn"
    [(visible)]="isEditSaleReturn"
    [width]="'90vw'"
    [height]="'100vh'"
    title="Sale Return"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isEditSaleReturn">
      <app-sale-return-form
        [isEditing]="true"
        [EditingResponseData]="selectedSaleReturn"
        [isReadOnlyMode]="isReadOnlySaleReturn"
        (popupClosed)="handleClose()"
      ></app-sale-return-form>
    </ng-container>
  </dx-popup>

  <dx-popup
    *ngIf="isMiscViewInvoice"
    [(visible)]="isMiscViewInvoice"
    [width]="'95vw'"
    [height]="'100vh'"
    title="View Misc Sales Invoice"
    (onHiding)="handleClose()"
  >
    <ng-container *ngIf="isMiscViewInvoice">
      <app-misc-sales-invoice-form
        [invoiceFormData]="selectedInvoice"
        (popupClosed)="handleClose()"
      ></app-misc-sales-invoice-form>
    </ng-container>
  </dx-popup>

  <dx-popup
    [(visible)]="viewPayrollPopupOpened"
    [width]="'75vw'"
    [height]="'90vh'"
    title="Payroll"
    (onHiding)="handleClose()"
  >
    <app-payroll-view-report
      *ngIf="viewPayrollPopupOpened"
      [payroll]="selectedPayroll"
      (popupClosed)="handleClose()"
    ></app-payroll-view-report> 
    </dx-popup>
