<div class="tabs-demo view-wrapper">
  <div class="widget-container">
    <!-- User Details Section with Hide/Show Button -->
    <div style="display: flex; align-items: center; margin-bottom: 10px">
      <label style="font-weight: bold; font-size: 16px; margin-right: 10px"
        >User Details:</label
      >
      <dx-button
        icon="{{ showUserDetails ? 'chevronup' : 'chevrondown' }}"
        type="default"
        (onClick)="toggleUserDetails()"
        [elementAttr]="{
          style: 'background-color: transparent; border: none; color: #000;'
        }"
        stylingMode="text"
      ></dx-button>
    </div>

    <div *ngIf="showUserDetails">
      <!-- User Details Form in Two Columns -->
      <div
        class="user-details"
        style="display: flex; flex-wrap: wrap; gap: 20px"
      >
        <div class="form-column" style="flex: 2">
          <dx-text-box
            [(value)]="newUserData.UserName"
            label="User Name"
            hint="User Name"
            labelMode="floating"
            (input)="onUserNameInput($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="User Name is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>

          <div style="position: relative; display: flex">
           <dx-text-box
                  [(value)]="newUserData.Password"
                  label="Password"
                  class="form-control"
                  label="Password"
                   labelMode="floating"
                  hint="Password"
                  [inputAttr]="{ autocomplete: 'new-password' }"
                  [mode]="passwordMode"
                  [buttons]="[
                    {
                      name: 'togglePassword',
                      location: 'after',
                      options: {
                        icon:
                          passwordMode === 'password'
                            ? 'fas fa-eye'
                            : 'fas fa-eye-slash',
                        stylingMode: 'text',
                        onClick: togglePasswordVisibility
                      }
                    }
                  ]"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      message="Password is required"
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
             
          </div>

 <div style="display: flex">
            <dx-select-box
              label="Mobile"
              [searchEnabled]="true"
              [acceptCustomValue]="false"
               labelMode="floating"
              [(value)]="newUserData.countryCode"
              [items]="countryCodes"
              [displayExpr]="countryCodeDisplay"
              valueExpr="data.dial_code"
              [width]="100"
              placeholder="+1"
              [dropDownOptions]="{ width: '370px' }"
              hint="Country Code"
              (valueChange)="updateMobileNumber()"
              (onOpened)="onDropdownOpened()"
              (onClosed)="onDropdownClosed()"
            >
              <!-- Custom template for the dropdown list items -->
              <div *dxTemplate="let item of 'item'">
                <span>{{ item.data.flag }} </span>
                <span>{{ item.data.dial_code }} </span>
                <span>{{ item.data.name }}</span>
              </div>

              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Country code is required"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>

            <dx-text-box
              label="No."
              [(value)]="newUserData.Mobile"
              [width]="'100%'"
              style="margin-left: 10px"
              hint="Mobile No"
               labelMode="floating"
              [valueChangeEvent]="'input'"
              (input)="onMobileInputChange($event)"
              [maxLength]="17"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Mobile No is required"
                ></dxi-validation-rule>
                <dxi-validation-rule
                  type="custom"
                  message="Mobile no. must be at least 10 digits long"
                  [validationCallback]="MobileNumberValidate"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>

           <dx-text-box
            label="Whatsapp No"
            [(value)]="newUserData.Whatsapp"
            (input)="validateWhatsapp($event)"
            hint="Whatsapp No"
            (onFocusIn)="autoBindWhatsapp()"
            [maxLength]="17"
             labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Whatsapp no. is required"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="custom"
                message="Mobile no. must be at least 10 digits long"
                [validationCallback]="WhatsappValidate"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>

         
        </div>

        <div class="form-column" style="flex: 2">
          <dx-text-box
            label="Login Name"
            [(value)]="newUserData.LoginName"
            hint="Login Name"
             labelMode="floating"
            (input)="onLoginNameInput($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Login Name is required"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="custom"
                message="Login Name already exists"
                [validationCallback]="checkLoginNameExists"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                min="5"
                message="Login Name must be at least 5 characters long"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                max="20"
                message="Login Name cannot exceed 20 characters"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>

          <dx-select-box
            label="User Role"
            [(value)]="newUserData.UserRoleID"
            [items]="userRole"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            placeholder="Select User Role"
            hint="User Role"
             labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="User Role is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>

         

          <dx-text-box
            label="Email"
            [(value)]="newUserData.Email"
            hint="Email"
             labelMode="floating"
            (input)="onEmailInput($event)"
          >
           <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Email is required"
              ></dxi-validation-rule>
            </dx-validator>
            <!-- <dx-validator>
              <dxi-validation-rule
                type="custom"
                message="Invalid Email Format"
                [validationCallback]="customEmailValidation"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="custom"
                message="Email already exists"
                [validationCallback]="checkEmailExists"
              >
              </dxi-validation-rule>
            </dx-validator> -->
          </dx-text-box>

           <div
          style="
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;
          "
        >
          <dx-check-box
            [(value)]="newUserData.IsInactive"
            text="Inactive"
            stylingMode="outlined"
            hint="Inactive"
             labelMode="floating"
          ></dx-check-box>
          <!-- <div
            *ngIf="newUserData.IsInactive"
            style="margin-left: 10px; flex: 1"
          >
            <dx-text-box
              placeholder="Reason for Inactive"
              [(value)]="newUserData.InactiveReason"
              width="400"
              hint="Reason for Inactive"
            ></dx-text-box>
          </div> -->
        </div>

        </div>
        
        </div>
      </div>
    </div>

    <!-- Content Area for Tabs -->
    <!-- <div class="tab-content"> -->
      <!-- Facility Tab Content -->
      <!-- <div *ngIf="selectedIndex === 0"> -->
        <dx-data-grid
          [dataSource]="CompanyList_data"
          [showBorders]="true"
          [selection]="{ mode: 'multiple' }"
          height="300"
          keyExpr="ID"
          class="mt-3"
          [(selectedRowKeys)]="selectedRows"
          (onSelectionChanged)="onSelectionChanged($event)"
          width="100%"
        >
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-sorting mode="multiple"></dxo-sorting>

          <dxi-column
            [width]="'200'"
            dataField="COMPANY_CODE"
            caption="Company Code "
          >
            <dxo-header-filter [allowSelectAll]="false">
              <dxo-search [enabled]="true"></dxo-search>
            </dxo-header-filter>
          </dxi-column>
          <dxi-column
            [width]="'auto'"
            dataField="COMPANY_NAME"
            caption="Company Name"
          >
            <dxo-header-filter [allowSelectAll]="false">
              <dxo-search [enabled]="true"></dxo-search>
            </dxo-header-filter>
          </dxi-column>


        </dx-data-grid>
        <!-- Display selected row count -->
        <!-- <div style="margin-top: 10px">
          Selected Rows: {{ selectedRowCount }}
        </div> -->