<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'82vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true,
      }"
      class="grid theme-dependent"
      [dataSource]="payrollList"
      [showBorders]="true"
      [showColumnLines]="true"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
      }"
      [repaintChangesOnly]="true"
      (onEditingStart)="onEditOrViewPayroll($event)"
      (onRowRemoving)="onDeletePayroll($event)"
      (onSelectionChanged)="onSelectionChanged($event)"
      (onCellPrepared)="onCellPrepared($event)"
      (onEditorPreparing)="onEditorPreparing($event)"
      [selectedRowKeys]="selectedRowKeys"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      ></dxo-editing>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="false"
        [formats]="['xlsx']"
      >
      </dxo-export>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <!-- <dxo-scrolling mode="standard"></dxo-scrolling> -->
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>

      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Payroll</div>
        </dxi-item>

        <dxi-item location="after">
          <div
            class="month-selector"
            style="display: flex; align-items: center; gap: 8px"
          >
            <div class="nav-btn" (click)="goToPreviousMonth()">
              <i class="dx-icon dx-icon-chevronleft"></i>
            </div>
            <span class="month-label" (click)="toggleCalendar()">
              {{ selectedMonth | date: "MMMM yyyy" }}
            </span>
            <!-- ▶ Next -->
            <div class="nav-btn" (click)="goToNextMonth()">
              <i class="dx-icon dx-icon-chevronright"></i>
            </div>
          </div>
          <div *ngIf="calendarVisible" class="calendar-popup">
            <div class="calendar-header">
              <dx-button [options]="previousYearButtonOptions"></dx-button>

              <span class="year-clickable" (click)="toggleYearSelector()">
                {{ selectedYear }}
              </span>

              <dx-button [options]="nextYearButtonOptions"></dx-button>
            </div>

            <div
              class="year-selector-popup"
              *ngIf="yearSelectorVisible"
              (click)="$event.stopPropagation()"
            >
              <div class="year-grid">
                <div
                  class="year-option"
                  *ngFor="let year of years"
                  (click)="selectYear(year, $event)"
                >
                  {{ year }}
                </div>
              </div>
            </div>

            <div class="calendar-body">
              <div
                *ngFor="let monthName of monthNames; let idx = index"
                class="month-cell"
                [class.selected]="
                  idx === selectedMonth.getMonth() &&
                  selectedYear === selectedMonth.getFullYear()
                "
                (click)="selectMonthByIndex(idx)"
              >
                {{ monthName }}
              </div>
            </div>
          </div>
        </dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>
        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn"
        ></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>
        <dxi-item
          *ngIf="canAdd"
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>
        <!-- <dxi-item
          name="approveButton"
          location="after"
          widget="dxButton"
          [options]="approveButtonOptions"
        ></dxi-item> -->
        <dxi-item
          *ngIf="canVerify"
          location="after"
          widget="dxButton"
          [options]="VerifyButtonOptions"
        ></dxi-item>
        <dxi-item
          *ngIf="canApprove"
          location="after"
          widget="dxButton"
          [options]="approveButtonOptions"
        ></dxi-item>
      </dxo-toolbar>
      <dxi-column
        dataField="SALARY_BILL_NO"
        caption="Salary Bill No."
        alignment="left"
      ></dxi-column>
      <dxi-column
        dataField="SAL_MONTH"
        caption="Date"
        dataType="date"
        [format]="{ type: 'custom', formatter: formatDate }"
      ></dxi-column>
      <dxi-column dataField="EMPLOYEE_NO" caption="Employee No."></dxi-column>
      <dxi-column
        dataField="EMPLOYEE_NAME"
        caption="Employee Name"
      ></dxi-column>
      <dxi-column
        dataField="WORKED_DAYS"
        caption="Total Days"
        alignment="right"
      ></dxi-column>
      <dxi-column
        dataField="NET_AMOUNT"
        caption="Net Salary"
        alignment="right"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <!-- 
      <dxi-column
        caption="Status"
        dataField="STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false,
        }"
      >
      </dxi-column> -->
      <dxi-column dataField="STATUS" cellTemplate="statusCellRender">
      </dxi-column>

      <div *dxTemplate="let data of 'statusCellRender'">
        <i
          class="fas fa-flag"
          [style.color]="
            data.data.STATUS === 'Approved'
              ? '#10B981'
              : data.data.STATUS === 'Verified'
                ? '#0073D8'
                : '#FFA500'
          "
        ></i>
      </div>
      <dxi-column
        type="buttons"
        caption="Actions"
        [width]="140"
        cellTemplate="actionTemplate"
      >
      </dxi-column>
      <div *dxTemplate="let cellData of 'actionTemplate'">
        <!-- Edit -->
        <i
          *ngIf="canEdit"
          class="dx-icon dx-icon-edit"
          [style.opacity]="
            cellData.data.STATUS === 'Verified' ||
            cellData.data.STATUS === 'Approved'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.STATUS === 'Verified' ||
            cellData.data.STATUS === 'Approved'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Edit"
          (click)="onEditOrViewPayroll({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Delete -->
        <i
          *ngIf="canDelete"
          class="dx-icon dx-icon-trash"
          [style.opacity]="
            cellData.data.STATUS === 'Verified' ||
            cellData.data.STATUS === 'Approved'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.STATUS === 'Verified' ||
            cellData.data.STATUS === 'Approved'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Delete"
          (click)="onDeletePayroll({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Verify -->
        <span
          *ngIf="canVerify"
          style="
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
          "
          [title]="
            cellData.data.STATUS === 'Approved'
              ? 'Approved'
              : cellData.data.STATUS === 'Verified'
                ? 'Approve'
                : 'Verify'
          "
          (click)="onEditorPreparing({ data: cellData.data, cancel: false })"
        >
          <!-- Blue badge -->
          <i
            class="fas fa-certificate"
            [style.color]="
              cellData.data.STATUS === 'Approved'
                ? '#10B981'
                : cellData.data.STATUS === 'Verified'
                  ? '#0073D8'
                  : '#FFA500'
            "
            style="font-size: 18px; position: absolute; top: 0; left: 0"
          ></i>

          <!-- White tick -->
          <i
            class="fas fa-check"
            style="
              color: white;
              font-size: 7px;
              position: absolute;
              top: 5px;
              left: 5px;
              pointer-events: none;
            "
          ></i>
        </span>
      </div>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  *ngIf="addPayrollPopupOpened"
  [(visible)]="addPayrollPopupOpened"
  [width]="'60vw'"
  [height]="'80vh'"
  title="New Payroll - Select Timesheet - {{ selectedMonthForAdd }}"
  (onHiding)="handleClose()"
>
  <app-payroll-add
    [selectedMonth]="selectedMonthForAdd"
    (popupClosed)="handleClose()"
  ></app-payroll-add>
</dx-popup>

<dx-popup
  [(visible)]="editPayrollPopupOpened"
  [width]="'70vw'"
  [height]="'85vh'"
  title="Payroll"
  (onHiding)="handleClose()"
>
  <app-payroll-edit
    *ngIf="editPayrollPopupOpened"
    [selectedMonth]="selectedMonthForAdd"
    [payroll]="selectedPayroll"
    (popupClosed)="handleClose()"
  ></app-payroll-edit>
</dx-popup>

<dx-popup
  [(visible)]="verifyPayrollPopupOpened"
  [width]="'75vw'"
  [height]="'90vh'"
  title="Payroll"
  (onHiding)="handleClose()"
>
  <app-payroll-verify
    *ngIf="verifyPayrollPopupOpened"
    [selectedMonth]="selectedMonthForAdd"
    [payroll]="selectedPayroll"
    (popupClosed)="handleClose()"
  ></app-payroll-verify>
</dx-popup>

<dx-popup
  [(visible)]="approvePayrollPopupOpened"
  [width]="'75vw'"
  [height]="'90vh'"
  title="Payroll"
  (onHiding)="handleClose()"
>
  <app-payroll-approve
    *ngIf="approvePayrollPopupOpened"
    [selectedMonth]="selectedMonthForAdd"
    [payroll]="selectedPayroll"
    (popupClosed)="handleClose()"
  ></app-payroll-approve>
</dx-popup>

<dx-popup
  [(visible)]="viewPayrollPopupOpened"
  [width]="'75vw'"
  [height]="'90vh'"
  title="Payroll"
  (onHiding)="handleClose()"
>
  <app-payroll-view
    *ngIf="viewPayrollPopupOpened"
    [selectedMonth]="selectedMonthForAdd"
    [payroll]="selectedPayroll"
    (popupClosed)="handleClose()"
  ></app-payroll-view>
</dx-popup>
