<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'82vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true,
      }"
      class="grid theme-dependent"
      [dataSource]="InvoiceDataSource"
      [showBorders]="true"
      [showRowLines]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [filterRow]="{ visible: false }"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      [scrolling]="{ mode: 'virtual' }"
      (onEditingStart)="onEditInvoice($event)"
      (onRowRemoving)="onDeleteInvoice($event)"
      (onCellPrepared)="onCellPrepared($event)"
    >
      <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="canDelete"
      ></dxo-editing>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="false"
        [formats]="['xlsx']"
      >
      </dxo-export>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <!-- <dxo-scrolling mode="standard"></dxo-scrolling> -->
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel>
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Misc Sales Invoice</div>
        </dxi-item>
        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <!-- Divider -->
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>
        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn"
        ></dxi-item>

        <dxi-item
          *ngIf="canAdd"
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>
      </dxo-toolbar>

      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="220"
        >
          <!-- This controls the dropdown list rendering -->
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>
      <!-- <dxi-column dataField="TRANS_TYPE" caption="Trans Type"></dxi-column> -->
      <dxi-column
        dataField="DOC_NO"
        caption="Sale No"
        alignment="left"
      ></dxi-column>
      <dxi-column
        dataField="SALE_DATE"
        caption="Date"
        dataType="date"
        [allowEditing]="false"
        format="dd-MM-yyyy"
      ></dxi-column>

      <dxi-column dataField="CUST_NAME" caption="Customer">
      </dxi-column>
      <dxi-column
        dataField="PATIENT_ID"
        caption="Patient ID"
      ></dxi-column>
      <dxi-column
        dataField="ENCOUNTER_TYPE"
        caption="Encounter Type"
      ></dxi-column>
      <!-- <dxi-column
        dataField="GROSS_AMOUNT"
        caption="Gross Amount"
        dataType="number"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>
      <dxi-column
        dataField="TAX_AMOUNT"
        caption="VAT Amount"
        dataType="number"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column> -->
      <dxi-column
        dataField="NET_AMOUNT"
        caption="Net Amount"
        dataType="number"
        [format]="{ type: 'fixedPoint', precision: 2 }"
      ></dxi-column>

      <dxi-column
        caption="Status"
        dataField="STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false,
        }"
      >
      </dxi-column>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  *ngIf="isAddInvoice"
  [(visible)]="isAddInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="New Misc Sales Invoice"
  (onHiding)="handleClose()"
>
  <!-- <ng-container *ngIf="isAddInvoice"> -->
  <app-misc-sales-invoice-form  
  (saveSuccess)="handleAfterSave()"
  ></app-misc-sales-invoice-form>
  <!-- </ng-container> -->
</dx-popup>

<dx-popup
  *ngIf="isEditInvoice"
  [(visible)]="isEditInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Edit Misc Sales Invoice"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isEditInvoice">
    <app-misc-sales-invoice-form
      [invoiceFormData]="selectedInvoice"
      (popupClosed)="handleClose()"
      (saveSuccess)="handleAfterSave()"
    ></app-misc-sales-invoice-form>
  </ng-container>
</dx-popup>

<dx-popup
  *ngIf="isViewInvoice"
  [(visible)]="isViewInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="View Misc Sales Invoice"
  (onHiding)="handleClose()"
>
  <ng-container *ngIf="isViewInvoice">
    <app-misc-sales-invoice-form
      [invoiceFormData]="selectedInvoice"
      (popupClosed)="handleClose()"
    ></app-misc-sales-invoice-form>
  </ng-container>
</dx-popup>

<app-custom-date-popup
  [(visible)]="showCustomDatePopup"
  [startDate]="customStartDate"
  [endDate]="customEndDate"
  (applyDates)="onCustomDateApplied($event)"
>
</app-custom-date-popup>


