<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText="No data available"
      [width]="'100%'"
      [height]="'75vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true
      }"
      class="grid theme-dependent"
      [dataSource]="ArticleProductionDatasource"
      [showBorders]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: true, allowSearch: true }"
      [scrolling]="{ mode: 'standard' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      [groupPanel]="{ visible: true }"
      [grouping]="{ autoExpandAll: false }"
      [summary]="summaryColumnsData" 
    >
      
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
       
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <!-- <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row> -->
     <dxo-toolbar>
  <dxi-item location="before">
    <div class="custom-toolbar-stack">
      <div class="grid-header">Box Production view</div>
      <dx-select-box
        [dataSource]="dateRanges"
        [displayExpr]="'label'"
        valueExpr="value"
        [(value)]="selectedDateRange"
        (onValueChanged)="onDateRangeChanged($event)"
        [searchEnabled]="true"
        [width]="250"
        placeholder="Select Date Range"
      >
        <div *dxTemplate="let item of 'item'">
          {{ item.value === 'custom' ? 'Custom' : item.label }}
        </div>
      </dx-select-box>
    </div>
  </dxi-item>

  <dxi-item location="after">
    <div class="toolbar-margin-top">
    <dx-tag-box
      [items]="CompanyDetails"
      valueExpr="COMPANY_ID"
      displayExpr="COMPANY_NAME"
      label="Select Company"
      labelMode="floating"
      [(value)]="company_id"
      [showSelectionControls]="true"
      [multiline]="false"
      [searchEnabled]="true"
      [width]="230"
    ></dx-tag-box>
    </div>
  </dxi-item>

  <dxi-item location="after">
    <div class="toolbar-margin-top">
    <dx-button
      text="Apply"
      type="default"
      icon="todo"
      stylingMode="contained"
      [width]="100"
      (onClick)="get_DataSource()"
    ></dx-button>
    </div>
  </dxi-item>
</dxo-toolbar>

       <dxo-grouping
        [autoExpandAll]="false"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      ></dxo-grouping>
<!-- <dxi-column dataField="ARTICLE_ID" caption="Id"></dxi-column> -->
<dxi-column dataField="ART_NO" caption="Art No." ></dxi-column>
<dxi-column dataField="COLOR" caption="Color"></dxi-column>
<dxi-column dataField="CATEGORY" caption="Category"></dxi-column>
<dxi-column dataField="SIZE" caption="Size" alignment="center"></dxi-column>
<dxi-column dataField="PRODUCTION_UNIT" caption="Production Unit"></dxi-column>
<dxi-column dataField="QUANTITY" caption="Quantity"></dxi-column>

<!-- <dxi-column dataField="QTY_MULTIBOX" caption="Qty Multibox"></dxi-column> -->



<!-- <dxi-column dataField="QTY_TOTAL" caption="Qty Total"></dxi-column> -->


    </dx-data-grid>
  </div>
</div>

<!-- <dx-popup
  [(visible)]="showCustomDatePopup"
  [showTitle]="true"
  title="Select Dates"
  [width]="350"
  [height]="180"
  [dragEnabled]="false"
  class="p-4"
>
  <div>
    <div class="date-range-container">
      <dx-date-box
        [(value)]="customStartDate"
        type="date"
        width="300"
        placeholder="From Date"
      >
      </dx-date-box>

      <dx-date-box
        [(value)]="customEndDate"
        type="date"
        placeholder="To Date"
        width="300"
      >
      </dx-date-box>
    </div>

    <div class="button-container">
      <dx-button
        text="Apply"
        type="default"
        (onClick)="applyCustomDateFilter()"
      ></dx-button>
    </div>
  </div>
</dx-popup> -->

<dx-popup
  [(visible)]="showCustomDatePopup"
  [width]="'300px'"
  title="Select Custom Date Range"
  [showCloseButton]="true"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [height]="'300px'"
>
  <div class="p-3">
    <dx-date-box
      [(value)]="customStartDate"
      type="date"
      displayFormat="yyyy-MM-dd"
      label="From Date"
    >
    </dx-date-box>

    <dx-date-box
      [(value)]="customEndDate"
      type="date"
      displayFormat="yyyy-MM-dd"
      label="To Date"
    >
    </dx-date-box>

   <dx-button
  text="Apply"
  type="default"
  stylingMode="contained"
  (onClick)="applyCustomDateFilter()"
  class="mt-3"
></dx-button>

  </div>
</dx-popup>
