<div class="view-wrapper list-page">
  <dx-data-grid
    width="100%"
    height="83vh"
    class="grid theme-dependent"
    [dataSource]="uomList"
    (onRowRemoving)="onRowRemoving($event)"
    (onEditingStart)="onEditingRow($event)"
    rowAlternationInterval="2"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [showColumnHeaders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    [showColumnLines]="true"
  >
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true">
      <!-- <dxo-popup
        title="Edit UOM"
        [showTitle]="true"
        [width]="500"
        [height]="200"
      >
      </dxo-popup> -->
      <dxo-form class="plain-styled-form" [colCount]="1">
        <dxi-item itemType="group" [colCount]="1">
          <dxi-item itemType="group" [colCount]="1">
            <dxi-item dataField="UOM"></dxi-item>
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxo-toolbar>
      <dxi-item location="before">
        <div
          class="grid-header"
          style="
            font-weight: 600;
            font-size: 20px;
            margin-left: 12px;
            padding: -3px;
            margin-right: 3px;
          "
        >
          Unit of Measurement
        </div>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          stylingMode: 'text'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="UOM" caption="Uom" stylingMode="filled">
    </dxi-column>
  </dx-data-grid>
  <form-popup
    [(visible)]="isAddUomPopupOpened"
    [width]="550"
    [height]="200"
    (save)="onClickSaveUom()"
    titleText="New UOM"
    [showApprove]="false"
  >
    <app-uom-add-form (formClosed)="CloseEditForm()"></app-uom-add-form>
  </form-popup>

  <dx-popup
    [(visible)]="isEditUomPopupOpened"
    title="Edit UOM"
    [height]="'30vh'"
    [width]="'40vw'"
    (onHiding)="CloseEditForm()"
  >
    <app-uom-edit
      (formClosed)="CloseEditForm()"
      [selectedData]="selectedData"
    ></app-uom-edit>
  </dx-popup>
</div>
