<dx-validation-group #journalVoucherGroup>
  <div
    class="invoice-wrapper"
    style="
      height: 70vh;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
    "
  >
    <div class="salary-grid-wrapper" style="padding: 0 10px">
      <div class="grid-container">
        <dx-data-grid
          #itemsGridRef
          [dataSource]="debitFormData.NOTE_DETAIL"
          [showBorders]="true"
          [showRowLines]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true, allowSearch: true }"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [height]="'60vh'"
          [columnResizingMode]="'nextColumn'"
          [scrolling]="{ mode: 'virtual' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
          [editing]="{
            mode: 'cell',
            allowUpdating: true,
            allowDeleting: true,
            allowAdding: true,
            useIcons: true
          }"
          (onEditorPreparing)="onEditorPreparing($event)"
          (onSummaryCalculated)="onSummaryCalculated($event)"
        >
          <dxo-load-panel [showPane]="false"></dxo-load-panel>
          <dxo-filter-builder [allowHierarchicalFields]="true">
          </dxo-filter-builder>
          <dxo-toolbar>
            <div
              class="stacked-toolbar-group"
              style="display: flex; flex-direction: column; gap: 2px"
            ></div>
            <dxi-item location="before" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 5px"
              >
                <div style="display: flex; gap: 5px">
                  <dx-select-box
                    #distributorRef
                    [(value)]="debitFormData.SUPP_ID"
                    [dataSource]="supplierList"
                    displayExpr="DESCRIPTION"
                    valueExpr="ID"
                    [width]="405"
                    [searchEnabled]="true"
                    label="Supplier"
                    labelMode="floating"
                    (onValueChanged)="onSupplierChanged($event)"
                  ></dx-select-box>
                  <!--  -->
                </div>
                <div style="display: flex; gap: 5px">
                  <dx-text-box
                    label="Doc No"
                    [(value)]="docNo"
                    labelMode="floating"
                    [width]="200"
                    [readOnly]="true"
                  ></dx-text-box>

                  <dx-select-box
                    [(value)]="debitFormData.INVOICE_NO"
                    [items]="pendingInvoicelist"
                    displayExpr="INVOICE_NO"
                    valueExpr="INVOICE_NO"
                    label="Select Invoice"
                    labelMode="floating"
                    placeholder="Select Invoice No."
                    [width]="200"
                    (onFocusIn)="openInvoicePopup()"
                  ></dx-select-box>
                </div>
              </div>
            </dxi-item>

            <dxi-item location="after" locateInMenu="auto">
              <div class="stacked-toolbar-group"></div>
            </dxi-item>
            <dxi-item location="after" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 5px"
              >
                <!-- Row 1: Date only -->
                <div style="display: flex; gap: 5px; justify-content: flex-end">
                  <dx-date-box
                    [(value)]="debitFormData.TRANS_DATE"
                    displayFormat="dd-MM-yyyy"
                    type="date"
                    label="Date"
                    labelMode="floating"
                    [width]="200"
                    [readOnly]="true"
                  ></dx-date-box>
                </div>
                <div style="display: flex; gap: 5px">
                  <dx-number-box
                    #dueAmountRef
                    label="Due Amount"
                    labelMode="floating"
                    [(value)]="this.debitFormData.DUE_AMOUNT"
                    [format]="{ type: 'fixedPoint', precision: 2 }"
                    [width]="200"
                    [showSpinButtons]="true"
                    [inputAttr]="{ style: 'text-align: right;' }"
                    (onKeyDown)="onDueAmountKeyDown($event)"
                  ></dx-number-box>
                </div>
              </div>
            </dxi-item>
          </dxo-toolbar>
          <dxi-column
            dataField="SL_NO"
            caption="Sl No"
            [allowEditing]="true"
          ></dxi-column>
          <dxi-column
            dataField="ledgerCode"
            caption="Ledger Code"
            [width]="130"
            [editorType]="'dxSelectBox'"
            [lookup]="{
              dataSource: ledgerList,
              valueExpr: 'HEAD_CODE',
              displayExpr: 'HEAD_CODE',
              searchEnabled: true
            }"
          ></dxi-column>

          <dxi-column
            dataField="ledgerName"
            caption="Ledger Name"
            [width]="200"
            [editorType]="'dxSelectBox'"
            [lookup]="{
              dataSource: ledgerList,
              valueExpr: 'HEAD_NAME',
              displayExpr: 'HEAD_NAME',
              searchEnabled: true
            }"
          ></dxi-column>

          <dxi-column
            dataField="particulars"
            caption="Particulars"
            [width]="150"
            [editorOptions]="{ maxLength: 250 }"
          >
            <dxi-validation-rule
              type="stringLength"
              [max]="250"
              message="Max 250 characters allowed"
            ></dxi-validation-rule>
          </dxi-column>
          <dxi-column
            dataField="Amount"
            caption="Amount"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-column>

          <dxi-column
            dataField="gstAmount"
             [caption]="(selected_vat_id == sessionData.VAT_ID && sessionData.VAT_ID == 2) ? 'VAT Amount' : ' GST Amount'"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-column>

          <dxi-column type="buttons">
            <dxi-button name="edit"></dxi-button>
            <dxi-button name="delete"></dxi-button>
          </dxi-column>

          <dxo-summary>
            <dxi-total-item
              column="Amount"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="Total: {0}"
              alignment="right"
            >
            </dxi-total-item>

            <dxi-total-item
              column="gstAmount"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="Total: {0}"
              alignment="right"
            >
            </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>

        <div
          style="
            margin-top: 1px;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
          "
        >
          <!-- Left: Narration -->
          <dx-text-box
            #narrationRef
            [(value)]="debitFormData.NARRATION"
            label="Narration"
            labelMode="floating"
            [width]="400"
            (onKeyDown)="onNarrationKeyDown($event)"
          ></dx-text-box>

          <!-- Right: Net Amount + Approve checkbox -->
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              gap: 5px;
            "
          >
            <dx-text-box
              [value]="netAmountDisplay"
              label="Net Amount"
              labelMode="floating"
              [width]="200"
              [readOnly]="true"
              [calculateCellValue]="calculateAmount"
              [inputAttr]="{ style: 'text-align: right;' }"
            ></dx-text-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-validation-group>

<div class="form-popup-buttons-container">
  <div class="popup-footer">
    <dx-button
      text="Cancel"
      (onClick)="cancel()"
      stylingMode="outlined"
      type="normal"
    ></dx-button>
    <dx-button
      #saveButtonRef
      text="Save"
      (onClick)="saveDebitNote()"
      stylingMode="contained"
      type="default"
    ></dx-button>
  </div>
</div>

<dx-popup
  [(visible)]="invoicePopupVisible"
  [width]="600"
  [height]="400"
  title="Select Invoice"
>
  <dx-data-grid
    [dataSource]="pendingInvoicelist"
    [showBorders]="true"
    [showColumnLines]="true"
    [height]="'40vh'"
    [hoverStateEnabled]="true"
    [selection]="{ mode: 'single' }"
    (onRowClick)="selectInvoice($event)"
  >
    <dxo-editing mode="popup"></dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="standard"></dxo-scrolling>
    <dxo-filter-row
      [visible]="isFilterRowVisible"
      [applyFilter]="auto"
    ></dxo-filter-row>
    <dxo-toolbar> </dxo-toolbar>
    <dxi-column dataField="INVOICE_NO" caption="Doc No"></dxi-column>
    <dxi-column dataField="PURCH_DATE" caption="Date"></dxi-column>
    <dxi-column dataField="NET_AMOUNT" caption="Net Amount"></dxi-column>
    <dxi-column dataField="PENDING_AMOUNT" caption="Balance"></dxi-column>
  </dx-data-grid>
</dx-popup>
