
<dx-validation-group #departmentValidationGroup>
<dx-form class="plain-styled-form">
  <dxi-item itemType="group">
    <dxo-col-count-by-screen
      [xs]="1"
      [sm]="1"
      [md]="1"
      [lg]="1"
    ></dxo-col-count-by-screen>

    <!-- Code -->
    <dxi-item  [colSpan]="1" >
      <dx-text-box
        [(value)]="newSubCategory.CODE"
        placeholder="Enter Code"
        style="margin-bottom: 10px;"
      ><dx-validator>
  <dxi-validation-rule type="required" message=" category is required"></dxi-validation-rule>
</dx-validator></dx-text-box>
    </dxi-item>

    <!-- Sub Category Name -->
    <dxi-item  [colSpan]="1">
      <dx-text-box
        [(value)]="newSubCategory.SUBCAT_NAME"
        placeholder="Enter Sub Category Name"
         style="margin-bottom: 10px;"
      ><dx-validator>
  <dxi-validation-rule type="required" message=" category is required"></dxi-validation-rule>
</dx-validator></dx-text-box>
    </dxi-item>

        <!-- Category -->
    <dxi-item  [colSpan]="1">
      <dx-select-box
 style="margin-bottom: 10px;"
        [items]="categories"
        displayExpr="DESCRIPTION"
        valueExpr="ID"
        placeholder="Select Category"
        [(value)]="newSubCategory.CAT_ID"
            [searchEnabled]="true"
      ><dx-validator>
  <dxi-validation-rule type="required" message=" category is required"></dxi-validation-rule>
</dx-validator></dx-select-box>
    </dxi-item>
    <!-- Department -->
    <dxi-item  [colSpan]="1">
      <dx-select-box
        [items]="departmetDropdownData"
        displayExpr="DESCRIPTION"
        valueExpr="ID"
         style="margin-bottom: 10px;"
        placeholder="Select Department"
            [searchEnabled]="true"
        [(value)]="newSubCategory.DEPT_ID"
    
      ></dx-select-box>
    </dxi-item>
  </dxi-item>
</dx-form>


     <div style="margin-top: 20px;
    margin-left: 60%;
        display: flex
;
    gap: 20px;
">
    <dx-button
      text="Cancel"
      stylingMode="outlined"
      (onClick)="closePopup()"
      type="normal"
    ></dx-button>
    <dx-button
      text="Save"
      stylingMode="contained"
      type="default"
      (onClick)="UpdateData()"
    ></dx-button>
  </div>

</dx-validation-group>