<dx-validation-group #journalVoucherGroup>
  <div
    class="invoice-wrapper"
    style="
      height: 85vh;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
    "
  >
    <div class="salary-grid-wrapper" style="padding: 0 20px">
      <div class="grid-container">
        <dx-data-grid
          #itemsGridRef
          [dataSource]="mainInvoiceGridList"
          [showBorders]="true"
          [showRowLines]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true, allowSearch: true }"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [height]="'65vh'"
          [columnResizingMode]="'nextColumn'"
          [scrolling]="{ mode: 'virtual' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
          [editing]="{
            mode: 'cell',
            allowUpdating: true,
            allowDeleting: true,
            allowAdding: true,
            useIcons: true,
          }"
          (onContentReady)="onContentReady($event)"
          (onEditorPreparing)="onEditorPreparing($event)"
        >
          <dxo-load-panel [showPane]="false"></dxo-load-panel>
          <dxo-filter-builder [allowHierarchicalFields]="true">
          </dxo-filter-builder>
          <dxo-toolbar>
            <div
              class="stacked-toolbar-group"
              style="display: flex; flex-direction: column; gap: 2px"
            ></div>
            <dxi-item location="before" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 5px"
              >
                <div style="display: flex; gap: 5px">
                  <dx-text-box
                    #invoiceBoxRef
                    [(value)]="invoiceFormData.DOC_NO"
                    label="Invoice No."
                    labelMode="floating"
                    [width]="185"
                  ></dx-text-box>
                  <dx-text-box
                    #invoiceBoxRef
                    label="Reference No."
                    labelMode="floating"
                    [(value)]="invoiceFormData.REF_NO"
                    [width]="185"
                  ></dx-text-box>
                </div>
                <div
                  style="
                    margin-top: 4px;
                    display: flex;
                    align-items: flex-start;
                    gap: 16px;
                    margin-bottom: 24px;
                  "
                >
                  <!-- Radio Group -->

                  <!-- Company Select -->
                  <dx-date-box
                    label="Transaction Date"
                    [(value)]="invoiceFormData.SALE_DATE"
                    type="date"
                    labelMode="floating"
                    [width]="375"
                    [displayFormat]="'dd-MM-yyyy'"
                    style="margin-top: -1px"
                  ></dx-date-box>
                </div>
              </div>
            </dxi-item>
            <dxi-item location="after" locateInMenu="auto">
              <div class="stacked-toolbar-group"></div>
            </dxi-item>
            <dxi-item location="after" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 5px"
              >
                <!-- Row 1: Date only -->
                <div style="display: flex; gap: 2px; justify-content: flex-end">
                  <dx-select-box
                    [(value)]="invoiceFormData.DISTRIBUTOR_ID"
                    [dataSource]="distributorList"
                    displayExpr="DESCRIPTION"
                    valueExpr="ID"
                    [width]="375"
                    label="Customer"
                    labelMode="floating"
                    [searchEnabled]="true"
                    (onValueChanged)="onDistributorChanged($event)"
                  >
                  </dx-select-box>
                </div>
                <div
                  style="
                    display: flex;
                    gap: 2px;
                    margin-bottom: 0;
                    justify-content: end;
                  "
                >
                  <dx-button
                    (onClick)="openTrOutSelector()"
                    stylingMode="outlined"
                    class="blue-outline-btn"
                  >
                    <div
                      *dxTemplate="let data of 'content'"
                      style="display: flex; align-items: center; gap: 6px"
                    >
                      <span
                        class="iconify"
                        data-icon="mingcute:time-line"
                        data-width="18"
                        data-height="18"
                      >
                      </span>

                      <span>Fill Pending Deliveries</span>
                    </div>
                  </dx-button>
                </div>
              </div>
            </dxi-item>
          </dxo-toolbar>

          <dxi-column
            dataField="DN_NO"
            [caption]="
              invoiceGridList?.length && invoiceGridList[0]?.CUST_TYPE === 2
                ? 'Item Code'
                : 'Delivery No'
            "
          ></dxi-column>
          <dxi-column
            dataField="TRANSFER_DATE"
            caption="Date"
            dataType="date"
            format="dd-MM-yyyy"
          ></dxi-column>
          <dxi-column
            dataField="ARTICLE"
            [caption]="
              invoiceGridList?.length && invoiceGridList[0]?.CUST_TYPE === 2
                ? 'Description'
                : 'Description'
            "
          ></dxi-column>
          <dxi-column
            dataField="HSN_CODE"
            caption="HSN Code"
            dataType="string"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column
            dataField="TOTAL_PAIR_QTY"
            caption="Total Pair Qty"
            dataType="number"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column
            dataField="PRICE"
            caption="Price"
            dataType="number"
            format="#,##0.00"
            [allowEditing]="true"
          ></dxi-column>
          <dxi-column
            dataField="AMOUNT"
            caption="Amount"
            dataType="number"
            format="#,##0.00"
            [allowEditing]="false"
            [calculateCellValue]="calculateAmount"
          ></dxi-column>
          <dxi-column
            dataField="GST"
            [caption]="vatTitle + '%'"
            dataType="number"
            [allowEditing]="false"
          ></dxi-column>
          <!-- <dxi-column
            dataField="CGST"
            caption="CGST"
            dataType="number"
            [visible]="showCGST"
            [allowEditing]="false"
          ></dxi-column>

          <dxi-column
            dataField="SGST"
            caption="SGST"
            dataType="number"
            [visible]="showSGST"
            [allowEditing]="false"
          ></dxi-column> -->
          <dxi-column
            dataField="TAX_AMOUNT"
            [caption]="vatTitle + ' Amount'"
            dataType="number"
            format="#,##0.00"
            [allowEditing]="false"
            [calculateCellValue]="calculateGstAmount"
          ></dxi-column>

          <dxi-column
            dataField="TOTAL_AMOUNT"
            caption="Total"
            dataType="number"
            format="#,##0.00"
            [allowEditing]="false"
            [calculateCellValue]="calculateTotal"
          ></dxi-column>
          <dxo-summary>
            <dxi-total-item
              column="AMOUNT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
            ></dxi-total-item>

            <dxi-total-item
              column="TAX_AMOUNT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
            ></dxi-total-item>

            <dxi-total-item
              column="TOTAL_AMOUNT"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="{0}"
              alignment="right"
              [allowEditing]="true"
            ></dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
        <!-- Row: Vehicle No (Left)  |  Round Off + Net Amount (Right) -->
        <div
          style="
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <!-- LEFT SIDE → Vehicle No -->
          <div>
            <dx-text-box
              label="Vehicle No"
              labelMode="floating"
              [(value)]="invoiceFormData.VEHICLE_NO"
              [width]="200"
            ></dx-text-box>
          </div>

          <!-- RIGHT SIDE → Round Off + Net Amount -->
          <div style="display: flex; align-items: center; gap: 16px">
            <dx-check-box
              style="margin-right: 21px"
              text="Round Off"
              [(value)]="invoiceFormData.ROUND_OFF"
              (onValueChanged)="onRoundOffChange()"
            ></dx-check-box>

            <dx-number-box
              label="Net Amount"
              labelMode="floating"
              [value]="netAmount"
              [width]="150"
              [format]="'#,##0.00'"
              [readOnly]="true"
            ></dx-number-box>
          </div>
        </div>

        <div
          style="
            margin: 16px 0 8px 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
          "
        >
          <!-- Approve -->
          <dx-check-box
            text="Approve"
            [(value)]="invoiceFormData.IS_APPROVED"
          ></dx-check-box>

          <!-- Cancel -->
          <dx-button
            text="Cancel"
            (onClick)="cancelPopup()"
            stylingMode="outlined"
            type="normal"
          ></dx-button>

          <!-- Update / Update & Commit -->
          <dx-button
            #saveButtonRef
            [text]="invoiceFormData.IS_APPROVED ? 'Save' : 'Save'"
            [disabled]="isUpdating"
            (onClick)="updateInvoice()"
            stylingMode="contained"
            type="default"
          ></dx-button>
        </div>
      </div>
    </div>
  </div>
</dx-validation-group>

<dx-popup
  [(visible)]="isTrOutPopupVisible"
  [width]="800"
  [height]="500"
  [showTitle]="true"
  title="Invoice Pending Deliveries"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  (onHiding)="onTrOutPopupClose()"
>
  <div *dxTemplate="let data of 'content'">
    <dx-data-grid
      #popupGridRef
      [dataSource]="invoiceGridList"
      [showBorders]="true"
      [showRowLines]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [headerFilter]="{ visible: true, allowSearch: true }"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [height]="'60vh'"
      [columnResizingMode]="'nextColumn'"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'multiple', showCheckBoxesMode: 'always' }"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <!-- <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="auto"
      ></dxo-filter-row> -->

      <dxo-toolbar>
        <div
          class="stacked-toolbar-group"
          style="display: flex; flex-direction: column; gap: 2px"
        ></div>
        <dxi-item location="before" locateInMenu="auto"> </dxi-item>

        <dxi-item location="after">
          <div class="toolbar-button-wrapper">
            <dx-button
              text="Select Transfers"
              icon="check"
              type="default"
              (onClick)="onTransferSelectClick()"
              stylingMode="contained"
              class="blue-outline-btn"
            ></dx-button>
          </div>
        </dxi-item>

        <dxi-item location="after" locateInMenu="auto"> </dxi-item>
      </dxo-toolbar>
      <!-- <dxi-column
        dataField="TRANSFER_NO"
        [caption]="
          invoiceGridList?.length && invoiceGridList[0]?.CUST_TYPE === 2
            ? 'Item Code'
            : 'Transfer No'
        "
      ></dxi-column> -->
      <dxi-column dataField="REF_NO" caption="Reference No"></dxi-column>
      <dxi-column dataField="DN_NO" caption="Delivery No"></dxi-column>
      <dxi-column
        dataField="DATE"
        caption="Date"
        dataType="date"
        format="dd-MM-yyyy"
      ></dxi-column>
      <dxi-column dataField="ARTICLE" caption="Description"></dxi-column>
      <!-- <dxi-column
        dataField="ARTICLE"
        [caption]="
          invoiceGridList?.length && invoiceGridList[0]?.CUST_TYPE === 2
            ? 'Item Description'
            : 'Article'
        "
      ></dxi-column> -->
      <dxi-column
        dataField="TOTAL_PAIR_QTY"
        caption="Qty"
        dataType="number"
      ></dxi-column>
    </dx-data-grid>
  </div>
</dx-popup>
