<div class="grid-container">
  <dx-data-grid
    #dataGrid
    [dataSource]="VATreturn"
    width="100%"
    height="83vh"
    [showBorders]="true"
    [showRowLines]="true"
    [allowColumnResizing]="false"
    [showColumnLines]="true"
    [columnAutoWidth]="true"
    [groupPanel]="{ visible: true }"
    [grouping]="{ autoExpandAll: false }"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [filterRow]="{ visible: false }"
    id="dataGrid"
    [headerFilter]="{ visible: false }"
    [export]="{ enabled: true, formats: ['xlsx', 'pdf'] }"
    [columnFixing]="{
      enabled: true,
      texts: { fix: 'Freeze', unfix: 'Unfreeze' },
    }"
    (onExporting)="onExporting($event)"
    [loadPanel]="{
  enabled: true,
  text: 'Loading...'
}"
[loading]="isLoading"
    (onCellClick)="onCellClick($event)"
     (onRowPrepared)="onRowPrepared($event)"
  >
    <dxo-scrolling
      mode="virtual"
      rowRenderingMode="virtual"
      columnRenderingMode="virtual"
    >
    </dxo-scrolling>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']"> </dxo-export>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>

    <dxo-toolbar>
      <dxi-item location="before">
        <div
          class="grid-header"
          style="
            font-weight: 600;
            font-size: 20px;
            margin-left: 12px;
            padding: -3px;
            margin-right: 3px;
          "
        >
          VAT Return
        </div>
      </dxi-item>

      <dxi-item> </dxi-item>
      <dxi-item>
        <dx-date-box
          [width]="150"
          label="From Date"
          labelMode="floating"
          [value]="financialYeaDate"
          [displayFormat]="'dd-MM-yyyy'"
          (onValueChanged)="onFromDateChange($event)"
        >
        </dx-date-box>
      </dxi-item>
      <dxi-item>
        <dx-date-box
          [width]="150"
          label="To Date"
          labelMode="floating"
          [value]="defaultDate"
          displayFormat="dd-MM-yyyy"
          (onValueChanged)="onToDateChange($event)"
        >
        </dx-date-box>
      </dxi-item>

      <dxi-item location="after">
        <div class="toolbar-divider"></div>
      </dxi-item>
      <dxi-item>
        <dx-button
          text="Apply"
          stylingMode="contained"
          type="default"
          (onClick)="Vat_Return_Data()"
        >
        </dx-button>
      </dxi-item>

     <dxi-item>
  <dx-button
    icon="exportpdf"
    hint="Export PDF"
    stylingMode="contained"
    type="default"
    (onClick)="downloadPdf()">
  </dx-button>
</dxi-item>
    </dxo-toolbar>

    <dxo-sorting mode="none"></dxo-sorting>
    <dxo-filter-row visible="true"></dxo-filter-row>
    <dxo-header-filter visible="true"></dxo-header-filter>
    <dxo-paging page-size="10"></dxo-paging>
    <dxo-pager
      show-page-size-selector="true"
      show-info="true"
      show-navigator="true"
    ></dxo-pager>
    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <dxo-grouping [autoExpandAll]="true"> </dxo-grouping>

   <!-- <dxi-column
  dataField="GROUP_NAME"
  [groupIndex]="0"
  sortOrder="desc"
  [visible]="false"
  groupCellTemplate="groupTemplate">
</dxi-column> -->

    <dxi-column
  dataField="GROUP_NAME"
  [groupIndex]="0"
  [visible]="false"
  sortOrder="desc"
  groupCellTemplate="groupTemplate">
</dxi-column>
    <div *dxTemplate="let data of 'groupTemplate'">
  <span style="font-weight:600;font-size:16px">
    {{ data.value }}
  </span>
</div>

    <dxi-column
      dataField="DESCRIPTION"
      caption="Particulars"
      dataType="string"
    ></dxi-column>

    <dxi-column
      dataField="AMOUNT"
      caption="Amount"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    >
    </dxi-column>

    <dxi-column
      dataField="VAT"
      caption="VAT Amount"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    >
    </dxi-column>

    <dxi-column
      dataField="ADJUSTMENT"
      caption="Adjustment"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    >
    </dxi-column>

    <dxo-summary>

      <!-- Grand Totals -->
      <!-- <dxi-total-item
        name="NetVATDue"
        summaryType="custom"
        [displayFormat]="'Net VAT Due: ' + netVatDue"
        valueFormat="#,##0.00"
        showInColumn="DESCRIPTION"
      >
      </dxi-total-item> -->
    </dxo-summary>
  </dx-data-grid>
</div>

<div class="pdf-container" style="margin-top: 30px" *ngIf="pdfSrc">
  <iframe
    [src]="pdfSrc"
    width="100%"
    height="1000px"
    style="border: 1px solid #ddd"
  >
  </iframe>
</div>

<!-- OUTPUT VAT DETAIL------------------------- -->
<dx-popup
  [(visible)]="isOutputVatPopup"
  [width]="'90vw'"
  [height]="'80vh'"
  title="Output VAT Details"
  [showCloseButton]="true"
>
  <dx-data-grid
    [dataSource]="outputVatPopupData"
    [showBorders]="true"
    height="100%"
    (onRowClick)="onRowStoreClick($event)"
  >
    <dxi-column
      dataField="STORE_NAME"
      caption="Store Name"
      dataType="string"
    ></dxi-column>

    <dxi-column caption="VAT Category" alignment="center">
      <dxi-column
        dataField="EXEMPTED"
        caption="Exempted(AED)"
        dataType="number"
        format="#,##0.00"
        alignment="right"
      >
      </dxi-column>

      <dxi-column
        dataField="ZERO_RATE"
        caption="Zero(AED)"
        dataType="number"
        format="#,##0.00"
        alignment="right"
      >
      </dxi-column>

      <dxi-column
        dataField="STANDARD_RATE"
        caption="Standard Rate(AED)"
        dataType="number"
        format="#,##0.00"
        alignment="right"
      >
      </dxi-column>
    </dxi-column>

    <dxi-column
      dataField="TAX_AMOUNT"
      caption="Tax Amount(AED)"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    ></dxi-column>
    <dxi-column
      dataField="TOTAL"
      caption="Total(AED)"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    ></dxi-column>

    <dxo-summary>
      <!-- Grand Totals -->
        <dxi-total-item column="EXEMPTED" summaryType="sum" valueFormat="#,##0.00">
      </dxi-total-item>

      <dxi-total-item column="STANDARD_RATE" summaryType="sum" valueFormat="#,##0.00">
      </dxi-total-item>

      <dxi-total-item column="TAX_AMOUNT" summaryType="sum" valueFormat="#,##0.00">
      </dxi-total-item>

      <dxi-total-item
        column="TOTAL"
        summaryType="sum"
        valueFormat="#,##0.00"
      >
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</dx-popup>

<!-- STORE WISE DETAIL------------------------------- -->
<dx-popup
  [(visible)]="isStoreVatPopup"
  [width]="'90vw'"
  [height]="'80vh'"
  title="Output VAT Details"
  [showCloseButton]="true"
>
  <dx-data-grid
    [dataSource]="storeVatPopupData"
    [showBorders]="true"
    [height]="'100%'"
     (onRowClick)="onInvoiceRowClick($event)">

     <dxi-column
      dataField="DOC_NO"
      caption="Doc No."
      dataType="string"
    ></dxi-column>

    <dxi-column
      dataField="DATE"
      caption="Date"
      dataType="date"
    ></dxi-column>

    <dxi-column caption="VAT Category" alignment="center">
      <dxi-column
        dataField="EXEMPTED"
        caption="VAT Exempt Sale(AED)"
        dataType="number"
        format="#,##0.00"
        alignment="right"
      >
      </dxi-column>

      <dxi-column
        dataField="ZERO_RATE"
        caption="Zero VAT Sale(AED)"
        dataType="number"
        format="#,##0.00"
        alignment="right"
      >
      </dxi-column>

      <dxi-column
        dataField="STANDARD_RATE"
        caption="Standard VAT Sale(AED)"
        dataType="number"
        format="#,##0.00"
        alignment="right"
      >
      </dxi-column>
    </dxi-column>

    <dxi-column
      dataField="TAX_AMOUNT"
      caption="VAT Amount(AED)"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    ></dxi-column>
    <dxi-column
      dataField="TOTAL"
      caption="Total(AED)"
      dataType="number"
      format="#,##0.00"
      alignment="right"
    ></dxi-column>

    <dxo-summary>


      <!-- Grand Totals -->
       <dxi-total-item column="EXEMPTED" summaryType="sum" valueFormat="#,##0.00">
      </dxi-total-item>


      <dxi-total-item column="STANDARD_RATE" summaryType="sum" valueFormat="#,##0.00">
      </dxi-total-item>

      <dxi-total-item column="TAX_AMOUNT" summaryType="sum" valueFormat="#,##0.00">
      </dxi-total-item>

      <dxi-total-item
        column="TOTAL"
        summaryType="sum"
        valueFormat="#,##0.00"
      >
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>

</dx-popup>


<!-- VIEW PAGE OF SALES INVOICE------------------------------- -->
 <dx-popup
  *ngIf="isViewInvoice"
  [(visible)]="isViewInvoice"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Invoice"
  (onHiding)="handleClose()"
>
  <!-- <ng-container *ngIf="isAddInvoice"> -->
  <app-add-invoice-retail
    [isEditing]="true"
    [isReadOnlyMode]="isReadOnlyInvoice"
    [EditingResponseData]="selectedInvoice"
    (popupClosed)="handleClose()"
  ></app-add-invoice-retail>
  <!-- </ng-container> -->
</dx-popup>

<!-- VIEW PAGE OF PURCHASE INVOICE------------------------ -->
 <dx-popup
  [(visible)]="isVerifyInvoice"
  [width]="'100vw'"
  [height]="'100vh'"
  title="Purchase Invoice"
  (onHiding)="handleClose()"
>
 
  <ng-container *ngIf="isVerifyInvoice">
    <app-edit-purchase-invoice
      [isVerifyInvoice]="true"
      [isVerifyMode]="selectedInvoice?.STATUS !== 'Verified'"
      [isApproveMode]="selectedInvoice?.STATUS == 'Verified'"
      [status]="statusFinder"
      [invoiceFormData]="selectedInvoice"
      [readOnly]="isEditInvoiceReadOnly"
      (popupClosed)="handleClose()"
      [canApprove]="canApprove"
    ></app-edit-purchase-invoice>
  </ng-container>
</dx-popup>

<dx-load-panel
  [visible]="isLoading"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  message="Loading...">
</dx-load-panel>