<dx-form class="plain-styled-form" [colCount]="3">
  <!-- COLUMN 1 -->
  <dxi-item itemType="group">
    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Code *"
          labelMode="floating"
          [(value)]="newSupplier.SUPP_CODE"
          width="150px"
        >
          <dx-validator>
            <dxi-validation-rule type="required" message="Code is required">
            </dxi-validation-rule>
            <dxi-validation-rule
              type="pattern"
              [pattern]="'^[a-zA-Z0-9]+$'"
              message="Code should be alphanumeric only"
            ></dxi-validation-rule>
            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateSupplierCode"
              message="Code already exists"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Address *"
          labelMode="floating"
          [(value)]="newSupplier.ADDRESS1"
        >
          <dx-validator>
            <dxi-validation-rule type="required" message="Address is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Address"
          labelMode="floating"
          [(value)]="newSupplier.ADDRESS2"
        ></dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Address"
          labelMode="floating"
          [(value)]="newSupplier.ADDRESS3"
        ></dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate style="display: flex">
        <dx-drop-down-box
          label="Code *"
          labelMode="floating"
          [(value)]="countryCode"
          (onValueChanged)="onCountrySelected($event)"
          valueExpr="data.dial_code"
          displayExpr="display"
          [(opened)]="isCountryDropdownOpen"
          [dataSource]="countryCodes"
          [width]="120"
          [dropDownOptions]="{ width: 350 }"
        >
          <div *dxTemplate="let data of 'content'">
            <dx-list
              [dataSource]="countryCodes"
              selectionMode="single"
              [searchEnabled]="true"
              [searchExpr]="['data.name', 'data.dial_code']"
              [focusStateEnabled]="false"
              (onItemClick)="onCountrySelected($event)"
            >
              <div
                *dxTemplate="let item of 'item'"
                style="display: flex; align-items: center; gap: 8px"
              >
                <img
                  [src]="item.flagUrl"
                  width="20"
                  height="14"
                  style="border-radius: 2px"
                />
                <span style="min-width: 55px">
                  {{ item.data.dial_code }}
                </span>
                <span>
                  {{ item.data.name }}
                </span>
              </div>
            </dx-list>
          </div>
        </dx-drop-down-box>

        <dx-text-box
          #mobileBox
          label="Mobile *"
          class="phone-style"
          [(value)]="Supplier_mobile"
          labelMode="floating"
          [width]="'100%'"
          style="margin-left: 10px"
          hint="Mobile No"
          valueChangeEvent="input"
          (input)="onMobileInputChange($event)"
          [maxLength]="17"
        >
          <dx-validator #mobileValidator>
            <dxi-validation-rule
              type="required"
              message="Mobile number is required"
            ></dxi-validation-rule>
            <dxi-validation-rule
              type="custom"
              [validationCallback]="MobileValidate"
              message="Invalid mobile number"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Fax"
            [(value)]="newSupplier.FAX_NO"
            labelMode="floating"
          >
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Email *"
            [(value)]="newSupplier.EMAIL"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Email is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="pattern"
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                message="Invalid email format"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <div class="checkbox">Accepted Currency</div>
          <dx-check-box
            [value]="isCurrencyAccepted"
            (onValueChanged)="toggleCurrencyDropdown($event.value)"
            [elementAttr]="{ 'aria-label': 'Checked' }"
          ></dx-check-box>
          Default
        </div>
      </dxi-item>

      <dxi-item>
        <div *dxTemplate>
          <dx-select-box
            label="Currency *"
            [items]="CurrencyDropdownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            [(value)]="newSupplier.CURRENCY_ID"
            [disabled]="isCurrencyAccepted"
            placeholder="Select Currency"
            [searchEnabled]="true"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Select Currency">
              </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="Tax Rule"
          [items]="VATRuleDropdownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [(value)]="newSupplier.VAT_RULE_ID"
          placeholder="Select Tax Rule"
          labelMode="floating"
          [searchEnabled]="true"
          (onValueChanged)="onTaxRuleChange()"
        >
          <dx-validator>
            <dxi-validation-rule type="required" message="Tax rule is required">
            </dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>
  </dxi-item>

  <!-- COLUMN 2 -->
  <dxi-item itemType="group">
    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Supplier Name *"
          [(value)]="newSupplier.SUPP_NAME"
          labelMode="floating"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Supplier name is required"
            >
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="Contact Name *"
          [(value)]="newSupplier.CONTACT_NAME"
          labelMode="floating"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Contact name is required"
            >
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="2">
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="City *"
            [(value)]="newSupplier.CITY"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="City is required">
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
      <dxi-item>
        <div *dxTemplate>
          <dx-text-box
            label="Zip Code *"
            [(value)]="newSupplier.ZIP"
            labelMode="floating"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Zip Code is required"
              >
              </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </dxi-item>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="Country *"
          [items]="CountryDropdownData"
          displayExpr="COUNTRY_NAME"
          valueExpr="ID"
          [(value)]="newSupplier.COUNTRY_ID"
          placeholder="Select Country"
          (onValueChanged)="onCountrySelectionChanged($event)"
          [searchEnabled]="true"
          labelMode="floating"
        >
          <dx-validator>
            <dxi-validation-rule type="required" message="Select country">
            </dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="{{ stateLabel }}"
          [items]="StateDropdownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [items]="State"
          [(value)]="newSupplier.STATE_ID"
          placeholder="Select State {{ stateLabel }} *"
          [searchEnabled]="true"
          labelMode="floating"
          (onValueChanged)="onStateValue($event)"
        >
          <dx-validator>
            <dxi-validation-rule type="required" message="Select state">
            </dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate style="display: flex">
        <dx-drop-down-box
          label="Code *"
          labelMode="floating"
          [(value)]="phoneCountryCode"
          (onValueChanged)="onPhoneCountrySelected($event)"
          valueExpr="data.dial_code"
          displayExpr="display"
          [(opened)]="isPhoneDropdownOpen"
          [dataSource]="countryCodes"
          [width]="120"
          [dropDownOptions]="{ width: 350 }"
        >
          <div *dxTemplate="let data of 'content'">
            <dx-list
              [dataSource]="countryCodes"
              selectionMode="single"
              [searchEnabled]="true"
              [searchExpr]="['data.name', 'data.dial_code']"
              [focusStateEnabled]="false"
              (onItemClick)="onPhoneCountrySelected($event)"
            >
              <div
                *dxTemplate="let item of 'item'"
                style="display: flex; align-items: center; gap: 8px"
              >
                <img
                  [src]="item.flagUrl"
                  width="20"
                  height="14"
                  style="border-radius: 2px"
                />
                <span style="min-width: 55px">
                  {{ item.data.dial_code }}
                </span>
                <span>
                  {{ item.data.name }}
                </span>
              </div>
            </dx-list>
          </div>
        </dx-drop-down-box>

        <dx-text-box
          #phoneBox
          label="Phone *"
          class="phone-style"
          [(value)]="PhoneNumber"
          labelMode="floating"
          [width]="'100%'"
          style="margin-left: 10px"
          hint="Phone"
          valueChangeEvent="input"
          (input)="validatePhone($event)"
          [maxLength]="17"
        >
          <dx-validator #phoneValidator>
            <dxi-validation-rule
              type="required"
              message="Phone number is required"
            ></dxi-validation-rule>
            <dxi-validation-rule
              type="custom"
              [validationCallback]="PhoneValidate"
              message="Invalid phone number"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-select-box
          label="Payment Terms *"
          [items]="PaymentTermsDropdownData"
          [items]="PaymentTerms"
          displayExpr="DESCRIPTION"
          [searchEnabled]="true"
          valueExpr="ID"
          [(value)]="newSupplier.PAY_TERM_ID"
          placeholder="Select Payment Terms"
          labelMode="floating"
          (onValueChanged)="onPayTermSelectionChanged($event)"
        >
          <dx-validator>
            <dxi-validation-rule type="required" message="Select payment terms">
            </dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-box
          label="VAT Registration Number *"
          [(value)]="newSupplier.VAT_REGNO"
          labelMode="floating"
          [disabled]="newSupplier.VAT_RULE_ID != 2"
        >
          <dx-validator>
            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateVAT"
              message="VAT Registration Number is required when Tax is applicable"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate>
        <dx-text-area
          label="Additional Info."
          [(value)]="newSupplier.NOTES"
          labelMode="floating"
        ></dx-text-area>
      </div>
    </dxi-item>

    <dxi-item>
      <div *dxTemplate style="margin-top: 4px">
        <dx-check-box
          [(value)]="newSupplier.IS_COMPANY_BRANCH"
          text="Company Branch"
          stylingMode="outlined"
          hint="Company Branch"
          labelMode="floating"
        ></dx-check-box>
      </div>
    </dxi-item>
  </dxi-item>

  <!-- COLUMN 3 -->
  <dxi-item itemType="group" [colCount]="1">
    <dxi-item [colCount]="1">
      <dx-data-grid
        #landedCostGrid
        [dataSource]="landedcost"
        [height]="'380'"
        [width]="'100%'"
        [showColumnLines]="false"
        [showRowLines]="true"
        [selection]="{
          mode: 'multiple',
          showCheckBoxesMode: 'always',
        }"
        [disabled]="isCurrencyAccepted"
        (onSelectionChanged)="onSelectionChanged($event)"
      >
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="false"
          [showInfo]="false"
        ></dxo-pager>

        <dxi-column
          dataField="DESCRIPTION"
          caption="Landed Cost"
          width="400"
        ></dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dxi-item>
</dx-form>
