<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText=" "
      [width]="'100%'"
      [height]="'80vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true
      }"
      class="grid theme-dependent"
      [dataSource]="miscReceipts"
      [showBorders]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'standard' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      (onEditingStart)="onEditOrViewMiscPayment($event)"
      (onRowRemoving)="onDeleteMiscPayment($event)"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
      <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      ></dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="'auto'"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <!-- <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel> -->
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="true"
        [formats]="['xlsx', 'pdf']"
      >
      </dxo-export>
      <dxo-header-filter
        [visible]="true"
        [search]="{ enabled: true }"
      ></dxo-header-filter>
      <!-- <dxo-filter-panel [visible]="true"></dxo-filter-panel> -->
      <dxo-filter-builder [allowHierarchicalFields]="true"></dxo-filter-builder>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Miscellaneous Receipts</div>
        </dxi-item>

        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>

        <dxi-item
          *ngIf="canAdd"
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto"> </dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        </dxi-item>
      </dxo-toolbar>

      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="180"
        >
          <!-- This controls the dropdown list rendering -->
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>
      <dxi-column dataField="VOUCHER_NO" caption="Voucher No"></dxi-column>

      <dxi-column dataField="PARTY_NAME" caption="Party Name"></dxi-column>

      <dxi-column dataField="BANK_NAME" caption="Bank"></dxi-column>
      <dxi-column
        dataField="TRANS_DATE"
        caption="Date"
        dataType="date"
        [allowEditing]="false"
        format="dd-MM-yyyy"
      ></dxi-column>
      <dxi-column dataField="NARRATION" caption="Narration"></dxi-column>
      <dxi-column
        caption="Status"
        dataField="TRANS_STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false
        }"
      >
      </dxi-column>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  [(visible)]="addMiscPopup"
  [width]="'75vw'"
  [height]="'100vh'"
  title="Miscellaneous Receipt"
  (onHiding)="handleClose()"
>
  <app-add-misc-receipt
    *ngIf="addMiscPopup"
    (popupClosed)="handleClose()"
  ></app-add-misc-receipt>
</dx-popup>

<dx-popup
  [(visible)]="editMiscPopup"
  [width]="'75vw'"
  [height]="'100vh'"
  title="Miscellaneous Receipt"
  (onHiding)="handleClose()"
>
  <app-add-misc-receipt
    *ngIf="editMiscPopup"
    [isEditing]="true"
    [EditingResponseData]="selectedmiscellaneousData"
    [isReadOnlyMode]="isReadOnlyPayment"
    (popupClosed)="handleClose()"
  ></app-add-misc-receipt>
</dx-popup>

<dx-popup
  [(visible)]="showCustomDatePopup"
  [showTitle]="true"
  title="Select Dates"
  [width]="350"
  [height]="170"
  [dragEnabled]="false"
>
  <div>
    <div class="date-range-container">
      <dx-date-box
        [(value)]="customStartDate"
        type="date"
        width="300"
        placeholder="From Date"
      >
      </dx-date-box>

      <dx-date-box
        [(value)]="customEndDate"
        type="date"
        placeholder="To Date"
        width="300"
      >
      </dx-date-box>
    </div>

    <div class="button-container">
      <dx-button
        text="Apply"
        type="default"
        (onClick)="applyCustomDateFilter()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
