.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
}

.dx-popup .dx-button {
  min-width: 100px;
  height: 40px;
}

.btn {
  min-width: 100px;
  height: 40px;
}
.manage-packing{
  border: 1px solid;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    // background-origin: rgb(224, 224, 224);
    box-shadow: inset;
   
}

.flag-red {
    color: red;
  }
  
  .flag-green {
    color:green;
  }
  
// .commonButtons .dx-button-content::before {
//   content: "";
//   display: inline-block;
//   margin-right: 6px;
// }
// .commonButtons .dx-button-content::before {
//   font-family: "bootstrap-icons";
//   content: "\f4c4"; /* Unicode for bi-file-earmark-plus */
// }
