<dx-form class="plain-styled-form no-padding-form">
  <dxi-item itemType="group">
    <dxo-col-count-by-screen
      [xs]="1"
      [sm]="1"
      [md]="3"
      [lg]="6"
    ></dxo-col-count-by-screen>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-text-box
          label="CPT Code"
          [(value)]="newCptMasterData.CPTCode"
          [height]="40"
          labelMode="floating"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="CPT Code is required"
            ></dxi-validation-rule>
            <dxi-validation-rule
              type="async"
              [validationCallback]="checkDuplicateCPTCode"
              message="CPT Code already exists"
            >
            </dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="4">
      <div *dxTemplate>
        <dx-text-box
          label="CPT Name"
          [height]="40"
          labelMode="floating"
          [(value)]="newCptMasterData.CPTName"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="CPT Name is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="6">
      <div *dxTemplate>
        <dx-text-box
          label="Description"
          [height]="40"
          labelMode="floating"
          [(value)]="newCptMasterData.Description"
        ></dx-text-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-select-box
          label="CPT Type"
          [height]="40"
          labelMode="floating"
          [(value)]="newCptMasterData.CPTTypeID"
          [items]="CptType_DropDownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="CPT Type is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-text-box
          label="CPT Group"
          [(value)]="newCptMasterData.CPTGroup"
          [height]="40"
          labelMode="floating"
        >
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-select-box
          label="Costing Department"
          [(value)]="newCptMasterData.CostDepartmentID"
          [height]="40"
          labelMode="floating"
          [items]="Costdepartment_DropDownData"
          displayExpr="DESCRIPTION"
          [searchEnabled]="true"
          valueExpr="ID"
          (onValueChanged)="onCostCenterChanged($event)"
          ><dx-validator>
            <dxi-validation-rule
              type="required"
              message="Costing Department is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-text-box
          label="Service Code"
          [(value)]="newCptMasterData.ServiceCode"
          [height]="40"
          labelMode="floating"
        >
        </dx-text-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-select-box
          label="Service Category"
          [(value)]="newCptMasterData.ServiceCategoryID"
          [height]="40"
          labelMode="floating"
          [items]="serviceCategory_DropDownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
        >
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item [colSpan]="2">
      <div *dxTemplate>
        <dx-select-box
          label="VAT Class"
          [(value)]="newCptMasterData.VATClassID"
          [height]="40"
          labelMode="floating"
          [items]="vatClass_DropDownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
        >
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
    <dxi-item itemType="empty" [colSpan]="3"></dxi-item>

    <dxi-item *ngIf="newCptMasterData.CostDepartmentID === 1" [colSpan]="6">
      <div *dxTemplate>
        <dx-radio-group
          [items]="[
            { id: 0, text: 'Common Department for all Encounter Types' },
            { id: 1, text: 'Separate Department for each Encounter Type' },
          ]"
          valueExpr="id"
          displayExpr="text"
          layout="vertical"
          [(value)]="departmentMode"
          (onValueChanged)="onRadioButtonChanged($event)"
        >
        </dx-radio-group>
      </div>
    </dxi-item>

    <dxi-item
      *ngIf="newCptMasterData.CostDepartmentID == 1 && departmentMode == 0"
      [colSpan]="3"
    >
      <div *dxTemplate>
        <dx-select-box
          label="Department"
          [height]="40"
          labelMode="floating"
          [(value)]="newCptMasterData.DepartmentID"
          [items]="department_DropDownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
          (onValueChanged)="onDepartmentChanged($event)"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Department is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item
      *ngIf="newCptMasterData.CostDepartmentID == 1 && departmentMode == 0"
      [colSpan]="3"
    >
      <div *dxTemplate>
        <dx-select-box
          label="Sub Department"
          [(value)]="newCptMasterData.CPTDepartmentID"
          [height]="40"
          labelMode="floating"
          [items]="Subdepartment_DropDownData"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [searchEnabled]="true"
        >
        </dx-select-box>
      </div>
    </dxi-item>

    <dxi-item
      *ngIf="
        newCptMasterData.CostDepartmentID == 1 &&
        departmentMode == 1 &&
        newCptMasterData.CPTEncounterDepartments?.length
      "
      [colSpan]="3"
    >
      <div *dxTemplate>
        <dx-data-grid
          #encounterGrid
          [dataSource]="newCptMasterData.CPTEncounterDepartments"
          height="175"
          [showBorders]="true"
        >
          <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>

          <dxi-column dataField="EncounterType"></dxi-column>

          <dxi-column dataField="DepartmentID" caption="Department">
            <dxo-lookup
              [dataSource]="department_DropDownData"
              valueExpr="ID"
              displayExpr="DESCRIPTION"
            >
            </dxo-lookup>

            <dxi-validation-rule
              type="custom"
              [validationCallback]="validateDepartment"
              message="Department is required"
            >
            </dxi-validation-rule>
          </dxi-column>
        </dx-data-grid>
      </div>
    </dxi-item>
  </dxi-item>
</dx-form>
