<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      class="grid theme-dependent"
      [showColumnLines]="true"
      [dataSource]="CategoryDataSource"
      [rowAlternationEnabled]="true"
      rowAlternationInterval="2"
      (onRowRemoving)="onRowRemoving($event)"
      [showBorders]="true"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      (onExporting)="onExporting($event)"
      (onEditingStart)="onEditStart($event)"
      [showColumnLines]="true"
      [scrolling]="{ mode: 'virtual' }"
      [height]="'82vh'"
    >
      <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>

      <dxo-export [enabled]="true" [formats]="['xlsx']"> </dxo-export>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>

      <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      >
        <dxo-popup
          title="Edit Category"
          [showTitle]="true"
          [width]="600"
          [height]="300"
        >
        </dxo-popup>
      </dxo-editing>

      <dxo-toolbar>
        <dxi-item location="before">
          <div
            class="grid-header"
            style="
              font-weight: 600;
              font-size: 20px;
              margin-left: 12px;
              padding: -3px;
              margin-right: 3px;
            "
          >
            Item Category
          </div>
        </dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <!-- Divider -->
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>
        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn"
        ></dxi-item>

        <!-- Add -->
        <dxi-item
          location="after"
          widget="dxButton"
          [visible]="canAdd"
          [options]="addButtonOptions"
        ></dxi-item>
      </dxo-toolbar>

      <dxi-column dataField="CODE" caption="Code">
        <dxi-validation-rule type="required" message="Code is required">
          <dxi-validation-rule type="required" message="Code is required">
          </dxi-validation-rule>
        </dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="CAT_NAME" caption="Category">
        <dxi-validation-rule type="required" message="Category is required">
          <dxi-validation-rule type="required" message="Category is required">
          </dxi-validation-rule>
        </dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="DEPT_NAME" caption="Department"></dxi-column>
      <dxi-column *ngIf="IsLedgerEnabled" dataField="HEAD_NAME" caption="Ledger"></dxi-column>
    </dx-data-grid>
  </div>
</div>

<!-- ========== save foem popup ========== -->
<form-popup
  [width]="500"
  height="'auto'"
  [(visible)]="isAddCategoryPopupOpened"
  (save)="onClickSaveCategory()"
  titleText="New Category"
  [showApprove]="false"
>
  <app-category-form (popupClosed)="handleClose()"></app-category-form>
</form-popup>

<!-- ========== Edit form popup ==========  -->
<dx-popup
  [(visible)]="editItemCategory"
  [height]="'auto'"
  [width]="'500px'"
  title="Edit Category"
  (onHiding)="handleClose()"
>
  <app-itemcategory-edit
    *ngIf="editItemCategory"
    [selectedData]="selected_data"
    (popupClosed)="handleClose()"
  ></app-itemcategory-edit>
</dx-popup>
