<div class="view-wrapper list-page">
  <div class="grid-container">
    <dx-data-grid
      #dataGrid
      noDataText=" "
      [width]="'100%'"
      [height]="'82vh'"
      [loadPanel]="{
        enabled: true,
        text: 'Loading...',
        showIndicator: true,
        showPane: true,
      }"
      class="grid theme-dependent"
      [dataSource]="filteredMiscReceipts"
      [showBorders]="true"
      [showColumnLines]="true"
      [columnAutoWidth]="false"
      [wordWrapEnabled]="false"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="true"
      [showColumnHeaders]="true"
      [columnAutoWidth]="true"
      [allowColumnResizing]="true"
      [columnResizingMode]="'nextColumn'"
      [headerFilter]="{ visible: false }"
      [scrolling]="{ mode: 'virtual' }"
      rowAlternationInterval="2"
      [selection]="{ mode: 'single' }"
      focusStateEnabled="false"
      (onEditingStart)="onEditOrViewMiscPayment($event)"
      (onRowRemoving)="onDeleteMiscPayment($event)"
      (onExporting)="onExporting($event)"
      (onCellPrepared)="onCellPrepared($event)"
    >
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
      <dxo-editing
        mode="popup"
        [allowUpdating]="canEdit"
        [allowDeleting]="canDelete"
      ></dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="standard"></dxo-scrolling>
      <dxo-filter-row
        [visible]="isFilterRowVisible"
        [applyFilter]="'auto'"
      ></dxo-filter-row>
      <dxo-header-filter [visible]="isFilterOpened">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
      <!-- <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel> -->
      <dxo-filter-builder [allowHierarchicalFields]="true">
      </dxo-filter-builder>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="false"
        [formats]="['xlsx']"
      >
      </dxo-export>

      <dxo-header-filter
        [visible]="true"
        [search]="{ enabled: true }"
      ></dxo-header-filter>
      <!-- <dxo-filter-panel [visible]="true"></dxo-filter-panel> -->
      <dxo-filter-builder [allowHierarchicalFields]="true"></dxo-filter-builder>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Miscellaneous Receipts</div>
        </dxi-item>

        <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="searchButtonOptions"
        ></dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="refreshButtonOptions"
        ></dxi-item>
        <dxi-item location="after">
          <div class="toolbar-divider"></div>
        </dxi-item>
        <dxi-item
          name="exportButton"
          location="after"
          cssClass="export-btn"
        ></dxi-item>

        <dxi-item
          *ngIf="canAdd"
          location="after"
          locateInMenu="auto"
          widget="dxButton"
          [options]="addButtonOptions"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto"> </dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <dxi-item location="after" template="dateFilterTemplate"></dxi-item>
        </dxi-item>
      </dxo-toolbar>

      <div *dxTemplate="let data of 'dateFilterTemplate'">
        <dx-select-box
          [dataSource]="dateRanges"
          [displayExpr]="displayExpr"
          valueExpr="value"
          [(value)]="selectedDateRange"
          (onValueChanged)="onDateRangeChanged($event)"
          (onOpened)="attachItemClickHandler($event)"
          width="220"
        >
          <!-- This controls the dropdown list rendering -->
          <div *dxTemplate="let item of 'item'">
            {{ item.value === "custom" ? "Custom" : item.label }}
          </div>
        </dx-select-box>
      </div>
      <dxi-column dataField="DOC_NO" caption="Receipt No"></dxi-column>

      <dxi-column dataField="PARTY_NAME" caption="Party Name"></dxi-column>

      <dxi-column dataField="BANK_NAME" caption="Bank"></dxi-column>
      <dxi-column
        dataField="TRANS_DATE"
        caption="Date"
        dataType="date"
        [allowEditing]="false"
        format="dd-MM-yyyy"
      ></dxi-column>
      <dxi-column dataField="NARRATION" caption="Narration"></dxi-column>
      <dxi-column
        caption="Status"
        dataField="TRANS_STATUS"
        [width]="80"
        [cellTemplate]="statusCellRender"
        [allowHeaderFiltering]="true"
        [headerFilter]="{
          dataSource: getStatusFilterData,
          encodeHtml: false,
        }"
      >
      </dxi-column>

      <dxi-column
        type="buttons"
        caption="Actions"
        [width]="140"
        cellTemplate="actionTemplate"
      >
      </dxi-column>

      <div *dxTemplate="let cellData of 'actionTemplate'">
        <!-- Edit -->
        <i
          *ngIf="canEdit"
          class="dx-icon dx-icon-edit"
          [style.opacity]="
            cellData.data.TRANS_STATUS === 'Verify' ||
            cellData.data.TRANS_STATUS === 'Approve'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.TRANS_STATUS === 'Verify' ||
            cellData.data.TRANS_STATUS === 'Approve'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Edit"
          (click)="
            onEditOrViewMiscPayment({ data: cellData.data, cancel: false })
          "
        ></i>

        <!-- Delete -->
        <i
          *ngIf="canDelete"
          class="dx-icon dx-icon-trash"
          [style.opacity]="
            cellData.data.TRANS_STATUS === 'Verify' ||
            cellData.data.TRANS_STATUS === 'Approve'
              ? '0.4'
              : '1'
          "
          [style.pointer-events]="
            cellData.data.TRANS_STATUS === 'Verify' ||
            cellData.data.TRANS_STATUS === 'Approve'
              ? 'none'
              : 'auto'
          "
          style="cursor: pointer; margin-right: 10px"
          title="Delete"
          (click)="onDeleteMiscPayment({ data: cellData.data, cancel: false })"
        ></i>

        <!-- Verify -->
        <span
          *ngIf="
            (cellData.data.TRANS_STATUS === 'Verify' && canApprove) ||
            (cellData.data.TRANS_STATUS !== 'Verify' && canVerify) ||
            cellData.data.TRANS_STATUS === 'Approve'
          "
          style="
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-left: 10px;
            cursor: pointer;
            vertical-align: middle;
          "
          [title]="
            cellData.data.TRANS_STATUS === 'Approve'
              ? 'Approved'
              : cellData.data.TRANS_STATUS === 'Verify'
                ? 'Approve'
                : 'Verify'
          "
          (click)="onVerifyClick({ row: { data: cellData.data } })"
        >
          <!-- Blue badge -->
          <i
            class="fas fa-certificate"
            [style.color]="
              cellData.data.TRANS_STATUS === 'Approve'
                ? '#10B981'
                : cellData.data.TRANS_STATUS === 'Verify'
                  ? '#0073D8'
                  : '#FFA500'
            "
            style="font-size: 18px; position: absolute; top: 0; left: 0"
          ></i>

          <!-- White tick -->
          <i
            class="fas fa-check"
            style="
              color: white;
              font-size: 7px;
              position: absolute;
              top: 5px;
              left: 5px;
              pointer-events: none;
            "
          ></i>
        </span>
      </div>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  [(visible)]="addMiscPopup"
  [width]="'75vw'"
  [height]="'100vh'"
  title="New Miscellaneous Receipt"
  (onHiding)="handleClose()"
>
  <app-add-misc-receipt
    *ngIf="addMiscPopup"
    [canApprove]="canApprove"
    (popupClosed)="handleClose()"
  ></app-add-misc-receipt>
</dx-popup>

<dx-popup
  [(visible)]="verifypopup"
  [width]="'75vw'"
  [height]="'100vh'"
  [title]="PopupTitle"
  (onHiding)="handleClose()"
  class="custom-popup"
>
  <app-add-misc-receipt
    *ngIf="verifypopup"
    [status]="statusFinder"
    [isEditing]="true"
    [verifypopup]="true"
    [canApprove]="canApprove"
    [EditingResponseData]="selectedmiscellaneousData"
    [isReadOnlyMode]="isReadOnlyPayment"
    (popupClosed)="handleClose()"
    [MiscReceiptId]="selectedMiscReceipt"
  ></app-add-misc-receipt>
</dx-popup>

<dx-popup
  [(visible)]="editMiscPopup"
  [width]="'75vw'"
  [height]="'100vh'"
  title=" Edit Miscellaneous Receipt"
  (onHiding)="handleClose()"
>
  <app-add-misc-receipt
    *ngIf="editMiscPopup"
    [isEditing]="true"
    [verifypopup]="false"
    [canApprove]="canApprove"
    [EditingResponseData]="selectedmiscellaneousData"
    [isReadOnlyMode]="isReadOnlyPayment"
    (popupClosed)="handleClose()"
    [MiscReceiptId]="selectedMiscReceipt"
  ></app-add-misc-receipt>
</dx-popup>

<app-custom-date-popup
  [(visible)]="showCustomDatePopup"
  [startDate]="customStartDate"
  [endDate]="customEndDate"
  (applyDates)="onCustomDateApplied($event)"
>
</app-custom-date-popup>

<!-- <dx-popup
  [(visible)]="showCustomDatePopup"
  [showTitle]="true"
  title="Select Dates"
  [width]="350"
  [height]="170"
  [dragEnabled]="false"
>
  <div>
    <div class="date-range-container">
      <dx-date-box
        [(value)]="customStartDate"
        type="date"
        displayFormat="dd-MM-yyyy"
        width="300"
        placeholder="From Date"
      >
      </dx-date-box>

      <dx-date-box
        [(value)]="customEndDate"
        type="date"
        placeholder="To Date"
        displayFormat="dd-MM-yyyy"
        width="300"
      >
      </dx-date-box>
    </div>

    <div class="button-container">
      <dx-button
        text="Apply"
        type="default"
        (onClick)="applyCustomDateFilter()"
      ></dx-button>
    </div>
  </div>
</dx-popup> -->
