// @use "../../../../../variables.scss" as *;
@use "../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 76px;

  width: 100%;
  display: contents;
  overflow: auto;
}

.view-wrapper {
  .grid {
    .name-template {
      .position {
        font-size: 12px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}

.date-range-container {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.flag-open {
  color: white; /* or rgb(245, 240, 240) */
  text-shadow: 0 0 1px black, 0 0 2px black;
}

.flag-pending {
  color: black;
}

.flag-verified {
  color: orange;
}

.flag-approved {
  color: green;
}
