<div class="tabs-demo view-wrapper">
  <div class="widget-container">
    <dx-validation-group #validationGroup>
      <!-- User Details Form in Two Columns -->
      <div
        class="user-details"
        style="display: flex; flex-wrap: wrap; gap: 20px; padding-top: 10px"
      >
        <div class="form-column" style="flex: 2">
          <dx-text-box
            [(value)]="newUserData.USER_NAME"
            label="User Name *"
            hint="User Name"
            labelMode="floating"
            (input)="onUserNameInput($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="User Name is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>

          <div style="position: relative; display: flex">
            <dx-text-box
              [(value)]="newUserData.PASSWORD"
              labelMode="floating"
              label="Password *"
              class="form-control"
              label="Password"
              hint="Password"
              [inputAttr]="{ autocomplete: 'new-password' }"
              [mode]="passwordMode"
              [buttons]="[
                {
                  name: 'togglePassword',
                  location: 'after',
                  options: {
                    icon:
                      passwordMode === 'password'
                        ? 'fas fa-eye-slash'
                        : 'fas fa-eye',
                    stylingMode: 'text',
                    onClick: togglePasswordVisibility,
                  },
                },
              ]"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Password is required"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>

          <div style="display: flex">
            <dx-drop-down-box
              label="Code *"
              labelMode="floating"
              [(value)]="countryCode"
              (onValueChanged)="onCountrySelected($event)"
              valueExpr="data.dial_code"
              displayExpr="display"
              [(opened)]="isCountryDropdownOpen"
              [dataSource]="countryCodes"
              [width]="120"
              [dropDownOptions]="{ width: 350 }"
            >
              <div *dxTemplate="let data of 'content'">
                <dx-list
                  [dataSource]="countryCodes"
                  selectionMode="single"
                  [searchEnabled]="true"
                  [searchExpr]="['data.name', 'data.dial_code']"
                  [focusStateEnabled]="false"
                  (onItemClick)="onCountrySelected($event)"
                >
                  <div
                    *dxTemplate="let item of 'item'"
                    style="display: flex; align-items: center; gap: 8px"
                  >
                    <img
                      [src]="item.flagUrl"
                      width="20"
                      height="14"
                      style="border-radius: 2px"
                    />
                    <span style="min-width: 55px">
                      {{ item.data.dial_code }}
                    </span>
                    <span>
                      {{ item.data.name }}
                    </span>
                  </div>
                </dx-list>
              </div>
            </dx-drop-down-box>

            <dx-text-box
              #mobileBox
              label=" Mobile No. *"
              [(value)]="newUserData.MOBILE"
              labelMode="floating"
              [width]="'100%'"
              style="margin-left: 10px"
              hint="Mobile No"
              valueChangeEvent="input"
              (input)="onMobileInputChange($event)"
              [maxLength]="17"
            >
              <dx-validator #mobileValidator>
                <dxi-validation-rule
                  type="required"
                  message="Mobile No is required"
                ></dxi-validation-rule>
                <dxi-validation-rule
                  type="custom"
                  [validationCallback]="MobileValidate"
                  message="Invalid mobile number"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>

          <div style="display: flex">
            <dx-drop-down-box
              label="Code *"
              labelMode="floating"
              [(value)]="whatsappCountryCode"
              (onValueChanged)="onWhatsappCountrySelected($event)"
              valueExpr="data.dial_code"
              displayExpr="display"
              [(opened)]="isWhatsappDropdownOpen"
              [dataSource]="countryCodes"
              [width]="120"
              [dropDownOptions]="{ width: 350 }"
            >
              <div *dxTemplate="let data of 'content'">
                <dx-list
                  [dataSource]="countryCodes"
                  selectionMode="single"
                  [searchEnabled]="true"
                  [searchExpr]="['data.name', 'data.dial_code']"
                  [focusStateEnabled]="false"
                  (onItemClick)="onWhatsappCountrySelected($event)"
                >
                  <div
                    *dxTemplate="let item of 'item'"
                    style="display: flex; align-items: center; gap: 8px"
                  >
                    <img
                      [src]="item.flagUrl"
                      width="20"
                      height="14"
                      style="border-radius: 2px"
                    />
                    <span style="min-width: 55px">
                      {{ item.data.dial_code }}
                    </span>
                    <span>
                      {{ item.data.name }}
                    </span>
                  </div>
                </dx-list>
              </div>
            </dx-drop-down-box>

            <dx-text-box
              #whatsappBox
              label="Whatsapp No *"
              labelMode="floating"
              [(value)]="newUserData.WHATSAPP_NO"
              (input)="validateWhatsapp($event)"
              hint="Whatsapp No"
              (onFocusIn)="autoBindWhatsapp()"
              style="margin-left: 10px"
              [width]="'100%'"
              [maxLength]="17"
            >
              <dx-validator #whatsappValidator>
                <dxi-validation-rule
                  type="required"
                  message="Whatsapp no. is required"
                ></dxi-validation-rule>
                <dxi-validation-rule
                  type="custom"
                  [validationCallback]="WhatsappValidate"
                  message="Invalid Whatsapp number"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>

          <div style="display: flex; align-items: center; gap: 15px">
            <dx-check-box
              text="Is Locked"
              stylingMode="outlined"
              hint="Is Locked"
              [(value)]="newUserData.IS_LOCKED"
              labelMode="floating"
            >
            </dx-check-box>
          </div>

          <div
            *ngIf="newUserData.IS_LOCKED"
            style="display: flex; gap: 15px; margin-top: 15px"
          >
            <dx-date-box
              label="Date From"
              labelMode="floating"
              width="100%"
              displayFormat="dd/MM/yyyy"
              [(value)]="newUserData.LOCK_DATE_FROM"
            >
            </dx-date-box>

            <dx-date-box
              label="Date To"
              labelMode="floating"
              width="100%"
              displayFormat="dd/MM/yyyy"
              [(value)]="newUserData.LOCK_DATE_TO"
            >
            </dx-date-box>
          </div>
        </div>

        <div class="form-column" style="flex: 2">
          <dx-text-box
            label="Login Name *"
            labelMode="floating"
            [(value)]="newUserData.LOGIN_NAME"
            hint="Login Name"
            (input)="onLoginNameInput($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Login Name is required"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="custom"
                message="Login Name already exists"
                [validationCallback]="checkLoginNameExists"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                min="5"
                message="Login Name must be at least 5 characters long"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                max="20"
                message="Login Name cannot exceed 20 characters"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>

          <dx-select-box
            label="User Role *"
            labelMode="floating"
            [(value)]="newUserData.USER_ROLE"
            [items]="userRole"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
            placeholder="Select User Role"
            hint="User Role"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="User Role is required"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-select-box>

          <dx-text-box
            label="Email *"
            [(value)]="newUserData.EMAIL"
            hint="Email"
            labelMode="floating"
            (input)="onEmailInput($event)"
          >
            <dx-validator>
              <dxi-validation-rule
                type="required"
                message="Email is required"
              ></dxi-validation-rule>
              <dxi-validation-rule
                type="email"
                message="Invalid Email address"
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>

          <div
            style="
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              margin-top: 10px;
            "
          >
            <dx-check-box
              [(value)]="newUserData.IS_INACTIVE"
              text="Inactive"
              stylingMode="outlined"
              hint="Inactive"
              labelMode="floating"
            ></dx-check-box>
          </div>

          <div *ngIf="newUserData.IS_LOCKED" style="margin-top: 15px">
            <dx-text-box
              label="Locked Reason"
              hint="Locked Reason"
              labelMode="floating"
              [(value)]="newUserData.LOCK_REASON"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Reason is required"
                >
                </dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>
    </dx-validation-group>
  </div>

  <dx-data-grid
    [dataSource]="CompanyList_data"
    [showBorders]="true"
    [selection]="{ mode: 'multiple' }"
    height="300"
    keyExpr="ID"
    class="mt-3"
    [(selectedRowKeys)]="selectedRows"
    (onSelectionChanged)="onSelectionChanged($event)"
    width="100%"
  >
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxi-column
      [width]="'200'"
      dataField="COMPANY_CODE"
      caption="Company Code "
    >
      <dxo-header-filter [allowSelectAll]="false">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
    </dxi-column>
    <dxi-column
      [width]="'auto'"
      dataField="COMPANY_NAME"
      caption="Company Name"
    >
      <dxo-header-filter [allowSelectAll]="false">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
    </dxi-column>
  </dx-data-grid>
  <!-- Display selected row count -->
  <div>
    <!-- <div style="margin-top: 10px">
            Selected Rows: {{ selectedRowCount }}
          </div> -->
    <!-- <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 10px;">
            <dx-button
            type="default"
            text="Update"
            (onClick)="Update_data()"
            
            >
            </dx-button>
            <dx-button
            type="default"
            text="Cancel"
      (click)="Closepop()"
      [elementAttr]="{ class: 'transparent-cancel-button' }"
    >
    </dx-button>
          </div>
  -->

    <div
      style="
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 10px;
      "
    >
      <dx-button
        type="normal"
        text="Cancel"
        (onClick)="Closepop()"
        stylingMode="outlined"
      >
      </dx-button>

      <dx-button
        type="default"
        text="Save"
        (onClick)="Update_data()"
        stylingMode="contained"
      >
      </dx-button>
    </div>
  </div>
</div>
