
<div class="form-container">
  <!-- Row 1 -->
  <div class="form-row d-flex justify-content-between">
    <dx-text-box label="Return No." width="300" labelMode="floating"  [readOnly]="true" [(value)]="DeliveryReturnFormData.DR_NO"></dx-text-box>
    <dx-date-box label="Date" width="300"  labelMode="floating" displayFormat="dd/MM/yyyy" [readOnly]="readOnlyMode"  [(value)]="DeliveryReturnFormData.DR_DATE"></dx-date-box>
  </div>

  <div class="d-flex justify-content-between">
    <dx-select-box label="Customer"
     [dataSource]="customer"
     valueExpr="ID"
    displayExpr="DESCRIPTION" 
    labelMode="floating"
    width="300"
    [readOnly]="readOnlyMode"
     [(value)]="DeliveryReturnFormData.CUST_ID"
     (onValueChanged)="onCustomerChange($event)">
    </dx-select-box>
    <dx-text-box label="Reference No." width="300" [readOnly]="readOnlyMode" labelMode="floating" [(value)]="DeliveryReturnFormData.REF_NO"></dx-text-box>
  </div>

  <div class="d-flex justify-content-between">
    <dx-select-box label="Salesman"
     [dataSource]="salesman"
     displayExpr="DESCRIPTION"
   valueExpr="ID" 
   labelMode="floating"
   width="300"
   (onValueChanged)="onSalesmanChange($event)"
    [(value)]="DeliveryReturnFormData.SALESMAN_ID"
    [readOnly]="readOnlyMode">
  </dx-select-box>
   <dx-button
      text="Pending DN"
      icon="plus"
      type="default"
      stylingMode="contained"
      class="add-item-button mt-4"
       (onClick)="togglePendingDN()"
    ></dx-button>
  </div>

  <dx-data-grid
class="grid theme-dependent"
[showBorders]="true"
[dataSource]="DNDatasource"
[rowAlternationEnabled]="true"
[showColumnLines]="true"
rowAlternationInterval="2"
[allowColumnReordering]="true"
[allowColumnResizing]="true"
style="margin-top: 24px;"
noDataText=" "
height="300px"
(onEditorPreparing)="onEditorPreparing($event)"
 (onCellValueChanged)="onCellValueChanged($event)"
>

<dxo-editing
    mode="cell"       
    [allowUpdating]="true"> 
  </dxo-editing>

  <dxo-summary>
            <dxi-total-item
              column="QUANTITY"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="Total: {0}"
              alignment="right"
            >
            </dxi-total-item>
          </dxo-summary>

  <!-- This field ID optional .Used for displaying data temp -->
  <dxi-column dataField="MATRIX_CODE" [visible]="ENABLE_Matrix_Code" caption="Matrix Code" [allowEditing]="false"></dxi-column>

  <dxi-column dataField="ITEM_CODE" caption="Item Code" [allowEditing]="false"></dxi-column>

  <dxi-column dataField="DESCRIPTION" caption="Description" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="COLOR" caption="Color" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="SIZE" caption="Size" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="STYLE" caption="Style" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="UOM" caption="UOM"[allowEditing]="false"></dxi-column>
  <dxi-column dataField="DELIVERED_QUANTITY" caption="Qty in DN" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="QTY_AVAILABLE" caption="Qty Available" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="QUANTITY" caption="Qty Returned" [allowEditing]="!readOnlyMode"></dxi-column>
  
</dx-data-grid> 
  </div>

  <div class="d-flex justify-content-before mt-3 mb-3">
   <dx-check-box
              text="Approve"
              [(value)]="approveValue"
              (onValueChanged)="onApprovedChanged($event)"
              [readOnly]="readOnlyMode"
            >
            </dx-check-box>
            </div>

  <div class="d-flex justify-content-end mt-3 mb-3 gap-2">
     <dx-button
      text="Cancel"
          (onClick)="cancel()"
          stylingMode="outlined"
          type="normal"
    ></dx-button>
  <dx-button
      text="Save"
      type="default"
       stylingMode="contained"
       (onClick)="editDeliveryreturn()"
    ></dx-button>
  </div>
