<dx-popup
  [title]="titleText"
  [(visible)]="visible"
  [fullScreen]="!!(screen.xSmallScreenChanged | async)"
  [width]="width"
  [wrapperAttr]="getWrapperAttrs | apply : wrapperAttr"
  (onHidden)="close()"
  [height]="height"
  [shading]="false"
>
  <dxi-toolbar-item toolbar="bottom" location="center">
    <div
      class="form-popup-buttons-container"
      [class.flex-buttons]="width <= 360"
    >
      <div style="display: flex; align-items: center">
        <!-- <div
          style="display: flex; align-items: center"
          *ngIf="showNetAmount && isEditMode"
        > -->
        <div style="display: flex; align-items: center">
          <label style="margin-right: 8px">Approve</label>
          <dx-check-box
            [value]="isApproved"
            (onValueChanged)="isApprovedChange.emit($event.value)"
          >
          </dx-check-box>
        </div>
      </div>
      <dx-button
        text="Cancel"
        stylingMode="outlined"
        type="normal"
        (onClick)="close()"
      ></dx-button>
      <dx-button
        text="Save"
        stylingMode="contained"
        type="default"
        [disabled]="isSaveDisabled"
        (onClick)="onSaveClick()"
      ></dx-button>
    </div>
  </dxi-toolbar-item>
  <dx-validation-group #validationGroup>
    <ng-content></ng-content>
  </dx-validation-group>
</dx-popup>
