::ng-deep .form-popup {
  /* Toolbar center takes full width */
  .dx-toolbar-center {
    width: 100%;
  }

  /* Buttons container */
  .form-popup-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;

    /* Disabled save */
    .dx-button.dx-state-disabled {
      opacity: 0.6;
    }
  }
}

.cancel-btn {
  background-color: red;
}
