<dx-validation-group #journalVoucherGroup>
  <div
    class="invoice-wrapper"
    style="
      height: 70vh;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
    "
  >
    <div class="salary-grid-wrapper" style="padding: 0 10px">
      <div class="grid-container">
        <dx-data-grid
          #itemsGridRef
          [dataSource]="items"
          [showBorders]="true"
          [showRowLines]="true"
          [showColumnLines]="true"
          [columnAutoWidth]="false"
          [wordWrapEnabled]="false"
          [rowAlternationEnabled]="true"
          [headerFilter]="{ visible: true, allowSearch: true }"
          [allowColumnReordering]="true"
          [showColumnHeaders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [height]="'60vh'"
          [columnResizingMode]="'nextColumn'"
          [scrolling]="{ mode: 'virtual' }"
          rowAlternationInterval="2"
          [selection]="{ mode: 'single' }"
          [keyboardNavigation]="{ editOnKeyPress: true }"
          [editing]="{
            mode: 'cell',
            allowUpdating: false,
            allowDeleting: false,
            allowAdding: false,
            useIcons: false
          }"
          (onEditorPreparing)="onEditorPreparing($event)"
          (onRowRemoved)="onRowRemoved($event)"
        >
          <dxo-load-panel [showPane]="false"></dxo-load-panel>
          <dxo-filter-builder [allowHierarchicalFields]="true">
          </dxo-filter-builder>
          <dxo-toolbar>
            <div
              class="stacked-toolbar-group"
              style="display: flex; flex-direction: column; gap: 2px"
            ></div>
            <dxi-item location="before" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 0px"
              >
                <div
                  style="
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    margin-top: 6px;
                    width: 100%;
                  "
                >
                  <dx-text-box
                    label="Doc No"
                    labelMode="floating"
                    [(value)]="productionFormData.VOUCHER_NO"
                    [width]="200"
                    [readOnly]="true"
                  ></dx-text-box>

                  <dx-text-box
                    label="Reference No"
                    labelMode="floating"
                    [(value)]="productionFormData.REF_NO"
                    [width]="200"
                    [readOnly]="true"
                  ></dx-text-box>

                  <!-- Date box pushed to right end -->
                </div>

                <div style="display: flex; align-items: baseline; gap: 2px">
                  <dx-text-box
                    label="Product"
                    labelMode="floating"
                    [(value)]="productionFormData.DESCRIPTION"
                    [width]="406"
                    [readOnly]="true"
                  ></dx-text-box>
                </div>
              </div>
            </dxi-item>

            <dxi-item location="after" locateInMenu="auto">
              <div
                class="stacked-toolbar-group"
                style="display: flex; flex-direction: column; gap: 6px"
              >
                <!-- Date Field (Top) -->
                <dx-date-box
                  label="Production Date"
                  labelMode="floating"
                  [(value)]="productionFormData.PROD_DATE"
                  [width]="300"
                  type="date"
                  displayFormat="dd-MM-yyyy"
                  [readOnly]="true"
                ></dx-date-box>

                <!-- Qty + Button Row -->
                <div style="display: flex; align-items: flex-end; gap: 8px">
                  <dx-number-box
                    label="Production Qty"
                    labelMode="floating"
                    [(value)]="productionFormData.PRODUCED_QTY"
                    [width]="300"
                    [readOnly]="true"
                  ></dx-number-box>

                  <!-- <dx-button
                    text="Fill Component"
                    stylingMode="contained"
                    type="default"
                    [width]="150"
                    style="height: 32px"
                  ></dx-button> -->
                </div>
              </div>
            </dxi-item>
          </dxo-toolbar>
          <dxi-column
            dataField="ITEM_CODE"
            caption="Item Code"
            [width]="130"
          ></dxi-column>

          <dxi-column
            dataField="DESCRIPTION"
            caption="Item Description"
            [width]="200"
          ></dxi-column>

          <dxi-column dataField="UOM" caption="UOM" [width]="80"></dxi-column>

          <dxi-column
            dataField="BOM_QTY"
            caption="BoM Qty"
            dataType="number"
          ></dxi-column>

          <dxi-column
            dataField="REQUIRED_QTY"
            caption="Qty Required"
            dataType="number"
          ></dxi-column>

          <dxi-column
            dataField="USED_QTY"
            caption="Qty Used"
            dataType="number"
          ></dxi-column>

          <dxi-column
            dataField="UNIT_COST"
            caption="Cost"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
          ></dxi-column>

          <dxi-column
            dataField="TOTAL_COST"
            caption="Amount"
            dataType="number"
            [format]="{ type: 'fixedPoint', precision: 2 }"
          ></dxi-column>

          <dxo-summary>
            <dxi-total-item
              column="TOTAL_COST"
              summaryType="sum"
              valueFormat="#,##0.00"
              displayFormat="Total: {0}"
              alignment="right"
            ></dxi-total-item>
          </dxo-summary>
        </dx-data-grid>

        <!-- Fill Amount Button below grid -->
        <div
          style="display: flex; justify-content: flex-end; margin-top: 5px"
        ></div>
        <div
          class="bordered-grid"
          style="
            margin-top: 10px;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
          "
        >
          <div style="display: flex; gap: 10px; align-items: center">
            <!-- Remark -->
            <dx-text-box
              label="Additional Cost"
              labelMode="floating"
              [(value)]="productionFormData.ADDL_COST"
              style="flex: 2"
              [readOnly]="true"
            ></dx-text-box>

            <!-- Unit Product Cost -->
            <dx-number-box
              label="Cost of production"
              labelMode="floating"
              [(value)]="productionFormData.COST_PRODUCTION"
              style="flex: 1"
              [format]="{ type: 'fixedPoint', precision: 2 }"
              [readOnly]="true"
            ></dx-number-box>
          </div>

          <div style="display: flex; gap: 10px; align-items: center">
            <!-- Remark -->
            <dx-text-box
              label="Remark"
              labelMode="floating"
              [(value)]="productionFormData.ADDL_DESCRIPTION"
              style="flex: 2"
              [readOnly]="true"
            ></dx-text-box>

            <!-- Unit Product Cost -->
            <dx-number-box
              label="Unit Product Cost"
              labelMode="floating"
              [(value)]="productionFormData.UNIT_COST"
              style="flex: 1"
              [format]="{ type: 'fixedPoint', precision: 2 }"
              [readOnly]="true"
            ></dx-number-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</dx-validation-group>

<div class="form-popup-buttons-container">
  <div class="popup-footer">
    <dx-button
      text="Cancel"
      stylingMode="outlined"
      (onClick)="Cancel()"
      type="normal"
    ></dx-button>
  </div>
</div>

<!-- <dx-popup
  [(visible)]="isPdfPopupVisible"
  [width]="900"
  [height]="700"
  [showTitle]="true"
  title="Misc Receipt PDF Preview"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
>
  <div class="pdf-container" style="margin-top: 10px">
    <iframe
      *ngIf="pdfSrc"
      [src]="pdfSrc"
      width="100%"
      height="600"
      style="border: 1px solid #ccc; border-radius: 4px"
    ></iframe>
  </div>
</dx-popup> -->
