.custom-button{
    margin-left: 5px;
    color: rgb(255, 255, 255);
    width:80px;
    height: 35px;
  }
  .dropdownClass{
    width: 200px;
    height: 40px;
  }

  dx-button{
    background-color: #00a2ed;
  }
  dx-button:hover{
    background-color: rgb(61, 61, 238);
  }
  