<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    [dataSource]="dataSource"
    [showBorders]="true"
    [showColumnLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="false"
    [wordWrapEnabled]="false"
    [rowAlternationEnabled]="true"
    [allowColumnReordering]="true"
    [showColumnHeaders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [columnResizingMode]="'nextColumn'"
    [filterRow]="{ visible: false }"
    [headerFilter]="{ visible: false }"
    [scrolling]="{ mode: 'virtual' }"
    rowAlternationInterval="2"
    [selection]="{ mode: 'single' }"
    focusStateEnabled="false"
    [width]="'100%'"
    [height]="'75vh'"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onEditingStart)="onEditingRow($event)"
    (onRowRemoved)="deletePOData($event)"
  >
    <dxo-editing
      mode="popup"
      [allowUpdating]="canEdit"
      [allowDeleting]="canDelete"
    ></dxo-editing>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-filter-row
      [visible]="isFilterRowVisible"
      [applyFilter]="auto"
    ></dxo-filter-row>
    <dxo-header-filter [visible]="isFilterOpened">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxo-filter-panel [visible]="isFilterOpened"></dxo-filter-panel>
    <dxo-filter-builder [allowHierarchicalFields]="true"> </dxo-filter-builder>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Purchase Order</div>
      </dxi-item>

      <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="refreshButtonOptions"
      ></dxi-item>
      <dxi-item
        *ngIf="canAdd"
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [options]="addButtonOptions"
      ></dxi-item>

      <dxi-item location="after" locateInMenu="auto"> </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="PO_NO" width="100" caption="PO NO."></dxi-column>
    <dxi-column
      dataField="PO_DATE"
      width="auto"
      caption="Date"
      dataType="date"
      [allowEditing]="false"
      format="dd-MM-yyyy"
    ></dxi-column>
    <dxi-column
      dataField="SUPP_NAME"
      width="auto"
      caption="Supplier"
    ></dxi-column>
    <dxi-column
      dataField="GROSS_AMOUNT"
      width="auto"
      caption="Net Amount"
    ></dxi-column>
    <dxi-column
      dataField="STORE"
      width="350"
      caption="Receiving Store"
    ></dxi-column>
    <dxi-column
      caption="Status"
      dataField="STATUS"
      [width]="80"
      [cellTemplate]="statusCellRender"
      [allowHeaderFiltering]="true"
      [headerFilter]="{
        dataSource: getStatusFilterData,
        encodeHtml: false
      }"
      [fixed]="true"
      fixedPosition="right"
    >
    </dxi-column>
    <dxi-column type="buttons" width="100" [buttons]="allButtonsEditDelete">
    </dxi-column>
    <!-- <dxi-column type="buttons" width="100" [buttons]="customButtons">
    </dxi-column> -->
  </dx-data-grid>

  <form-popup
    [(visible)]="isAddPopupOpened"
    [width]="width"
    [height]="height"
    titleText="New Purchase Order"
    [showNetAmount]="true"
    [netSupplierAmount]="netSupplierAmount"
    [showSupplierNetAmount]="netSupplierAmount ? true : false"
    [netAmount]="netAmount"
    [netQuantity]="netQuantity"
    [isEditMode]="false"
    
    (save)="onClickSaveNewData()"
    (cancel)="onCancelNewData()"
    (resetFormEvent)="poNewForm.resetForm()"
  >
    <app-purchase-order-new-form
      #poForm
      [refreshPoNumber]="refreshPo"
      (netSupplierAmountChange)="netSupplierAmount = $event"
      (netAmountChange)="netAmount = $event"
      (netQuantityChange)="netQuantity = $event"
    ></app-purchase-order-new-form>
  </form-popup>

  <form-popup
    *ngIf="isEditPopupOpened"
    [(visible)]="isEditPopupOpened"
    [width]="width"
    [height]="height"
    titleText="Edit Purchase Order"
    [showNetAmount]="true"
    [isEditMode]="true"
    [(isApproved)]="isApproved"
    (save)="UpdatePurchaseOrder()"
  >
    <app-purchase-order-edit-form
      [formdata]="selectedRowData"
      (closeForm)="CloseEditForm()"
      (netEditSupplierAmountChange)="netEditSupplierAmount = $event"
      (netEditAmountChange)="netEditAmount = $event"
      (netEditQuantityChange)="netEditQuantity = $event"
      (showSupplierAmount)="showSupplierAmount = $event"
    ></app-purchase-order-edit-form>
  </form-popup>

  <!-- <dx-popup
    [(visible)]="isEditPopupOpened"
    title="Edit Purchase Order"
    [height]="'100vh'"
    [width]="width"
    (save)="UpdatePurchaseOrder()"
  >
    <app-purchase-order-edit-form
      [formdata]="selectedRowData"
      (closeForm)="CloseEditForm()"
      (netEditSupplierAmountChange)="netEditSupplierAmount = $event"
      (netEditAmountChange)="netEditAmount = $event"
      (netEditQuantityChange)="netEditQuantity = $event"
      (showSupplierAmount)="showSupplierAmount = $event"
    ></app-purchase-order-edit-form>
    <dxi-toolbar-item toolbar="bottom" location="center">
      <div
        class="form-popup-buttons-container"
        [class.flex-buttons]="width <= 360"
      >
        <div style="display: flex; align-items: center">
          <label style="margin-right: 8px">Quantity</label>
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netEditQuantity"
            placeholder="0"
            [rtlEnabled]="true"
          ></dx-text-box>
          <label style="margin-right: 8px; margin-left: 8px">Net Amount</label>
          <dx-text-box
            *ngIf="showSupplierAmount"
            [width]="150"
            [readOnly]="true"
            [(value)]="netEditSupplierAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box
          >&nbsp;
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netEditAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box>
        </div>
        <dx-button
          text="Print"
          stylingMode="outlined"
          type="normal"
          icon="print"
        ></dx-button>
        <dx-button
          text="Cancel"
          stylingMode="outlined"
          type="normal"
        ></dx-button>
        <dx-button
          text="Save"
          stylingMode="contained"
          type="default"
        ></dx-button>
      </div>
    </dxi-toolbar-item>
  </dx-popup> -->

  <dx-popup
    [(visible)]="isVerifyPopupOpened"
    title="Verify Purchase Order"
    [height]="'100vh'"
    [width]="width"
  >
    <!-- <app-purchase-order-verify-form
      [formdata]="selectedRowData"
      (closeForm)="CloseEditForm()"
      (netVerifySupplierAmountChange)="netVerifySupplierAmount = $event"
      (netVerifyAmountChange)="netVerifyAmount = $event"
      (netVerifyQuantityChange)="netVerifyQuantity = $event"
      (showSupplierAmount)="showSupplierAmount = $event"
    ></app-purchase-order-verify-form> -->
    <dxi-toolbar-item toolbar="bottom" location="center">
      <div
        class="form-popup-buttons-container"
        [class.flex-buttons]="width <= 360"
      >
        <div style="display: flex; align-items: center">
          <label style="margin-right: 8px">Quantity</label>
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netVerifyQuantity"
            placeholder="0"
            [rtlEnabled]="true"
          ></dx-text-box>
          <label style="margin-right: 8px; margin-left: 8px">Net Amount</label>
          <dx-text-box
            *ngIf="showSupplierAmount"
            [width]="150"
            [readOnly]="true"
            [(value)]="netVerifySupplierAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box
          >&nbsp;
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netVerifyAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box>
        </div>
        <dx-button
          *ngIf="isEditPopupOpened"
          text="Cancel"
          stylingMode="outlined"
          type="normal"
        ></dx-button>
        <dx-button
          text="Verify"
          stylingMode="contained"
          type="default"
        ></dx-button>
      </div>
    </dxi-toolbar-item>
  </dx-popup>

  <!-- <dx-popup
    [(visible)]="isApprovePopupOpened"
    title="Approve Purchase Order"
    [height]="'100vh'"
    [width]="width"
  >
    <app-purchase-order-approve-form
      [formdata]="selectedRowData"
      (closeForm)="CloseEditForm()"
      (netApproveSupplierAmountChange)="netApproveSupplierAmount = $event"
      (netApproveAmountChange)="netApproveAmount = $event"
      (netApproveQuantityChange)="netApproveQuantity = $event"
      (showSupplierAmount)="showSupplierAmount = $event"
    ></app-purchase-order-approve-form>
    <dxi-toolbar-item toolbar="bottom" location="center">
      <div
        class="form-popup-buttons-container"
        [class.flex-buttons]="width <= 360"
      >
        <div style="display: flex; align-items: center">
          <label style="margin-right: 8px">Quantity</label>
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netApproveQuantity"
            placeholder="0"
            [rtlEnabled]="true"
          ></dx-text-box>
          <label style="margin-right: 8px; margin-left: 8px">Net Amount</label>
          <dx-text-box
            *ngIf="showSupplierAmount"
            [width]="150"
            [readOnly]="true"
            [(value)]="netApproveSupplierAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box
          >&nbsp;
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netApproveAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box>
        </div>
        <dx-button
          text="Cancel"
          stylingMode="outlined"
          type="normal"
        ></dx-button>
        <dx-button
          text="Approve"
          stylingMode="contained"
          type="default"
          (onClick)="ApprovePurchaseOrder()"
        ></dx-button>
      </div>
    </dxi-toolbar-item>
  </dx-popup> -->

  <dx-popup
    *ngIf="isViewPopupOpened"
    [(visible)]="isViewPopupOpened"
    title="View Purchase Order"
    [width]="width"
    [height]="height"
  >
    <app-purchase-order-view-form
      [formdata]="selectedRowData"
      (closeForm)="CloseEditForm()"
      (netViewSupplierAmountChange)="netViewSupplierAmount = $event"
      (netViewAmountChange)="netViewAmount = $event"
      (netViewQuantityChange)="netViewQuantity = $event"
      (showSupplierAmount)="showSupplierAmount = $event"
    ></app-purchase-order-view-form>
    <dxi-toolbar-item toolbar="bottom" location="center">
      <div
        class="form-popup-buttons-container"
        [class.flex-buttons]="width <= 360"
      >
        <!-- <div style="display: flex; align-items: center">
          <label style="margin-right: 8px">Quantity</label>
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netViewQuantity"
            placeholder="0"
            [rtlEnabled]="true"
          ></dx-text-box>
          <label style="margin-right: 8px; margin-left: 8px">Net Amount</label>
          <dx-text-box
            *ngIf="showSupplierAmount"
            [width]="150"
            [readOnly]="true"
            [(value)]="netViewSupplierAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box
          >&nbsp;
          <dx-text-box
            [width]="150"
            [readOnly]="true"
            [(value)]="netViewAmount"
            placeholder="0.00"
            [rtlEnabled]="true"
          ></dx-text-box>
        </div> -->
      </div>
    </dxi-toolbar-item>
  </dx-popup>

  <!-- <dx-popup
  [(visible)]="isPrintPopupOpened"
  title="Print Purchase Order"
  [height]="'80vh'"
  [width]="'80vw'"
  [showCloseButton]="true"
>
<div class="print-container">
  <dx-sortable group="printTemplateGroup" [moveItemOnDrop]="true" (onReorder)="onTemplateReorder($event)"
  >
    <div *ngFor="let item of printTemplateData">
      <div dx-draggable>
        <ng-container [ngSwitch]="item.type">
         
          <h6 *ngSwitchCase="'main-header'" class="main-header" style="text-align: center;">
            {{ item.data }}
          </h6>

          <div *ngSwitchCase="'header'" [innerHTML]="item.data"></div>
          
         
          <dx-data-grid
            *ngSwitchCase="'grid'"
            [dataSource]="item.data"
            height="auto"
            [columns]="[
              { caption: 'Item Code', dataField: 'ITEM_CODE' },
              { caption: 'Description', dataField: 'ITEM_DESC' },
              { caption: 'UOM', dataField: 'UOM' },
              { caption: 'Price', dataField: 'PRICE', format: { 
                type: 'fixedPoint', 
                precision: 2 
              }  },
              { caption: 'Quantity', dataField: 'QUANTITY',alignment: 'center'  },
              { caption: 'Disc %', dataField: 'DISC_PERCENT',alignment: 'center'  },
              { caption: 'Tax %', dataField: 'TAX_PERCENT',alignment: 'center',format: { 
                type: 'fixedPoint', 
                precision: 2 
              }   },
              { caption: 'Total', dataField: 'TOTAL_AMOUNT', format: { 
                type: 'fixedPoint', 
                precision: 2 
              }  }
            ]"
            [showBorders]="true"
          >
          <dxo-summary>
            <dxi-total-item 
              column="ITEM_CODE" 
              displayFormat="Total"
            ></dxi-total-item>
            <dxi-total-item 
              column="QUANTITY" 
              summaryType="sum" 
              displayFormat="{0}" 
              valueFormat="##0" 
            ></dxi-total-item>
            <dxi-total-item 
              column="TOTAL_AMOUNT" 
              summaryType="sum" 
              displayFormat="{0}" 
            ></dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
          
          
          <p *ngSwitchCase="'footer'" class="footer">
            {{ item.data }}
          </p>
        </ng-container>
      </div>
    </div>
  </dx-sortable>
</div>
  <dxi-toolbar-item toolbar="bottom" location="center">
    <div
      class="form-popup-buttons-container"
      [class.flex-buttons]="width <= 360"
    >
    <dx-button
      text="Close"
      stylingMode="outlined"
      type="normal"
      (onClick)="ClosePrintPopup()"
    ></dx-button>
    <dx-button
      text="Print"
      stylingMode="contained"
      type="default"
      icon="print"
      (onClick)="ExecutePrint()"
    ></dx-button>
    </div>
  </dxi-toolbar-item>

</dx-popup> -->

  <dx-popup
    [(visible)]="showTemplatePopup"
    title="Choose Template"
    [height]="'30vh'"
    [width]="'30vw'"
    [showCloseButton]="true"
  >
    <div class="popup-content">
      <dx-select-box
        [(value)]="selectedTemplate"
        [dataSource]="templateList"
        displayExpr="TEMPLATE_NAME"
        valueExpr="TEMPLATE_NAME"
        placeholder="Select a template"
        [searchEnabled]="true"
      ></dx-select-box>
      <dxi-toolbar-item toolbar="bottom" location="center">
        <div
          class="form-popup-buttons-container"
          [class.flex-buttons]="width <= 360"
        >
          <dx-button
            style="margin-top: 30px"
            text="Print"
            type="default"
            stylingMode="contained"
            [width]="'100px'"
          ></dx-button>
        </div>
      </dxi-toolbar-item>
    </div>
  </dx-popup>

  <dx-popup
    [(visible)]="showReportDesigner"
    title="Print Purchase Order"
    [height]="'100vh'"
    [width]="width"
    [showCloseButton]="true"
    *ngIf="flag"
  >
    <div>
      <!-- <dx-report-designer [reportUrl]="reportName" height="700px" [developmentMode]="true">
      <dxrd-request-options [getDesignerModelAction]="getDesignerModelAction"
       [host]="host"></dxrd-request-options>

       <dxrd-designer-model-settings [allowMDI]="true">
        <dxrd-datasource-settings [allowAddDataSource]="false" [allowRemoveDataSource]="false"></dxrd-datasource-settings>
        <dxrd-preview-settings>
            <dxrv-export-settings [useSameTab]="false" [useAsynchronousExport]="false" ></dxrv-export-settings>
            <dxrv-progressbar-settings position="TopRight"></dxrv-progressbar-settings>
            <dxrv-search-settings [useAsyncSearch]="false"></dxrv-search-settings>
        </dxrd-preview-settings>
        </dxrd-designer-model-settings>

  </dx-report-designer> -->
      <!-- <dx-report-viewer [reportUrl]="reportName" height="800px">
        <dxrv-request-options
          [invokeAction]="getDesignerModelAction"
          [host]="host"
        ></dxrv-request-options>
        <dxrv-callbacks
          (ParametersInitialized)="OnParametersInitialized($event)"
        ></dxrv-callbacks>
      </dx-report-viewer> -->
    </div>
  </dx-popup>
</div>
